/*!
Theme Name: SiteOrigin Unwind
Author: SiteOrigin
Author URI: https://siteorigin.com/
Theme URI: https://siteorigin.com/theme/unwind/
Description: SiteOrigin Unwind is our latest, flexible multipurpose theme. It's fully responsive and retina ready. Some key features are its responsive menu, gorgeous animations and tight integration with various plugins. You can use it to create a business website using SiteOrigin Page Builder and our Widgets Bundle. You can also build a full ecommerce store though Unwind's WooCommerce integration. We offer free and premium support on our support <a href="http://siteorigin.com/thread/">forums</a> (http://siteorigin.com/thread/).
Version: 1.0.10
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: siteorigin-unwind
Tags: one-column, two-columns, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, full-width-template, sticky-post, theme-options, translation-ready, blog, e-commerce
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
# Jetpack
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
>>> IMPORTANT NOTICE:
----------------------------------------------------------------
Please don't edit below, changes will be lost during the theme 
update process. If you need to make CSS modifications try
https://wordpress.org/plugins/so-css/.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 93.75%; }

body,
button,
input,
select,
textarea {
  color: #626262;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-size: 1em;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 400;
  line-height: 1.8666; }

.site-content {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

/*--------------------------------------------------------------
## Headings
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #2d2d2d;
  font-family: "Merriweather", serif;
  font-weight: 700;
  margin: 1em 0; }

h1 {
  font-size: 34.1328px;
  font-size: 2.1333rem; }

h2 {
  font-size: 29.8656px;
  font-size: 1.8666rem; }

h3 {
  font-size: 25.6px;
  font-size: 1.6rem; }

h4 {
  font-size: 21.3328px;
  font-size: 1.3333rem; }

h5 {
  font-size: 19.2px;
  font-size: 1.2rem; }

h6 {
  font-size: 17.0656px;
  font-size: 1.0666rem; }

.heading-strike {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  text-transform: uppercase; }
  .heading-strike:before, .heading-strike:after {
    align-self: center;
    background-color: #f4f4f4;
    content: '\a0';
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    height: 2px; }
  .heading-strike:before {
    margin-right: 7px; }
  .heading-strike:after {
    margin-left: 7px; }

/*--------------------------------------------------------------
## Copy
--------------------------------------------------------------*/
p {
  margin: 0 0 1.9833em; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  border-left: 3px solid #24c48a;
  color: #828282;
  font-style: italic;
  margin: 0 0 2.25em;
  padding: .5em 0 .55em 1.3333em; }
  blockquote p {
    margin-bottom: 0; }

address {
  margin: 0 0 1.9833; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.9833;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #626262;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #f4f4f4;
  border: 0;
  height: 1px;
  margin-bottom: 1.9833em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
ul,
ol {
  margin: 0 0 2.25em 2.4em;
  padding: 0; }
  ul li,
  ol li {
    padding-bottom: .2em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin: 0 0 0 2.4em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 0 2.4em; }

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
table {
  border: 1px solid #ebebeb;
  font-family: "Lato", sans-serif;
  margin: 0 0 1.9833em;
  max-width: 100%;
  text-align: left;
  width: 100%; }
  table a {
    text-decoration: none; }
  table thead tr {
    background: #f4f4f4; }
  table thead th {
    color: #2d2d2d;
    font-size: 13.8656px;
    font-size: 0.8666rem;
    letter-spacing: 1px;
    padding: 1.4306em 1.4665em;
    text-transform: uppercase; }
  table tr:nth-child(2n+2) {
    background: #f4f4f4; }
  table th,
  table td {
    padding: 1.1999em 1.4665em; }
    @media (max-width: 768px) {
      table th,
      table td {
        padding: 2%; } }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.button, #page #infinite-handle span button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce #page #infinite-handle span button, #page #infinite-handle span
.woocommerce button,
.woocommerce input.button,
.woocommerce.single-product .cart button {
  background: #fff;
  border: 2px solid;
  border-color: #ebebeb;
  border-radius: 0;
  color: #2d2d2d;
  font-family: "Lato", sans-serif;
  font-size: 13.8656px;
  font-size: 0.8666rem;
  line-height: 1;
  letter-spacing: 1.5px;
  outline-style: none;
  padding: 1em 1.923em;
  transition: 0.3s;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover, #page #infinite-handle span button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .woocommerce #respond input#submit:hover,
  .woocommerce a.button:hover,
  .woocommerce button.button:hover,
  .woocommerce #page #infinite-handle span button:hover, #page #infinite-handle span
  .woocommerce button:hover,
  .woocommerce input.button:hover,
  .woocommerce.single-product .cart button:hover {
    background: #fff;
    border-color: #24c48a;
    color: #24c48a; }
  .button:active, #page #infinite-handle span button:active, .button:focus, #page #infinite-handle span button:focus,
  button:active,
  button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  .woocommerce #respond input#submit:active,
  .woocommerce #respond input#submit:focus,
  .woocommerce a.button:active,
  .woocommerce a.button:focus,
  .woocommerce button.button:active,
  .woocommerce #page #infinite-handle span button:active, #page #infinite-handle span
  .woocommerce button:active,
  .woocommerce button.button:focus,
  .woocommerce #page #infinite-handle span button:focus, #page #infinite-handle span
  .woocommerce button:focus,
  .woocommerce input.button:active,
  .woocommerce input.button:focus,
  .woocommerce.single-product .cart button:active,
  .woocommerce.single-product .cart button:focus {
    border-color: #24c48a;
    color: #24c48a; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #adadad;
  border: 1px solid #ebebeb; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #626262;
    outline: none; }

select {
  border: 1px solid #ebebeb;
  max-width: 100%; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
  font-size: 14px;
  outline: none;
  padding: 5px 15px; }

textarea {
  outline: none;
  padding: 5px 15px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #24c48a;
  text-decoration: none; }
  a:hover, a:focus {
    color: #00a76a; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  float: left; }
  .main-navigation::after {
    clear: both;
    content: "";
    display: table; }
  .main-navigation > div {
    display: inline-block; }
    .main-navigation > div ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0; }
      .main-navigation > div ul ul {
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        float: left;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: 50px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -ms-transform-origin: center top;
        -o-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform: scaleY(0);
        visibility: hidden;
        z-index: 99999; }
        .main-navigation > div ul ul ul {
          left: 100%;
          top: 0; }
        .main-navigation > div ul ul li {
          padding: 0; }
          .main-navigation > div ul ul li:hover > ul,
          .main-navigation > div ul ul li.focus > ul {
            left: 100%; }
          .main-navigation > div ul ul li:last-child a {
            border-bottom: 0; }
        .main-navigation > div ul ul a {
          border-bottom: 1px solid #f4f4f4;
          font-family: "Merriweather", serif;
          font-size: 13.8656px;
          font-size: 0.8666rem;
          letter-spacing: normal;
          line-height: normal;
          margin: 0 20px;
          min-width: 150px;
          padding: 15px 0;
          text-transform: none; }
      .main-navigation > div ul li:hover > ul,
      .main-navigation > div ul li.focus > ul {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        visibility: visible; }
    .main-navigation > div li {
      float: left;
      padding: 2px 45px 0 0;
      position: relative; }
      .main-navigation > div li a {
        text-transform: uppercase;
        color: #626262;
        font-family: "Lato", sans-serif;
        font-size: 12.8px;
        font-size: 0.8rem;
        letter-spacing: 1px;
        line-height: 60px; }
      .main-navigation > div li:hover > a,
      .main-navigation > div li.focus > a {
        color: #2d2d2d; }
    .main-navigation > div a {
      display: block;
      text-decoration: none; }
  .main-navigation .mega-menu .mega-menu-megamenu ul.mega-sub-menu {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1); }
  .header-design-3 .main-navigation {
    display: inline-block;
    float: none; }
  .header-design-4 .main-navigation {
    display: inline-block;
    float: right;
    padding: 30px 0; }
    .header-design-4 .main-navigation > div li a {
      line-height: 30px; }

/*--------------------------------------------------------------
## Social and Search Icons
--------------------------------------------------------------*/
.social-search {
  float: right; }
  .social-search .search-toggle {
    background: transparent;
    border: none;
    line-height: 60px;
    outline: none;
    padding: 0; }
    .social-search .search-toggle .open {
      display: block; }
      .social-search .search-toggle .open .svg-icon-search {
        height: 16px;
        width: 17px;
        position: relative;
        top: 5px; }
        .social-search .search-toggle .open .svg-icon-search path {
          fill: #626262; }
    .social-search .search-toggle .close {
      display: none; }
      .social-search .search-toggle .close .svg-icon-close {
        height: 16px;
        width: 16px;
        position: relative;
        top: 5px; }
        .social-search .search-toggle .close .svg-icon-close path {
          fill: #626262; }
    .social-search .search-toggle.close-search .open {
      display: none; }
    .social-search .search-toggle.close-search .close {
      display: block; }
  .social-search .widget {
    display: inline-block; }
  .social-search .v-line {
    background: #ebebeb;
    display: inline-block;
    height: 10px;
    line-height: 60px;
    margin: 0 8px;
    width: 1px; }
  .header-design-3 .social-search,
  .header-design-4 .social-search {
    float: none; }
    .header-design-3 .social-search .v-line,
    .header-design-4 .social-search .v-line {
      display: none; }
    .header-design-3 .social-search .search-toggle,
    .header-design-4 .social-search .search-toggle {
      float: right;
      line-height: 45px; }

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/
.main-navigation > div ul {
  display: none; }

.menu-toggle {
  display: block;
  border: 0;
  background: transparent;
  line-height: 60px;
  outline: none;
  padding: 0; }
  .menu-toggle .svg-icon-menu {
    vertical-align: middle;
    width: 22px; }
    .menu-toggle .svg-icon-menu path {
      fill: #626262; }

#mobile-navigation {
  left: 0;
  position: absolute;
  top: 61px;
  width: 100%;
  z-index: 10; }
  .header-design-4 #mobile-navigation {
    top: 100px; }
  #mobile-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #mobile-navigation ul li {
      background: #f4f4f4;
      border-bottom: 1px solid #ebebeb;
      line-height: 42px;
      padding: 0;
      position: relative;
      width: 100%; }
      #mobile-navigation ul li a {
        color: #626262;
        display: block;
        font-family: "Lato", sans-serif;
        font-size: 12.8px;
        font-size: 0.8rem;
        letter-spacing: .1em;
        line-height: normal;
        padding: 14px 0 12px 20px;
        text-transform: uppercase;
        width: 100%; }
      #mobile-navigation ul li.menu-item-has-children > a {
        max-width: 100%;
        padding-right: 48px; }
      #mobile-navigation ul li .dropdown-toggle {
        background: transparent;
        border: 0;
        box-shadow: none;
        content: "Open";
        height: 30px;
        padding: 6px;
        position: absolute;
        right: 5px;
        top: 6px;
        outline: none;
        width: 42px; }
        #mobile-navigation ul li .dropdown-toggle .svg-icon-submenu {
          height: 10px;
          width: 10px; }
          #mobile-navigation ul li .dropdown-toggle .svg-icon-submenu path {
            fill: #626262; }
    #mobile-navigation ul ul {
      border-top: 1px solid #ebebeb;
      display: none;
      margin: 0;
      padding: 0; }
      #mobile-navigation ul ul li {
        background: #fff; }
        #mobile-navigation ul ul li:last-of-type {
          border: 0; }
        #mobile-navigation ul ul li a {
          padding-left: 40px;
          text-transform: uppercase;
          width: 100%; }
        #mobile-navigation ul ul li ul {
          display: none; }

#mobile-navigation ul ul li a {
  padding-left: 40px; }

#mobile-navigation ul ul ul li a {
  padding-left: 80px; }

#mobile-navigation ul ul ul ul li a {
  padding-left: 120px; }

#mobile-navigation ul ul ul ul ul li a {
  padding-left: 160px; }

#mobile-navigation ul ul ul ul ul ul li a {
  padding-left: 200px; }

/*--------------------------------------------------------------
## Posts, Post and Comment Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: auto; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  padding: 1em 0;
  text-align: left;
  width: 50%; }
  .comment-navigation .nav-previous span,
  .posts-navigation .nav-previous span,
  .post-navigation .nav-previous span {
    font-family: Verdana, Geneva, sans-serif;
    margin-right: .2em; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  padding: 1em 0;
  text-align: right;
  width: 50%; }
  .comment-navigation .nav-next span,
  .posts-navigation .nav-next span,
  .post-navigation .nav-next span {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: .2em; }

.comment-navigation a,
.posts-navigation a,
.post-navigation a {
  border: 2px solid #ebebeb;
  color: #626262;
  padding: 1em 1.923em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }
  .comment-navigation a:hover,
  .posts-navigation a:hover,
  .post-navigation a:hover {
    border-color: #24c48a;
    color: #24c48a; }

.posts-navigation .nav-links,
.comment-navigation .nav-links {
  font-size: 13.8656px;
  font-size: 0.8666rem;
  font-family: "Lato", sans-serif !important;
  letter-spacing: .1em; }
  .posts-navigation .nav-links .nav-previous span,
  .comment-navigation .nav-links .nav-previous span {
    margin-right: .5em; }
  .posts-navigation .nav-links .nav-next span,
  .comment-navigation .nav-links .nav-next span {
    margin-left: .5em; }

.pagination {
  margin: 0 0 4.6666em;
  text-align: center; }
  .pagination .page-numbers {
    background: #fff;
    border: 1px solid #ebebeb;
    color: #626262;
    font-size: 13px;
    margin-right: 1px;
    padding: 9px 11px 8px; }
    .pagination .page-numbers:hover {
      background: #24c48a;
      border-color: #24c48a;
      color: #fff; }
  .pagination .dots {
    background: none;
    border: 0;
    font-size: 13px;
    padding-right: 0;
    padding-left: 0; }
    .pagination .dots:hover {
      background: none;
      color: #626262; }
  .pagination .current {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff; }
  .pagination .next,
  .pagination .prev {
    font-family: "Lato", sans-serif;
    padding: 9px 9px 8px; }

#comment-nav-above {
  padding-top: 35px; }

#comment-nav-below {
  padding-top: 25px; }

.post-navigation {
  border-top: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  font-family: "Merriweather", serif;
  font-size: 17.0656px;
  font-size: 1.0666rem;
  font-weight: 600;
  padding: 4em 0; }
  .post-navigation a {
    border: none;
    color: #626262;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    text-transform: none; }
    .post-navigation a:hover {
      color: #24c48a; }
    .post-navigation a .sub-title {
      border-bottom: 2px solid #ebebeb;
      color: #adadad;
      display: inline-block;
      font-family: "Lato", sans-serif;
      font-size: 13.8656px;
      font-size: 0.8666rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: normal;
      margin-bottom: 1.1em;
      padding-bottom: .2em; }
    .post-navigation a div {
      line-height: normal; }

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs,
.woocommerce .woocommerce-breadcrumb {
  color: #adadad;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: normal;
  margin-bottom: 24px;
  text-transform: uppercase; }
  .breadcrumbs a,
  .woocommerce .woocommerce-breadcrumb a {
    color: #2d2d2d; }
    .breadcrumbs a:hover,
    .woocommerce .woocommerce-breadcrumb a:hover {
      color: #24c48a; }
  .breadcrumbs a,
  .breadcrumbs span,
  .woocommerce .woocommerce-breadcrumb a,
  .woocommerce .woocommerce-breadcrumb span {
    padding: 0 4px; }
  .breadcrumbs .breadcrumb_last,
  .woocommerce .woocommerce-breadcrumb .breadcrumb_last {
    color: #adadad; }

.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 35px; }

.breadcrumbs.bcn a,
.breadcrumbs.bcn span {
  padding: 0; }

.breadcrumbs.bcn span {
  padding: 0 2px; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.9833em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.9833em; }

@media (max-width: 480px) {
  .alignleft,
  .alignright {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; } }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before::after,
.clear:after::after,
.entry-content:before::after,
.entry-content:after::after,
.comment-content:before::after,
.comment-content:after::after,
.site-header:before::after,
.site-header:after::after,
.site-content:before::after,
.site-content:after::after,
.site-footer:before::after,
.site-footer:after::after {
  clear: both;
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
#secondary .widget .widget-title,
#colophon .widget .widget-title,
#masthead-widgets .widget .widget-title {
  color: #626262;
  font-size: 13px;
  line-height: normal;
  margin: 0 0 1.6em;
  text-transform: uppercase; }
  #secondary .widget .widget-title ~ *,
  #colophon .widget .widget-title ~ *,
  #masthead-widgets .widget .widget-title ~ * {
    font-size: 14px; }

#secondary .widget a,
#colophon .widget a,
#masthead-widgets .widget a {
  color: #626262;
  text-decoration: none; }
  #secondary .widget a:hover,
  #colophon .widget a:hover,
  #masthead-widgets .widget a:hover {
    color: #24c48a; }

#secondary .widget p,
#colophon .widget p,
#masthead-widgets .widget p {
  margin-bottom: 24px; }

#secondary .widget ul,
#colophon .widget ul,
#masthead-widgets .widget ul {
  list-style: none;
  margin: 0; }

#secondary .widget.widget_archive ul li, #secondary .widget.widget_categories ul li, #secondary .widget.widget_recent_comments ul li, #secondary .widget.widget_recent_entries ul li, #secondary .widget.widget_meta ul li,
#colophon .widget.widget_archive ul li,
#colophon .widget.widget_categories ul li,
#colophon .widget.widget_recent_comments ul li,
#colophon .widget.widget_recent_entries ul li,
#colophon .widget.widget_meta ul li,
#masthead-widgets .widget.widget_archive ul li,
#masthead-widgets .widget.widget_categories ul li,
#masthead-widgets .widget.widget_recent_comments ul li,
#masthead-widgets .widget.widget_recent_entries ul li,
#masthead-widgets .widget.widget_meta ul li {
  border-bottom: 1px solid #f4f4f4;
  font-size: 13px;
  line-height: normal;
  padding: 1.25em 0; }
  #secondary .widget.widget_archive ul li:first-of-type, #secondary .widget.widget_categories ul li:first-of-type, #secondary .widget.widget_recent_comments ul li:first-of-type, #secondary .widget.widget_recent_entries ul li:first-of-type, #secondary .widget.widget_meta ul li:first-of-type,
  #colophon .widget.widget_archive ul li:first-of-type,
  #colophon .widget.widget_categories ul li:first-of-type,
  #colophon .widget.widget_recent_comments ul li:first-of-type,
  #colophon .widget.widget_recent_entries ul li:first-of-type,
  #colophon .widget.widget_meta ul li:first-of-type,
  #masthead-widgets .widget.widget_archive ul li:first-of-type,
  #masthead-widgets .widget.widget_categories ul li:first-of-type,
  #masthead-widgets .widget.widget_recent_comments ul li:first-of-type,
  #masthead-widgets .widget.widget_recent_entries ul li:first-of-type,
  #masthead-widgets .widget.widget_meta ul li:first-of-type {
    padding-top: 0; }

#secondary .widget {
  margin-bottom: 4em; }
  #secondary .widget::after {
    clear: both;
    content: "";
    display: table; }

/*--------------------------------------------------------------
## Categories Widget
--------------------------------------------------------------*/
.widget_categories {
  color: #adadad; }
  .widget_categories a {
    color: #626262; }
    .widget_categories a:hover {
      color: #2d2d2d; }

/*--------------------------------------------------------------
## Calendar Widget
--------------------------------------------------------------*/
.widget #wp-calendar {
  border: none;
  margin: 0; }
  .widget #wp-calendar caption {
    color: #2d2d2d;
    font-family: "Merriweather", serif;
    font-size: 14.9328px;
    font-size: 0.9333rem;
    font-weight: 700;
    padding-bottom: .4em;
    text-align: center; }
  .widget #wp-calendar tr:nth-child(2n+2) {
    background: none; }
  .widget #wp-calendar th,
  .widget #wp-calendar td {
    padding: 0; }
  .widget #wp-calendar thead {
    border-bottom: 1px solid #f4f4f4; }
    .widget #wp-calendar thead tr {
      background: none; }
    .widget #wp-calendar thead th {
      padding-bottom: .7em;
      text-align: center; }
  .widget #wp-calendar tbody {
    font-size: 13.8656px;
    font-size: 0.8666rem; }
    .widget #wp-calendar tbody .pad {
      background: none; }
    .widget #wp-calendar tbody tr:first-of-type td {
      padding-top: .7em; }
    .widget #wp-calendar tbody td {
      padding-bottom: .5em;
      text-align: center; }
  .widget #wp-calendar tfoot #prev,
  .widget #wp-calendar tfoot #next {
    font-size: 14.9328px;
    font-size: 0.9333rem; }
    .widget #wp-calendar tfoot #prev a,
    .widget #wp-calendar tfoot #next a {
      color: #24c48a; }
      .widget #wp-calendar tfoot #prev a:hover,
      .widget #wp-calendar tfoot #next a:hover {
        color: #00a76a; }
  .widget #wp-calendar tfoot #next {
    text-align: right; }

/*--------------------------------------------------------------
## Recent Posts Widget
--------------------------------------------------------------*/
.widget_recent_entries a {
  padding-bottom: 0.5em; }

.widget_recent_entries .post-date {
  color: #adadad;
  display: block;
  font-size: 12.8px;
  font-size: 0.8rem;
  padding-top: 0.5em; }

/*--------------------------------------------------------------
## Recent Posts Extended Widget
--------------------------------------------------------------*/
.recent-posts-extended li {
  clear: both;
  padding-top: 3px; }

.recent-posts-extended .rpwe-alignleft {
  float: left;
  margin-right: 15px;
  padding-bottom: 20px; }

.recent-posts-extended h3 {
  color: #626262;
  clear: none;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding-top: 3px; }
  .recent-posts-extended h3 a:hover {
    color: #2d2d2d; }

.recent-posts-extended time {
  color: #adadad;
  font-size: 12px; }

/*--------------------------------------------------------------
## Search Widget
--------------------------------------------------------------*/
#secondary .widget_search .search-form,
#colophon .widget_search .search-form,
#masthead-widgets .widget_search .search-form {
  position: relative; }
  #secondary .widget_search .search-form input[type="search"],
  #colophon .widget_search .search-form input[type="search"],
  #masthead-widgets .widget_search .search-form input[type="search"] {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%; }
  #secondary .widget_search .search-form button[type="submit"],
  #colophon .widget_search .search-form button[type="submit"],
  #masthead-widgets .widget_search .search-form button[type="submit"] {
    border: none;
    padding: 7px;
    padding-left: 8px;
    position: absolute;
    right: 15px;
    top: 3px; }
    #secondary .widget_search .search-form button[type="submit"] svg,
    #colophon .widget_search .search-form button[type="submit"] svg,
    #masthead-widgets .widget_search .search-form button[type="submit"] svg {
      fill: #626262;
      height: 16px;
      width: 16px; }

/*--------------------------------------------------------------
## Social Media Icons (Jetpack)
--------------------------------------------------------------*/
.widget.widget_wpcom_social_media_icons_widget {
  text-align: center; }
  .widget.widget_wpcom_social_media_icons_widget li {
    margin-right: 18px; }

/*--------------------------------------------------------------
## Tag Cloud Widget
--------------------------------------------------------------*/
#page .widget_tag_cloud a {
  border: 1px solid #f4f4f4;
  color: #626262;
  display: inline-block;
  font-size: 15px;
  line-height: normal;
  margin: 0 7px 10px 0;
  padding: 8px 10px;
  text-decoration: none; }
  #page .widget_tag_cloud a:hover {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff !important; }

#secondary .widget_tag_cloud,
#colophon .widget_tag_cloud,
#masthead-widgets .widget_tag_cloud {
  font-size: 14.856px;
  font-size: 0.9285rem; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Containers
--------------------------------------------------------------*/
.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0 25px;
  position: relative;
  width: 100%; }
  @media (max-width: 480px) {
    .container {
      padding: 0 15px; } }

.site-content::after {
  clear: both;
  content: "";
  display: table; }

.content-area {
  float: left;
  margin: 0 -25.61404% 0 0;
  width: 100%; }
  .no-active-sidebar .content-area {
    float: none;
    margin: 0;
    width: auto; }
  @media (max-width: 768px) {
    .content-area {
      float: none;
      margin: 0;
      width: auto; } }

.site-main {
  margin: 0 25.61404% 0 0; }
  .no-active-sidebar .site-main {
    margin: 0; }
  @media (max-width: 768px) {
    .site-main {
      margin: 0; } }

.site-content .widget-area {
  float: right;
  overflow: hidden;
  padding-left: 40px;
  width: 25.61404%; }
  @media (max-width: 768px) {
    .site-content .widget-area {
      float: none;
      margin-top: 5.3333em;
      padding-left: 0;
      width: 100%; } }

.site-footer {
  clear: both;
  width: 100%; }

.main-sidebar-left .content-area {
  float: right;
  margin: 0 0 0 -25.61404%; }

.main-sidebar-left .site-main {
  margin: 0 0 0 25.61404%; }

.main-sidebar-left .site-content .widget-area {
  float: left;
  padding-left: 0;
  padding-right: 40px; }

/*--------------------------------------------------------------
## Page Settings
--------------------------------------------------------------*/
.page-layout-no-sidebar .site-main,
.page-layout-full-width .site-main {
  margin: 0; }

.page-layout-full-width .site-content .container,
.page-layout-full-width-sidebar .site-content .container {
  max-width: 100%; }

.page-layout-no-masthead-margin #masthead,
.page-layout-no-masthead-margin.home #masthead,
.page-layout-no-masthead-margin.archive #masthead {
  margin-bottom: 0; }

.page-layout-no-masthead-margin.archive .container > .page-header, .page-layout-no-masthead-margin.search .container > .page-header {
  margin-bottom: 0; }

.page-layout-no-footer-margin #colophon {
  margin-top: 0; }

/*--------------------------------------------------------------
## Site Masthead
--------------------------------------------------------------*/
#masthead {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 80px; }
  .header-design-2 #masthead {
    border-bottom: none; }
  #masthead .top-bar {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    z-index: 9999; }
    #masthead .top-bar::after {
      clear: both;
      content: "";
      display: table; }
    .header-design-2 #masthead .top-bar {
      border-top: 1px solid #ebebeb; }
    .homepage-has-slider.header-design-2 #masthead .top-bar {
      border-bottom: none; }
    .sticky-menu:not(.top-bar-out) #masthead .top-bar {
      position: relative;
      top: auto; }
    .sticky-menu.top-bar-out #masthead .top-bar {
      border-top: none;
      border-bottom: 1px solid #ebebeb;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; }
      .sticky-menu.top-bar-out #masthead .top-bar::after {
        clear: both;
        content: "";
        display: table; }
    .sticky-menu.top-bar-out.admin-bar #masthead .top-bar {
      top: 32px; }
      @media screen and (max-width: 782px) {
        .sticky-menu.top-bar-out.admin-bar #masthead .top-bar {
          top: 46px; } }
      @media screen and (max-width: 600px) {
        .sticky-menu.top-bar-out.admin-bar #masthead .top-bar {
          position: absolute;
          top: auto; } }
  #masthead .top-bar-sentinel {
    box-sizing: border-box; }
  #masthead .site-branding {
    padding: 60px 0;
    text-align: center; }
    #masthead .site-branding .site-title {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 64px;
      font-size: 4rem;
      letter-spacing: 4px;
      line-height: normal;
      margin: 0;
      text-align: center;
      text-transform: uppercase; }
      @media (max-width: 480px) {
        #masthead .site-branding .site-title {
          font-size: 51.2px;
          font-size: 3.2rem; } }
      #masthead .site-branding .site-title a {
        color: #2d2d2d;
        text-decoration: none; }
    #masthead .site-branding .site-description {
      font-size: 14.9328px;
      font-size: 0.9333rem;
      line-height: 1.7142;
      margin-bottom: 0;
      text-align: center; }
    .header-design-4 #masthead .site-branding {
      display: inline-block;
      padding: 30px 0;
      text-align: left; }
      .header-design-4 #masthead .site-branding .site-title {
        font-size: 40px;
        font-size: 2.5rem;
        text-align: left; }
        @media (max-width: 480px) {
          .header-design-4 #masthead .site-branding .site-title {
            font-size: 28.8px;
            font-size: 1.8rem; } }
  #masthead #masthead-widgets {
    margin: 60px auto; }
    #masthead #masthead-widgets::after {
      clear: both;
      content: "";
      display: table; }
    #masthead #masthead-widgets .widgets.widgets-1 .widget {
      width: 100%; }
    #masthead #masthead-widgets .widgets.widgets-2 .widget {
      width: 48.75%; }
    #masthead #masthead-widgets .widgets.widgets-3 .widget {
      width: 31.66667%; }
    #masthead #masthead-widgets .widgets.widgets-4 .widget {
      width: 23.125%; }
    #masthead #masthead-widgets .widgets.widgets-5 .widget {
      width: 18%; }
    #masthead #masthead-widgets .widgets.widgets-6 .widget {
      width: 14.58333%; }
    #masthead #masthead-widgets .widgets.widgets-7 .widget {
      width: 12.14286%; }
    #masthead #masthead-widgets .widgets.widgets-8 .widget {
      width: 10.3125%; }
    #masthead #masthead-widgets .widgets.widgets-9 .widget {
      width: 8.88889%; }
    #masthead #masthead-widgets .widgets.widgets-10 .widget {
      width: 7.75%; }
    #masthead #masthead-widgets .widgets .widget {
      box-sizing: content-box;
      margin-right: 2.5%;
      float: left; }
      #masthead #masthead-widgets .widgets .widget:last-of-type {
        margin-right: 0 !important; }
      @media (max-width: 768px) {
        #masthead #masthead-widgets .widgets .widget {
          float: none;
          margin: 0 0 4em;
          width: 100% !important; } }
  .home #masthead,
  .archive #masthead,
  .search #masthead {
    margin-bottom: 60px; }
  #masthead .main-navigation-bar {
    border-top: 1px solid #ebebeb;
    text-align: center; }
    #masthead .main-navigation-bar::after {
      clear: both;
      content: "";
      display: table; }

.homepage-has-slider #masthead {
  border-bottom: none;
  margin-bottom: 0; }

.homepage-has-slider .site-content {
  padding-top: 0; }

/*--------------------------------------------------------------
## Full Screen Search
--------------------------------------------------------------*/
#fullscreen-search {
  background: rgba(255, 255, 255, 0.97);
  display: none;
  left: 0;
  position: fixed;
  z-index: 10; }
  #fullscreen-search .container {
    left: 50%;
    max-width: 658px;
    position: absolute;
    top: 139px;
    transform: translate(-50%, -50%); }
  #fullscreen-search h3 {
    color: #626262;
    font-family: "Lato", sans-serif;
    font-size: 17.0656px;
    font-size: 1.0666rem;
    font-weight: 400;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase; }
  #fullscreen-search form {
    position: relative; }
    #fullscreen-search form input[type="search"] {
      background: transparent;
      border: 0;
      color: #626262;
      display: inline-block;
      font-size: 32px;
      max-width: 493px;
      outline: none; }
      @media (max-width: 768px) {
        #fullscreen-search form input[type="search"] {
          font-size: 24px;
          max-width: 100%;
          padding-left: 0; } }
    #fullscreen-search form button[type="submit"] {
      border: none;
      display: inline-block;
      outline: none;
      padding: 0;
      position: absolute;
      right: 0;
      top: 16px; }
      @media (max-width: 768px) {
        #fullscreen-search form button[type="submit"] {
          top: 14px; } }
      #fullscreen-search form button[type="submit"] svg {
        fill: #adadad;
        height: 31px;
        width: 32px; }
        @media (max-width: 768px) {
          #fullscreen-search form button[type="submit"] svg {
            height: 24px; } }
        @media (max-width: 480px) {
          #fullscreen-search form button[type="submit"] svg {
            display: none; } }
        #fullscreen-search form button[type="submit"] svg:last-child {
          display: none; }
          #fullscreen-search form button[type="submit"] svg:last-child path {
            -webkit-animation: spin 2s linear infinite;
            -moz-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            -webkit-transform-origin: 50% 50%;
            -moz-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            -o-transform-origin: 50% 50%;
            transform-origin: 50% 50%; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.page-header,
.page article:first-of-type .entry-header {
  margin-bottom: 2em; }

.entry {
  margin-bottom: 5em; }

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.entry-meta {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  letter-spacing: .1em;
  line-height: normal;
  text-align: center;
  text-transform: uppercase; }
  .entry-meta span {
    color: #adadad;
    font-size: 12.8px;
    font-size: 0.8rem; }
    @media (max-width: 480px) {
      .entry-meta span {
        font-size: 11.7328px;
        font-size: 0.7333rem; } }
    .entry-meta span:not(:last-child):after {
      content: '\00a0\00a0/\00a0\00a0';
      padding: 0 .4166em; }
    .entry-meta span a {
      color: inherit;
      text-decoration: none; }
      .entry-meta span a:hover {
        color: #24c48a; }

.entry-title {
  color: #2d2d2d;
  font-size: 34.1328px;
  font-size: 2.1333rem;
  line-height: normal;
  margin: 0.5em 0 35px;
  text-align: center; }
  @media (max-width: 480px) {
    .entry-title {
      font-size: 25.6px;
      font-size: 1.6rem; } }
  .page .entry-title {
    margin: 0; }
  .entry-title a {
    color: inherit;
    text-decoration: none; }
    .entry-title a:hover {
      color: #626262; }

.entry-thumbnail {
  margin: 0 0 35px; }
  .entry-thumbnail img {
    max-width: 100%;
    vertical-align: middle; }

.more-link {
  display: block;
  color: #2d2d2d;
  font-size: 13.8656px;
  font-size: 0.8666rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 30px; }
  .more-link .more-text {
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    padding: 10px 0; }
    .more-link .more-text:hover {
      border: 2px solid #24c48a;
      padding: 10px 12px; }

.page-links {
  clear: both;
  margin: 0 0 4.6666em; }
  .page-links .page-links-title {
    color: #2d2d2d; }
  .page-links a {
    text-decoration: none; }
  .page-links span:not(.page-links-title) {
    background: #24c48a;
    border: 1px solid #24c48a;
    color: #fff;
    font-size: 13.8656px;
    font-size: 0.8666rem;
    line-height: normal;
    margin-right: 1px;
    padding: 7px 13px; }
  .page-links .page-links-title ~ a span {
    background: #fff;
    border-color: #ebebeb;
    color: #626262; }
    .page-links .page-links-title ~ a span:hover {
      background: #24c48a;
      border: 1px solid #24c48a;
      color: #fff; }

.tags-list {
  margin-top: 1em; }
  .tags-list a {
    background: #ebebeb;
    color: #626262;
    display: inline-block;
    font-size: 13.8656px;
    font-size: 0.8666rem;
    line-height: normal;
    margin: 0 0.4615em 0.4615em 0;
    padding: 0.6153em 0.7692em;
    text-decoration: none; }
    .tags-list a:hover {
      background: #626262;
      color: #fff; }

/*--------------------------------------------------------------
## Archives & Search Results
--------------------------------------------------------------*/
.archive .container > .page-header,
.search .container > .page-header {
  border-bottom: 2px solid #f4f4f4;
  margin-bottom: 80px;
  padding-bottom: 4em; }
  .archive .container > .page-header .page-title,
  .search .container > .page-header .page-title {
    font-family: "Lato", sans-serif;
    font-size: 13.8656px;
    font-size: 0.8666rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase; }
  .archive .container > .page-header .page-title-text,
  .search .container > .page-header .page-title-text {
    border: 2px solid #ebebeb;
    border-right: none;
    border-left: none;
    display: inline-block;
    padding: 10px 0; }

.archive .taxonomy-description {
  margin-top: .4666em;
  text-align: center; }
  .archive .taxonomy-description p:last-of-type,
  .archive .taxonomy-description p:only-of-type {
    margin-bottom: 0; }

.archive-entry {
  border-bottom: 2px solid #f4f4f4;
  margin-bottom: 5em;
  padding-bottom: 5em; }
  .archive-entry:last-of-type {
    margin-bottom: 5.5em; }

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
.page-title {
  color: #2d2d2d;
  line-height: normal;
  margin: 0;
  text-align: center; }

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.content-area .search-form button[type="submit"] {
  border: none;
  padding: .65em;
  padding-left: 0.89375em;
  position: relative;
  right: 4.5356em;
  top: .2em; }
  .content-area .search-form button[type="submit"] svg {
    fill: #626262;
    height: 1.2666em;
    width: 1.3333em; }

/*--------------------------------------------------------------
## Jetpack Sharing
--------------------------------------------------------------*/
.share-this {
  font-size: 13px; }

.single-post .sharedaddy .sd-content {
  padding: 1em 0 1.5em;
  text-align: center;
  width: 100%; }
  .single-post .sharedaddy .sd-content ul {
    display: inline-block; }

/*--------------------------------------------------------------
## Related Posts
--------------------------------------------------------------*/
.yarpp-related,
.related-posts-section {
  padding-bottom: 1.3333em; }
  .yarpp-related .related-posts,
  .related-posts-section .related-posts {
    font-size: 1em;
    text-transform: uppercase; }
  .yarpp-related ol,
  .related-posts-section ol {
    list-style: none;
    margin: 0;
    padding: 0.3333em 0 0; }
    .yarpp-related ol::after,
    .related-posts-section ol::after {
      clear: both;
      content: "";
      display: table; }
    .yarpp-related ol li,
    .related-posts-section ol li {
      display: block;
      float: left;
      margin: 0;
      width: 31%; }
      @media (max-width: 480px) {
        .yarpp-related ol li,
        .related-posts-section ol li {
          width: 100%; } }
      .yarpp-related ol li:first-child,
      .related-posts-section ol li:first-child {
        margin-right: 3.5%; }
        @media (max-width: 480px) {
          .yarpp-related ol li:first-child,
          .related-posts-section ol li:first-child {
            margin-right: 0; } }
      .yarpp-related ol li:last-child,
      .related-posts-section ol li:last-child {
        margin-left: 3.5%; }
        @media (max-width: 480px) {
          .yarpp-related ol li:last-child,
          .related-posts-section ol li:last-child {
            margin-left: 0; } }
      .yarpp-related ol li:only-child,
      .related-posts-section ol li:only-child {
        margin: 0; }
      .yarpp-related ol li a,
      .related-posts-section ol li a {
        text-decoration: none; }
      .yarpp-related ol li img,
      .related-posts-section ol li img {
        vertical-align: middle; }
      .yarpp-related ol li .related-post-title,
      .related-posts-section ol li .related-post-title {
        font-size: 14.9328px;
        font-size: 0.9333rem;
        line-height: normal;
        margin-bottom: 0; }
        .yarpp-related ol li .related-post-title:hover,
        .related-posts-section ol li .related-post-title:hover {
          color: #626262; }
      .yarpp-related ol li .related-post-date,
      .related-posts-section ol li .related-post-date {
        color: #adadad;
        font-size: 13.8656px;
        font-size: 0.8666rem;
        margin-top: 0; }

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.author-box {
  margin: 2.666em 0 4.3333em; }
  .author-box .author-avatar {
    float: left; }
    @media (max-width: 480px) {
      .author-box .author-avatar {
        float: none; } }
    .author-box .author-avatar img {
      border-radius: 50%;
      vertical-align: middle; }
      @media (max-width: 480px) {
        .author-box .author-avatar img {
          display: block;
          margin-right: auto;
          margin-bottom: 30px;
          margin-left: auto; } }
  .author-box .author-description {
    color: #626262;
    font-size: 14.9328px;
    font-size: 0.9333rem;
    padding-left: 150px; }
    .author-box .author-description::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 480px) {
      .author-box .author-description {
        padding-left: 0;
        text-align: center; } }
    .author-box .author-description .post-author-title {
      font-size: 14.9328px;
      font-size: 0.9333rem;
      display: block;
      font-weight: 700;
      margin: 0 0 .35em 0; }
      .author-box .author-description .post-author-title a {
        color: #2d2d2d;
        text-decoration: none; }
        @media (max-width: 480px) {
          .author-box .author-description .post-author-title a {
            text-align: center; } }
        .author-box .author-description .post-author-title a:hover {
          color: #626262; }

/*--------------------------------------------------------------
## Post Loop: Left Medium Thumbnail
--------------------------------------------------------------*/
.left-medium-loop article {
  margin-bottom: 60px; }
  .left-medium-loop article::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 1024px) {
    .left-medium-loop article {
      margin-bottom: 1.4667em; } }
  .left-medium-loop article .entry-thumbnail {
    float: left;
    margin: 0;
    width: 42.452830188679%; }
    @media (max-width: 640px) {
      .left-medium-loop article .entry-thumbnail {
        float: none;
        margin-bottom: 1.8em;
        text-align: center;
        width: 100%; } }
  .left-medium-loop article .entry-content {
    float: right;
    margin: 0;
    width: 100%; }
    @media (max-width: 640px) {
      .left-medium-loop article .entry-content {
        float: none; } }
    .left-medium-loop article .entry-content .entry-meta {
      justify-content: initial;
      margin: .45em 0 .6em; }
      @media (max-width: 640px) {
        .left-medium-loop article .entry-content .entry-meta {
          justify-content: center; } }
    .left-medium-loop article .entry-content .entry-title {
      font-size: 25.6px;
      font-size: 1.6rem;
      margin: 0;
      text-align: left; }
      @media (max-width: 640px) {
        .left-medium-loop article .entry-content .entry-title {
          text-align: center; } }
    .left-medium-loop article .entry-content .entry-summary {
      margin-top: 0.5em; }
  .left-medium-loop article.has-post-thumbnail .entry-content {
    width: 54.009433962264%; }
    @media (max-width: 640px) {
      .left-medium-loop article.has-post-thumbnail .entry-content {
        width: 100%; } }

.no-active-sidebar .left-medium-loop article .entry-thumbnail {
  width: 34.452830188679%; }
  @media (max-width: 640px) {
    .no-active-sidebar .left-medium-loop article .entry-thumbnail {
      float: none;
      margin-bottom: 1.8em;
      text-align: center;
      width: 100%; } }

.no-active-sidebar .left-medium-loop article.has-post-thumbnail .entry-content {
  width: 64.009433962264%; }
  @media (max-width: 640px) {
    .no-active-sidebar .left-medium-loop article.has-post-thumbnail .entry-content {
      float: none;
      width: 100%; } }

/*--------------------------------------------------------------
## Search Results Template
--------------------------------------------------------------*/
.search-results article {
  margin-bottom: 60px; }
  .search-results article::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 1024px) {
    .search-results article {
      margin-bottom: 1.4667em; } }
  .search-results article .entry-thumbnail {
    float: left;
    margin: 0;
    width: 42.452830188679%; }
    @media (max-width: 640px) {
      .search-results article .entry-thumbnail {
        float: none;
        margin-bottom: 1.8em;
        text-align: center;
        width: 100%; } }
  .search-results article .entry-content {
    float: right;
    margin: 0;
    width: 100%; }
    @media (max-width: 640px) {
      .search-results article .entry-content {
        float: none; } }
    .search-results article .entry-content .entry-meta {
      justify-content: initial;
      margin: .45em 0 .6em; }
      @media (max-width: 640px) {
        .search-results article .entry-content .entry-meta {
          justify-content: center; } }
    .search-results article .entry-content .entry-title {
      font-size: 25.6px;
      font-size: 1.6rem;
      margin: 0;
      text-align: left; }
      @media (max-width: 640px) {
        .search-results article .entry-content .entry-title {
          text-align: center; } }
    .search-results article .entry-content .entry-summary {
      margin-top: 0.5em; }
      @media (max-width: 640px) {
        .search-results article .entry-content .entry-summary {
          text-align: center; } }
  .search-results article.has-post-thumbnail .entry-content, .search-results article.has-fallback-image .entry-content {
    width: 54.009433962264%; }
    @media (max-width: 640px) {
      .search-results article.has-post-thumbnail .entry-content, .search-results article.has-fallback-image .entry-content {
        width: 100%; } }

.search-results.no-active-sidebar article .entry-thumbnail {
  width: 34.452830188679%; }
  @media (max-width: 640px) {
    .search-results.no-active-sidebar article .entry-thumbnail {
      float: none;
      margin-bottom: 1.8em;
      text-align: center;
      width: 100%; } }

.search-results.no-active-sidebar article.has-post-thumbnail .entry-content, .search-results.no-active-sidebar article.has-fallback-image .entry-content {
  width: 64.009433962264%; }
  @media (max-width: 640px) {
    .search-results.no-active-sidebar article.has-post-thumbnail .entry-content, .search-results.no-active-sidebar article.has-fallback-image .entry-content {
      float: none;
      width: 100%; } }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content {
  font-size: 14.9328px;
  font-size: 0.9333rem; }
  .comment-content p:last-of-type {
    margin-bottom: .9em; }
  .comment-content a {
    word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comment-list {
  margin: 25px 0;
  padding: 0; }
  .comment-list li.comment {
    width: auto;
    display: block;
    color: #626262; }
    .comment-list li.comment .comment-box {
      padding: 2em 0;
      border-bottom: 1px solid #ebebeb; }
      .comment-list li.comment .comment-box::after {
        clear: both;
        content: "";
        display: table; }
    .comment-list li.comment .comment-container {
      margin-left: 6em; }
    .comment-list li.comment.pingback .comment-container {
      margin-left: 0; }
    .comment-list li.comment .avatar-container {
      float: left; }
      .comment-list li.comment .avatar-container img {
        display: block;
        border-radius: 50%; }
    .comment-list li.comment .info {
      line-height: 1.5;
      padding-bottom: .45em; }
    .comment-list li.comment .author {
      color: #2d2d2d;
      font-size: 14.9328px;
      font-size: 0.9333rem;
      font-weight: 700;
      padding-bottom: .6em; }
      .comment-list li.comment .author a {
        color: #2d2d2d;
        text-decoration: none; }
        .comment-list li.comment .author a:hover {
          color: #626262; }
    .comment-list li.comment .date {
      color: #adadad;
      font-size: 13.8656px;
      font-size: 0.8666rem; }
    .comment-list li.comment .comment-reply-link {
      color: #2d2d2d;
      font-family: "Lato", sans-serif;
      font-size: 12.8px;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 1px;
      line-height: normal;
      text-decoration: none;
      text-transform: uppercase; }
      .comment-list li.comment .comment-reply-link:hover {
        color: #24c48a; }
    .comment-list li.comment .children {
      margin-left: 70px;
      margin-top: 50px;
      padding: 0; }

.comments-title,
.comment-reply-title {
  font-size: 1em;
  text-transform: uppercase; }

.comments-title {
  margin-bottom: 0; }

.comment-reply-title {
  border-bottom: 1px solid #ebebeb;
  font-size: 14.9328px;
  font-size: 0.9333rem;
  margin-top: 3.8em;
  padding-bottom: 0.8666em;
  text-transform: uppercase; }
  .comment-reply-title #cancel-comment-reply-link {
    color: #adadad;
    font-family: "Lato", sans-serif;
    font-size: 12.8px;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: normal;
    text-decoration: none;
    margin-left: .25em; }
    .comment-reply-title #cancel-comment-reply-link:hover {
      color: #24c48a; }

#commentform p {
  line-height: normal;
  margin-bottom: 2em; }

#commentform label {
  color: #2d2d2d;
  display: block;
  font-size: 13.8656px;
  font-size: 0.8666rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: .5em; }

#commentform textarea {
  width: 100%; }

#commentform .comment-form-author,
#commentform .comment-form-email,
#commentform .comment-form-url {
  box-sizing: border-box;
  float: left;
  width: 31%; }
  @media (max-width: 768px) {
    #commentform .comment-form-author,
    #commentform .comment-form-email,
    #commentform .comment-form-url {
      width: 100%; } }
  #commentform .comment-form-author input,
  #commentform .comment-form-email input,
  #commentform .comment-form-url input {
    width: 100%; }

#commentform .comment-form-email {
  margin: 0 3.5% 2em; }
  @media (max-width: 768px) {
    #commentform .comment-form-email {
      margin: 0 0 2em; } }

#commentform .comment-notes,
#commentform .logged-in-as {
  font-size: 13.8656px;
  font-size: 0.8666rem;
  margin: .66em 0 2.25em; }
  #commentform .comment-notes a,
  #commentform .logged-in-as a {
    color: #626262;
    text-decoration: none; }
    #commentform .comment-notes a:hover,
    #commentform .logged-in-as a:hover {
      color: #2d2d2d; }

#commentform .form-submit {
  margin: 2em 0 20px;
  clear: both; }

#commentform .comment-subscription-form {
  margin: 0 0 8px; }
  #commentform .comment-subscription-form label {
    color: #626262; }

/*--------------------------------------------------------------
## Site Footer
--------------------------------------------------------------*/
#colophon {
  margin-top: 80px; }
  #colophon.footer-active-sidebar {
    border-top: 1px solid #ebebeb; }
  #colophon .widgets {
    padding: 80px 0; }
    #colophon .widgets::after {
      clear: both;
      content: "";
      display: table; }
    #colophon .widgets.widgets-1 .widget {
      width: 100%; }
    #colophon .widgets.widgets-2 .widget {
      width: 48.75%; }
    #colophon .widgets.widgets-3 .widget {
      width: 31.66667%; }
    #colophon .widgets.widgets-4 .widget {
      width: 23.125%; }
    #colophon .widgets.widgets-5 .widget {
      width: 18%; }
    #colophon .widgets.widgets-6 .widget {
      width: 14.58333%; }
    #colophon .widgets.widgets-7 .widget {
      width: 12.14286%; }
    #colophon .widgets.widgets-8 .widget {
      width: 10.3125%; }
    #colophon .widgets.widgets-9 .widget {
      width: 8.88889%; }
    #colophon .widgets.widgets-10 .widget {
      width: 7.75%; }
    #colophon .widgets .widget {
      box-sizing: content-box;
      margin-right: 2.5%;
      float: left; }
      #colophon .widgets .widget:last-of-type {
        margin-right: 0 !important; }
      @media (max-width: 768px) {
        #colophon .widgets .widget {
          float: none;
          margin: 0 0 4em;
          width: 100% !important; } }
  #colophon .site-info {
    border-top: 1px solid #ebebeb;
    color: #626262;
    font-size: 13.8656px;
    font-size: 0.8666rem;
    padding: 45px 0;
    text-align: center; }
    #colophon .site-info a {
      color: inherit;
      text-decoration: none; }
      #colophon .site-info a:hover {
        color: #2d2d2d; }
  #colophon.unconstrained-footer .container {
    max-width: none;
    padding: 0 40px; }

/*--------------------------------------------------------------
# Jetpack
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Infinite Scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

.infinity-end.neverending .site-footer {
  display: block; }

#page #infinite-handle {
  text-align: center; }
  #page #infinite-handle span {
    background: inherit;
    border-radius: initial;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    padding: inherit; }

.infinite-scroll .infinite-loader .spinner {
  margin: 0 auto;
  text-align: center; }

/*--------------------------------------------------------------
## Related Posts
--------------------------------------------------------------*/
.site-content #jp-relatedposts .jp-relatedposts-headline {
  font-size: 1em; }

.site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
  opacity: 1;
  margin: 0;
  padding: .3333em 0 0;
  width: 31%; }
  @media (max-width: 780px) {
    .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
      width: 100%; } }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:first-child {
    margin-right: 2.4%; }
    @media (max-width: 480px) {
      .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:first-child {
        margin-right: 0; } }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:last-child {
    margin-left: 2.4%; }
    @media (max-width: 480px) {
      .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:last-child {
        margin-left: 0; } }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:only-child {
    margin: 0; }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post h4 {
    margin-top: 1em; }
    .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post h4 a {
      color: #2d2d2d;
      font-weight: 700;
      line-height: normal; }
      .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post h4 a:hover {
        color: #626262;
        text-decoration: none; }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
    text-decoration: none; }
  .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post p {
    color: #adadad;
    font-size: .8666rem;
    opacity: 1; }
    .site-content #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post p:last-of-type {
      margin-bottom: 1.9833em; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  font-size: 14.9328px;
  font-size: 0.9333rem;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 2.25em; }

.gallery-item {
  display: inline-block;
  margin-bottom: 1.125em;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33333%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66667%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28571%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11111%; }

.gallery-caption {
  display: block;
  font-size: 13.8656px;
  font-size: 0.8666rem;
  line-height: 1.3999; }

/*--------------------------------------------------------------
## Homepage Slider
--------------------------------------------------------------*/
.flexslider.featured-posts-slider {
  border: none; }
  .flexslider.featured-posts-slider:hover .flex-direction-nav a.flex-prev:before {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("images/arrow-left.svg");
    background-position: 13px 15px;
    background-repeat: no-repeat;
    opacity: 1; }
  .flexslider.featured-posts-slider:hover .flex-direction-nav a.flex-next:before {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("images/arrow-right.svg");
    background-position: 16px 15px;
    background-repeat: no-repeat;
    opacity: 1; }
  .flexslider.featured-posts-slider:hover .flex-direction-nav .flex-prev:hover,
  .flexslider.featured-posts-slider:hover .flex-direction-nav .flex-next:hover {
    background: transparent !important; }
  @media (max-width: 860px) {
    .flexslider.featured-posts-slider .flex-direction-nav .flex-prev {
      left: 0; }
    .flexslider.featured-posts-slider .flex-direction-nav .flex-next {
      right: 0; } }
  .flexslider.featured-posts-slider .flex-direction-nav a {
    height: 50px;
    top: 49.166%;
    margin-top: -25px;
    width: 40px; }
    .flexslider.featured-posts-slider .flex-direction-nav a:before {
      background: none;
      content: "";
      height: 50px;
      opacity: 0;
      padding: 0;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
      transition-property: opacity;
      width: 40px; }
  .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    position: relative;
    width: 100%; }
    @media (max-width: 768px) {
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide {
        height: 380px; } }
    @media (max-width: 480px) {
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide {
        height: 155px; } }
    .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      overflow: hidden;
      width: 100%;
      z-index: 3; }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content.slide-overlay {
        background-color: rgba(0, 0, 0, 0.5); }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .slide-entry-link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2; }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .slide-inner {
        display: table;
        height: 100%;
        margin: 0 auto;
        width: 80%; }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .slide-inner-cell {
        display: table-cell;
        padding-top: 157px;
        width: 100%; }
        @media (max-width: 768px) {
          .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .slide-inner-cell {
            padding-top: 77px; } }
        @media (max-width: 480px) {
          .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .slide-inner-cell {
            padding-top: 27px; } }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-meta {
        letter-spacing: .3em; }
        .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-meta span {
          color: #fff; }
        @media (max-width: 480px) {
          .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-meta {
            display: none; } }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-title {
        color: #fff;
        font-size: 34.1328px;
        font-size: 2.1333rem;
        margin: 1em 0 1.65em;
        position: relative;
        z-index: 3; }
        @media (max-width: 480px) {
          .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-title {
            font-size: 19.2px;
            font-size: 1.2rem;
            margin: 0 0 1.2em; } }
      .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button {
        margin-top: 18px;
        position: relative;
        text-align: center;
        z-index: 3; }
        .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button::after {
          clear: both;
          content: "";
          display: table; }
        .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button .button, .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button #page #infinite-handle span button, #page #infinite-handle span .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button button {
          background: transparent;
          border-color: #fff;
          color: #fff;
          letter-spacing: .2em; }
          .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button .button:hover, .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button #page #infinite-handle span button:hover, #page #infinite-handle span .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button button:hover {
            background: #fff;
            color: #2d2d2d; }
          @media (max-width: 480px) {
            .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button .button, .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button #page #infinite-handle span button, #page #infinite-handle span .flexslider.featured-posts-slider .featured-posts-slides .featured-post-slide .slide-content .entry-button button {
              font-size: 11.7328px;
              font-size: 0.7333rem; } }

/*--------------------------------------------------------------
## Post format
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Gallery Format
--------------------------------------------------------------*/
.flexslider.gallery-format-slider {
  border: none; }
  .flexslider.gallery-format-slider .flex-direction-nav a.flex-prev:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images/arrow-left.svg");
    background-position: 13px 15px;
    background-repeat: no-repeat;
    opacity: 1; }
  .flexslider.gallery-format-slider .flex-direction-nav a.flex-next:before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images/arrow-right.svg");
    background-position: 16px 15px;
    background-repeat: no-repeat;
    opacity: 1; }
  .flexslider.gallery-format-slider .flex-direction-nav .flex-prev:hover,
  .flexslider.gallery-format-slider .flex-direction-nav .flex-next:hover {
    background: transparent !important; }
  @media (max-width: 860px) {
    .flexslider.gallery-format-slider .flex-direction-nav .flex-prev {
      left: 0; }
    .flexslider.gallery-format-slider .flex-direction-nav .flex-next {
      right: 0; } }
  .flexslider.gallery-format-slider .flex-direction-nav a {
    height: 50px;
    top: 49.166%;
    margin-top: -25px;
    width: 40px; }
    .flexslider.gallery-format-slider .flex-direction-nav a:before {
      background: none;
      content: "";
      height: 50px;
      opacity: 0;
      padding: 0;
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
      transition-property: opacity;
      width: 40px; }
  .flexslider.gallery-format-slider .flex-control-nav li {
    padding: 0; }
    .flexslider.gallery-format-slider .flex-control-nav li a {
      background-color: rgba(0, 0, 0, 0.3);
      height: 7px;
      width: 7px; }
      .flexslider.gallery-format-slider .flex-control-nav li a.flex-active {
        background-color: rgba(0, 0, 0, 0.7); }

/*--------------------------------------------------------------
## Video and Image Format
--------------------------------------------------------------*/
.entry-video,
.entry-image {
  margin: 0 0 35px; }
