/*--------------------------------------------------------------
# WooCommerce Layout
--------------------------------------------------------------*/
.woocommerce-page #container {
  float: right;
  margin: 0 0 0 -25.61404%;
  width: 100%; }
  .shop-sidebar-right.woocommerce-page #container {
    float: left;
    margin: 0 -25.61404% 0 0; }
  .no-active-wc-sidebar.woocommerce-page #container {
    float: none;
    margin: 0;
    width: auto; }
  @media (max-width: 768px) {
    .woocommerce-page #container {
      float: none;
      margin: 0;
      width: auto; } }

.woocommerce-page .container #content {
  margin: 0 0 0 25.61404%; }
  .shop-sidebar-right.woocommerce-page .container #content {
    margin: 0 25.61404% 0 0; }
  .no-active-wc-sidebar.woocommerce-page .container #content {
    float: none;
    margin: 0;
    width: auto; }
  @media (max-width: 768px) {
    .woocommerce-page .container #content {
      float: none;
      margin: 0;
      width: auto; } }

.woocommerce-page .container .shop-widgets.widget-area {
  float: left;
  padding: 0 40px 0 0; }
  .shop-sidebar-right.woocommerce-page .container .shop-widgets.widget-area {
    float: right;
    padding: 0 0 0 40px; }

.woocommerce-page.single-product #container {
  float: none;
  margin: 0;
  width: auto; }

.woocommerce-page.single-product .container #content {
  float: none;
  margin: 0;
  width: auto; }

.woocommerce-demo-store #page {
  margin-top: 57px; }

@media (max-width: 782px) {
  .admin-bar p.demo_store {
    top: 46px !important; } }

@media (max-width: 480px) {
  .admin-bar p.demo_store {
    top: 0 !important; } }

@media (max-width: 480px) {
  .woocommerce-demo-store #page {
    margin-top: 0; } }

/*--------------------------------------------------------------
# WooCommerce Buttons
--------------------------------------------------------------*/
.woocommerce.woocommerce-page #respond input#submit.alt.disabled,
.woocommerce.woocommerce-page #respond input#submit.alt:disabled,
.woocommerce.woocommerce-page #respond input#submit.alt:disabled[disabled],
.woocommerce.woocommerce-page a.button.alt.disabled,
.woocommerce.woocommerce-page a.button.alt:disabled,
.woocommerce.woocommerce-page a.button.alt:disabled[disabled],
.woocommerce.woocommerce-page button.button.alt.disabled,
.woocommerce.woocommerce-page button.button.alt:disabled,
.woocommerce.woocommerce-page button.button.alt:disabled[disabled],
.woocommerce.woocommerce-page input.button.alt.disabled,
.woocommerce.woocommerce-page input.button.alt:disabled,
.woocommerce.woocommerce-page input.button.alt:disabled[disabled] {
  background-color: #24c48a;
  border: 1px solid #24c48a;
  color: #fff;
  padding: 1em 1.923em; }
  .woocommerce.woocommerce-page #respond input#submit.alt.disabled:hover,
  .woocommerce.woocommerce-page #respond input#submit.alt:disabled:hover,
  .woocommerce.woocommerce-page #respond input#submit.alt:disabled[disabled]:hover,
  .woocommerce.woocommerce-page a.button.alt.disabled:hover,
  .woocommerce.woocommerce-page a.button.alt:disabled:hover,
  .woocommerce.woocommerce-page a.button.alt:disabled[disabled]:hover,
  .woocommerce.woocommerce-page button.button.alt.disabled:hover,
  .woocommerce.woocommerce-page button.button.alt:disabled:hover,
  .woocommerce.woocommerce-page button.button.alt:disabled[disabled]:hover,
  .woocommerce.woocommerce-page input.button.alt.disabled:hover,
  .woocommerce.woocommerce-page input.button.alt:disabled:hover,
  .woocommerce.woocommerce-page input.button.alt:disabled[disabled]:hover {
    color: #fff; }

.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce.single-product .cart button,
.woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button {
  background-color: #24c48a;
  border: 1px solid #24c48a;
  color: #fff; }
  .woocommerce a.button:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce.single-product .cart button:hover,
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button:hover {
    background-color: #00a76a;
    border-color: #00a76a;
    color: #fff; }
  .woocommerce a.button:active, .woocommerce a.button:focus,
  .woocommerce a.button.alt:active,
  .woocommerce a.button.alt:focus,
  .woocommerce.single-product .cart button:active,
  .woocommerce.single-product .cart button:focus,
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button:active,
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order .button:focus {
    border-color: #24c48a;
    color: #fff; }

/*--------------------------------------------------------------
# WooCommerce Archive
--------------------------------------------------------------*/
.woocommerce .woocommerce-ordering {
  cursor: pointer;
  margin-bottom: 40px; }
  @media (max-width: 680px) {
    .woocommerce .woocommerce-ordering {
      float: left;
      margin-bottom: 35px; } }
  .woocommerce .woocommerce-ordering .ordering-selector-wrapper {
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #626262;
    display: block;
    font-size: 0.85em;
    line-height: 1em;
    padding: 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .current {
      display: inline-block; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper svg {
      float: right;
      margin: 0 -3px 0 10px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in; }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper svg path {
        fill: #626262; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper:hover {
      color: #2d2d2d; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown-container {
      left: -1px;
      min-height: 1px;
      position: absolute;
      right: -1px;
      top: 100%;
      z-index: 999; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown {
      background: white;
      border: 1px solid #ebebeb;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
      display: block;
      list-style: none;
      margin: 0;
      opacity: 0;
      padding: 5px 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
      opacity: 0;
      -webkit-transition: all 0.15s ease-in;
      -moz-transition: all 0.15s ease-in;
      transition: all 0.15s ease-in;
      -webkit-transform-origin: center top;
      -moz-transform-origin: center top;
      -ms-transform-origin: center top;
      -o-transform-origin: center top;
      transform-origin: center top;
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95); }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown li {
        color: #adadad;
        cursor: pointer;
        padding: 15px 25px;
        position: relative;
        white-space: nowrap; }
        .woocommerce .woocommerce-ordering .ordering-selector-wrapper .ordering-dropdown li:hover {
          color: #2d2d2d; }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper.open-dropdown .ordering-dropdown {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .woocommerce .woocommerce-ordering .ordering-selector-wrapper.open-dropdown svg {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg); }
      .woocommerce .woocommerce-ordering .ordering-selector-wrapper.open-dropdown svg path {
        fill: #2d2d2d; }

.woocommerce .woocommerce-result-count {
  color: #626262;
  font-size: 14px; }
  @media (max-width: 680px) {
    .woocommerce .woocommerce-result-count {
      margin-bottom: 40px;
      width: 100%; } }

.woocommerce ul.products li.product {
  text-align: center; }
  .wc-columns-2.woocommerce ul.products li.product {
    margin: 0 2.5% 27px;
    width: 47.5%; }
  .wc-columns-3.woocommerce ul.products li.product {
    margin: 0 1.9% 27px;
    width: 30.8%; }
  .wc-columns-4.woocommerce ul.products li.product {
    margin: 0 1.6665% 27px;
    width: 22.5%; }
  .wc-columns-5.woocommerce ul.products li.product {
    margin: 0 1.45% 27px;
    width: 17.68%; }
  .woocommerce ul.products li.product.first {
    margin-left: 0; }
  .woocommerce ul.products li.product.last {
    margin-right: 0; }
  @media (max-width: 768px) {
    .wc-columns-2.woocommerce ul.products li.product,
    .wc-columns-3.woocommerce ul.products li.product,
    .wc-columns-4.woocommerce ul.products li.product,
    .wc-columns-5.woocommerce ul.products li.product {
      margin: 0 2% 27px;
      width: 48%; }
    .woocommerce ul.products li.product:nth-of-type(2n+1) {
      margin-left: 0; }
    .woocommerce ul.products li.product:nth-of-type(2n+2) {
      margin-right: 0; } }
  @media (max-width: 480px) {
    .woocommerce ul.products li.product {
      margin: 0 0 27px;
      width: 100%; } }
  .woocommerce ul.products li.product span.onsale {
    background-color: #24c48a;
    border-radius: 0;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    left: 0;
    right: auto;
    line-height: normal;
    min-height: 0;
    padding: 6px 12px;
    text-transform: uppercase;
    top: 6px;
    z-index: 10; }
  .woocommerce ul.products li.product a img {
    margin-bottom: 0; }
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 14px;
    padding: 17px 0 0;
    text-align: center; }
    .woocommerce ul.products li.product .woocommerce-loop-product__title:hover {
      color: #626262; }
  .woocommerce ul.products li.product .price {
    color: #24c48a;
    text-align: center; }
    .woocommerce ul.products li.product .price del {
      color: #adadad;
      display: inline; }
    .woocommerce ul.products li.product .price ins {
      color: #24c48a;
      display: inline; }
  .woocommerce ul.products li.product .loop-product-thumbnail {
    position: relative;
    background: #00a76a; }
    .woocommerce ul.products li.product .loop-product-thumbnail:hover img {
      opacity: 0.25; }
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .add_to_cart_button,
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .product-quick-view-button,
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .product_type_grouped,
    .woocommerce ul.products li.product .loop-product-thumbnail:hover .product_type_variable {
      opacity: 1;
      visibility: visible; }
    .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button,
    .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button,
    .woocommerce ul.products li.product .loop-product-thumbnail .product_type_grouped,
    .woocommerce ul.products li.product .loop-product-thumbnail .product_type_variable {
      border-radius: 0;
      font-size: 13px;
      left: 50%;
      margin: 0;
      opacity: 0;
      padding: 12px 15px;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      visibility: hidden; }
    .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button,
    .woocommerce ul.products li.product .loop-product-thumbnail .product_type_grouped,
    .woocommerce ul.products li.product .loop-product-thumbnail .product_type_variable {
      background: #fff;
      border: 2px solid #fff;
      bottom: 30%;
      color: #2d2d2d; }
      .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button:hover,
      .woocommerce ul.products li.product .loop-product-thumbnail .product_type_grouped:hover,
      .woocommerce ul.products li.product .loop-product-thumbnail .product_type_variable:hover {
        border: 2px solid #2d2d2d; }
      .woocommerce ul.products li.product .loop-product-thumbnail .add_to_cart_button.loading:after,
      .woocommerce ul.products li.product .loop-product-thumbnail .product_type_grouped.loading:after,
      .woocommerce ul.products li.product .loop-product-thumbnail .product_type_variable.loading:after {
        margin-left: .53em;
        position: relative;
        right: 0;
        top: 0; }
    .woocommerce ul.products li.product .loop-product-thumbnail .ajax_add_to_cart:not(.add_to_cart_button) {
      display: none; }
    .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button {
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      top: 30%; }
      .woocommerce ul.products li.product .loop-product-thumbnail .product-quick-view-button:hover {
        background: #fff;
        color: #2d2d2d; }
    .woocommerce ul.products li.product .loop-product-thumbnail a.added_to_cart {
      background: #fff;
      border: 2px solid #fff;
      border-bottom: 0;
      bottom: 0;
      box-sizing: border-box;
      color: #626262;
      font-family: "Lato", sans-serif;
      font-size: 13px;
      left: 50%;
      letter-spacing: 1px;
      line-height: normal;
      margin: 0;
      padding: 12px 15px;
      position: absolute;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      text-transform: uppercase; }
      .woocommerce ul.products li.product .loop-product-thumbnail a.added_to_cart:hover {
        border: 2px solid #2d2d2d;
        border-bottom: 0; }

.woocommerce .woocommerce-pagination .page-numbers {
  border: none; }
  .woocommerce .woocommerce-pagination .page-numbers li {
    border: none;
    margin-right: 5px; }
    .woocommerce .woocommerce-pagination .page-numbers li a,
    .woocommerce .woocommerce-pagination .page-numbers li span {
      background: #fff;
      border: 1px solid #ebebeb;
      color: #626262;
      font-size: 13px;
      margin-right: 1px;
      padding: 9px 11px 8px; }
      .woocommerce .woocommerce-pagination .page-numbers li a:hover,
      .woocommerce .woocommerce-pagination .page-numbers li span:hover {
        background: #24c48a;
        border-color: #24c48a;
        color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .current {
      background: #24c48a;
      border: 1px solid #24c48a;
      color: #fff; }
      .woocommerce .woocommerce-pagination .page-numbers li .current:hover {
        background: #24c48a;
        color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .current {
      background: #24c48a;
      border-color: #24c48a;
      color: #fff; }
    .woocommerce .woocommerce-pagination .page-numbers li .next,
    .woocommerce .woocommerce-pagination .page-numbers li .prev {
      font-family: Verdana, Geneva, sans-serif;
      padding: 9px 9px 8px; }

.woocommerce.archive .page-title {
  font-size: 24px;
  padding: 40px 0; }

/*--------------------------------------------------------------
# WooCommerce Single Product
--------------------------------------------------------------*/
.woocommerce.single-product .woocommerce-message {
  border-top: none; }
  .woocommerce.single-product .woocommerce-message:before {
    color: #24c48a; }

.woocommerce.single-product #content div.product .woocommerce-message {
  border-top: none; }
  .woocommerce.single-product #content div.product .woocommerce-message:before {
    color: #24c48a; }

.woocommerce.single-product #content div.product .out-of-stock {
  color: #24c48a; }

.woocommerce.single-product #content div.product .star-rating span:before {
  color: #24c48a; }

.woocommerce.single-product #content div.product span.onsale {
  background-color: #24c48a;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  left: 0;
  line-height: normal;
  margin: 0;
  min-height: 0;
  padding: 6px 15px;
  text-transform: uppercase;
  top: 0;
  z-index: 10; }

.woocommerce.single-product #content div.product .entry-summary {
  margin-top: 0; }
  .woocommerce.single-product #content div.product .entry-summary .product_title {
    font-size: 24px;
    text-align: left;
    margin: 20px 0 0; }
  .woocommerce.single-product #content div.product .entry-summary .woocommerce-product-rating {
    margin-bottom: 20px; }
    .woocommerce.single-product #content div.product .entry-summary .woocommerce-product-rating .woocommerce .star-rating {
      font-size: 14px; }
    .woocommerce.single-product #content div.product .entry-summary .woocommerce-product-rating .woocommerce-review-link {
      color: #adadad;
      font-size: 13px; }
      .woocommerce.single-product #content div.product .entry-summary .woocommerce-product-rating .woocommerce-review-link:hover {
        color: #24c48a; }
  .woocommerce.single-product #content div.product .entry-summary .price {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 15px;
    color: #24c48a; }
    .woocommerce.single-product #content div.product .entry-summary .price del,
    .woocommerce.single-product #content div.product .entry-summary .price del .amount {
      color: #adadad; }
  .woocommerce.single-product #content div.product .entry-summary div[itemprop="description"] {
    font-size: 14px; }
  .woocommerce.single-product #content div.product .entry-summary .cart {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 0;
    padding-bottom: 30px; }
    .woocommerce.single-product #content div.product .entry-summary .cart .variations {
      font-family: "Merriweather", serif; }
      .woocommerce.single-product #content div.product .entry-summary .cart .variations tr {
        background: none; }
      .woocommerce.single-product #content div.product .entry-summary .cart .variations td {
        padding: 0; }
    .woocommerce.single-product #content div.product .entry-summary .cart .woocommerce-variation-price {
      margin-bottom: 20px; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls::after {
      clear: both;
      content: "";
      display: table; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty {
      -moz-appearance: textfield;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      color: #626262;
      float: left;
      height: 40px;
      padding: 0;
      width: 40px; }
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty::-webkit-inner-spin-button, .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .qty::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add,
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract {
      background: #f9f9f9;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      float: left;
      height: 40px;
      padding: 6px 10px;
      width: 40px; }
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add:hover,
      .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract:hover {
        background: #626262;
        color: #fff; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .subtract {
      border-right: none; }
    .woocommerce.single-product #content div.product .entry-summary .cart .quantity.button-controls .add {
      border-left: none; }
  .woocommerce.single-product #content div.product .entry-summary .product_meta {
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
    padding: 30px 0; }
    .woocommerce.single-product #content div.product .entry-summary .product_meta span {
      color: #adadad;
      display: block; }
      .woocommerce.single-product #content div.product .entry-summary .product_meta span a {
        color: #2d2d2d; }

.woocommerce.single-product #content div.product .images .flex-control-nav {
  margin-top: 10px; }
  .woocommerce.single-product #content div.product .images .flex-control-nav li img {
    padding: 10px; }

.woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs {
  margin-bottom: 30px;
  padding-left: 0;
  text-transform: uppercase; }
  .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs:before {
    border-bottom: 1px solid #f4f4f4; }
  .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li {
    background: transparent;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0;
    margin-right: 30px;
    padding: 0; }
    .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li.active {
      border-bottom: 2px solid #626262; }
      .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li.active a {
        color: #2d2d2d; }
    .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li:before, .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li:after {
      border: none;
      box-shadow: none; }
    .woocommerce.single-product #content div.product .woocommerce-tabs .wc-tabs li a {
      color: #adadad; }

.woocommerce.single-product #content div.product #reviews #comments .woocommerce-Reviews-title {
  font-size: 18px;
  margin: 30px 0 5px; }

.woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment {
  padding: 25px 0;
  border-bottom: 1px solid #f4f4f4; }
  .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container img.avatar {
    border-radius: 50%;
    border-width: 0;
    padding: 0;
    top: 30px;
    width: 70px; }
  .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container .comment-text {
    border-width: 0;
    margin-left: 95px;
    padding: 0; }
    .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container .comment-text .comment-meta {
      color: #adadad; }
      .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container .comment-text .comment-meta .comment-author {
        color: #2d2d2d;
        font-size: 14px;
        margin-bottom: 0; }
      .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container .comment-text .comment-meta .comment-date {
        color: #adadad;
        font-size: 13px;
        margin-bottom: 5px; }
    .woocommerce.single-product #content div.product #reviews #comments ol.commentlist li.comment .comment_container .comment-text .description {
      font-size: 14px; }

.woocommerce.single-product #content div.product #reviews #respond .comment-reply-title {
  display: block;
  margin: 33px 0 37px; }

.woocommerce.single-product #content div.product #reviews #respond .comment-form-rating {
  margin: 30px 0; }

.woocommerce.single-product #content div.product #reviews #respond p {
  line-height: normal;
  margin-bottom: 2em; }

.woocommerce.single-product #content div.product #reviews #respond #comment {
  min-height: 140px; }

.woocommerce.single-product #content div.product #reviews #respond .comment-form-author,
.woocommerce.single-product #content div.product #reviews #respond .comment-form-email {
  box-sizing: border-box;
  float: left;
  width: 31%; }
  @media (max-width: 768px) {
    .woocommerce.single-product #content div.product #reviews #respond .comment-form-author,
    .woocommerce.single-product #content div.product #reviews #respond .comment-form-email {
      width: 100%; } }
  .woocommerce.single-product #content div.product #reviews #respond .comment-form-author input,
  .woocommerce.single-product #content div.product #reviews #respond .comment-form-email input {
    width: 100%; }

.woocommerce.single-product #content div.product #reviews #respond .comment-form-email {
  margin: 0 3.5% 2em; }
  @media (max-width: 768px) {
    .woocommerce.single-product #content div.product #reviews #respond .comment-form-email {
      margin: 0 0 2em; } }

.woocommerce.single-product #content div.product #reviews #respond .form-submit {
  margin-bottom: 49px; }

.woocommerce.single-product #content div.product .up-sells h2,
.woocommerce.single-product #content div.product .related h2 {
  font-size: 20px;
  margin-bottom: 29px; }

.woocommerce.single-product #content div.product .up-sells .woocommerce-loop-product__title,
.woocommerce.single-product #content div.product .related .woocommerce-loop-product__title {
  font-size: 14px;
  margin: 0;
  padding: 17px 0 0;
  text-align: center; }

.woocommerce.single-product #content div.product .up-sells ul.products li.product,
.woocommerce.single-product #content div.product .related ul.products li.product {
  margin: 0 1.28% 27px;
  width: 23.071%; }
  .woocommerce.single-product #content div.product .up-sells ul.products li.product:first-of-type,
  .woocommerce.single-product #content div.product .related ul.products li.product:first-of-type {
    margin-left: 0; }
  .woocommerce.single-product #content div.product .up-sells ul.products li.product:last-of-type,
  .woocommerce.single-product #content div.product .related ul.products li.product:last-of-type {
    margin-right: 0; }
  @media (max-width: 768px) {
    .woocommerce.single-product #content div.product .up-sells ul.products li.product,
    .woocommerce.single-product #content div.product .related ul.products li.product {
      clear: none;
      float: left; }
      .woocommerce.single-product #content div.product .up-sells ul.products li.product:nth-child(2n),
      .woocommerce.single-product #content div.product .related ul.products li.product:nth-child(2n) {
        float: left; } }
  @media (max-width: 480px) {
    .woocommerce.single-product #content div.product .up-sells ul.products li.product,
    .woocommerce.single-product #content div.product .related ul.products li.product {
      margin: 0 0 27px;
      width: 100%; } }

.variations select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #ebebeb;
  border-radius: 0;
  box-sizing: border-box;
  color: #626262;
  cursor: pointer;
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 15px;
  outline: none;
  padding: 10px;
  position: relative;
  z-index: 1; }

.variations .reset_variations {
  font-family: "Lato", sans-serif;
  text-transform: uppercase; }

.variations svg {
  position: relative;
  right: 40px; }
  .variations svg path {
    fill: #626262; }

.variations select:hover + svg path {
  fill: #2d2d2d; }

.variations tr,
.variations tr:nth-child(2n+2) {
  background: transparent; }

/*--------------------------------------------------------------
# WooCommerce Checkout
--------------------------------------------------------------*/
.woocommerce-checkout .entry-title {
  font-size: 24px; }

.woocommerce .woocommerce-info {
  border-top: 0;
  color: #2d2d2d;
  font-size: 14px;
  margin-bottom: 10px !important;
  padding: 13px 15px 12px !important; }
  .woocommerce .woocommerce-info:before {
    content: ''; }
  .woocommerce .woocommerce-info a {
    text-decoration: none; }

.woocommerce form.login,
.woocommerce form.checkout_coupon {
  border-color: #f4f4f4;
  border-radius: 0;
  margin: 0.5em 0;
  padding: 10px 20px; }
  .woocommerce form.login input.input-text,
  .woocommerce form.checkout_coupon input.input-text {
    border-radius: 0;
    padding: 0.5em; }
  .woocommerce form.login .form-row,
  .woocommerce form.checkout_coupon .form-row {
    padding: 1em 0; }
  .woocommerce form.login input.button,
  .woocommerce form.checkout_coupon input.button {
    background-color: #24c48a;
    border-radius: 0;
    color: #fff;
    margin-right: 1.2em; }
    .woocommerce form.login input.button:hover,
    .woocommerce form.checkout_coupon input.button:hover {
      background-color: #24c48a; }
  .woocommerce form.login a,
  .woocommerce form.checkout_coupon a {
    text-decoration: none; }

.woocommerce .woocommerce-checkout .checkout-details {
  float: left;
  margin-top: 51px;
  width: 48.6842%; }
  @media (max-width: 768px) {
    .woocommerce .woocommerce-checkout .checkout-details {
      float: none;
      width: 100%; } }
  .woocommerce .woocommerce-checkout .checkout-details h3 {
    font-size: 24px;
    margin: 0 0 6px; }
    .woocommerce .woocommerce-checkout .checkout-details h3 label {
      font-size: 13px; }
  .woocommerce .woocommerce-checkout .checkout-details .form-row {
    margin: 0 0 4px; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row label {
      color: #2d2d2d;
      font-size: 13px;
      margin: 13px 0 1px; }
      .woocommerce .woocommerce-checkout .checkout-details .form-row label abbr {
        color: inherit; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row input.input-text,
    .woocommerce .woocommerce-checkout .checkout-details .form-row textarea.input-text {
      font-size: 13px;
      padding: 11px 13px 10px; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row textarea.input-text {
      min-height: 90px; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row [class*="_select"] {
      font-size: 13px; }
      .woocommerce .woocommerce-checkout .checkout-details .form-row [class*="_select"] a {
        border-color: #ebebeb; }
    .woocommerce .woocommerce-checkout .checkout-details .form-row.woocommerce-validated input.input-text {
      border-color: #24c48a; }

.woocommerce .woocommerce-checkout .order-details {
  border: 1px solid #f4f4f4;
  float: right;
  margin-top: 30px;
  padding: 30px;
  width: 48.6842%; }
  @media screen and (max-width: 768px) {
    .woocommerce .woocommerce-checkout .order-details {
      float: none;
      width: 100%; } }
  .woocommerce .woocommerce-checkout .order-details h3 {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 20px; }
  .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order {
    color: #2d2d2d;
    font-size: 14px; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table {
      border: none;
      border-bottom: 1px solid #f4f4f4;
      font-family: "Merriweather", serif;
      margin-bottom: 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-name {
        width: 70%; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table .product-total {
        text-align: right;
        width: 30%; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tr {
        background: none; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table td {
        border-top: 1px solid #f4f4f4; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table thead tr th {
        padding: 10px 0 12px; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tbody tr td {
        padding: 13px 0 12px; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tbody tr td dl {
          margin: 0; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tbody tr td dd {
          margin: 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot th {
        border-top: 1px solid #f4f4f4;
        padding: 13px 0 12px; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .cart-subtotal td,
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order .woocommerce-checkout-review-order-table tfoot .order-total td {
        text-align: right; }
    .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment {
      background: none; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods {
        border-bottom: none;
        padding: 1em 0; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods li {
          border-bottom: 1px solid #f4f4f4;
          padding: 0.5em 0; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_methods label {
          font-size: 13px; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box {
        margin: 0;
        background-color: transparent; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box:before {
          border: none; }
        .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .payment_box p:first-child {
          margin-top: 0; }
      .woocommerce .woocommerce-checkout .order-details .woocommerce-checkout-review-order #payment .place-order {
        float: left;
        margin: 4px 0 0;
        padding: 0; }

/*--------------------------------------------------------------
# WooCommerce Cart
--------------------------------------------------------------*/
.woocommerce-cart .entry-title {
  font-size: 24px; }

.woocommerce-cart .woocommerce-message,
.woocommerce-cart .woocommerce-info {
  border-top: none; }
  .woocommerce-cart .woocommerce-message:before,
  .woocommerce-cart .woocommerce-info:before {
    color: #24c48a; }

.woocommerce-cart table.shop_table {
  border-radius: 0;
  font-family: "Merriweather", serif;
  padding: 15px 30px; }
  @media (max-width: 768px) {
    .woocommerce-cart table.shop_table {
      padding: 1em; } }
  .woocommerce-cart table.shop_table tr {
    background: none; }
  .woocommerce-cart table.shop_table td {
    padding: 0; }
  .woocommerce-cart table.shop_table thead {
    font-family: "Lato", sans-serif;
    font-size: 12px; }
    .woocommerce-cart table.shop_table thead th {
      font-size: 12px;
      padding-left: 0; }
  .woocommerce-cart table.shop_table tbody td {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 700; }
  .woocommerce-cart table.shop_table tbody .product-remove {
    padding-left: 10px;
    width: 30px; }
    .woocommerce-cart table.shop_table tbody .product-remove a {
      color: #adadad !important;
      font-weight: 100; }
      .woocommerce-cart table.shop_table tbody .product-remove a:hover, .woocommerce-cart table.shop_table tbody .product-remove a:focus {
        background: transparent;
        color: #6d6d6d !important; }
  .woocommerce-cart table.shop_table tbody .product-thumbnail {
    line-height: 0;
    padding: 20px;
    width: 116px; }
    .woocommerce-cart table.shop_table tbody .product-thumbnail a {
      display: inline-block;
      line-height: 0; }
      .woocommerce-cart table.shop_table tbody .product-thumbnail a img {
        width: 76px; }
    @media (max-width: 768px) {
      .woocommerce-cart table.shop_table tbody .product-thumbnail {
        display: none; } }
  .woocommerce-cart table.shop_table tbody .product-name {
    font-size: 14px; }
    .woocommerce-cart table.shop_table tbody .product-name a {
      color: #2d2d2d;
      font-weight: 700;
      text-decoration: none; }
    .woocommerce-cart table.shop_table tbody .product-name .variation {
      color: #626262; }
    .woocommerce-cart table.shop_table tbody .product-name dd {
      margin: 0; }
  .woocommerce-cart table.shop_table tbody .product-price {
    width: 150px; }
    .woocommerce-cart table.shop_table tbody .product-price .amount {
      font-size: 14px;
      font-weight: bold; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart table.shop_table tbody .product-price {
        display: none; } }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls::after {
    clear: both;
    content: "";
    display: table; }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls input {
    height: 32px;
    width: 32px; }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls .qty {
    -moz-appearance: textfield;
    border-color: #adadad;
    border-radius: 0;
    border-width: 1px;
    color: #626262;
    float: left;
    font-family: "Lato", sans-serif;
    padding: 0;
    width: 38px; }
    .woocommerce-cart table.shop_table tbody .quantity.button-controls .qty::-webkit-inner-spin-button, .woocommerce-cart table.shop_table tbody .quantity.button-controls .qty::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls .add,
  .woocommerce-cart table.shop_table tbody .quantity.button-controls .subtract {
    border-radius: 0;
    border-color: #adadad;
    border-width: 1px;
    background: #f9f9f9;
    float: left;
    padding: 0; }
    .woocommerce-cart table.shop_table tbody .quantity.button-controls .add:hover,
    .woocommerce-cart table.shop_table tbody .quantity.button-controls .subtract:hover {
      background: #626262;
      color: #fff; }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls .subtract {
    border-right: none; }
  .woocommerce-cart table.shop_table tbody .quantity.button-controls .add {
    border-left: none; }
  .woocommerce-cart table.shop_table tbody .product-quantity {
    width: 150px; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart table.shop_table tbody .product-quantity {
        width: 60px; } }
  @media (max-width: 768px) {
    .woocommerce-cart table.shop_table tbody .add,
    .woocommerce-cart table.shop_table tbody .subtract {
      display: none; } }
  .woocommerce-cart table.shop_table tbody .product-subtotal {
    width: 150px; }
    @media screen and (max-width: 768px) {
      .woocommerce-cart table.shop_table tbody .product-subtotal {
        width: 60px; } }
  .woocommerce-cart table.shop_table td.actions {
    padding: 2em 0 0 0; }
    .woocommerce-cart table.shop_table td.actions input.button {
      background-color: #24c48a;
      border: none;
      color: #fff; }
      .woocommerce-cart table.shop_table td.actions input.button:hover {
        background: #00a76a; }
      @media (max-width: 768px) {
        .woocommerce-cart table.shop_table td.actions input.button {
          width: 100% !important; } }
    .woocommerce-cart table.shop_table td.actions .coupon input.input-text {
      border-radius: 0;
      box-sizing: border-box;
      font-size: 13px;
      min-height: 38px;
      padding: 5px 15px;
      width: 200px !important; }
      @media (max-width: 768px) {
        .woocommerce-cart table.shop_table td.actions .coupon input.input-text {
          margin-bottom: 10px;
          width: 100% !important; } }

.woocommerce .cart-collaterals .cart_totals {
  float: none;
  width: 100%; }
  .woocommerce .cart-collaterals .cart_totals h2 {
    font-size: 24px;
    margin-bottom: 5px; }
  .woocommerce .cart-collaterals .cart_totals table {
    border: none; }
    .woocommerce .cart-collaterals .cart_totals table tr th {
      border-top-width: 0;
      border-bottom: 1px solid #f4f4f4;
      color: #2d2d2d;
      font-size: 14px;
      line-height: 1;
      margin: 0;
      padding: 20px 0 18px;
      width: 150px; }
    .woocommerce .cart-collaterals .cart_totals table tr td {
      border-top-width: 0;
      border-bottom: 1px solid #f4f4f4;
      line-height: 1;
      padding: 20px 0 18px;
      text-align: right; }
    .woocommerce .cart-collaterals .cart_totals table tr.shipping p {
      margin-top: 0.25em;
      margin-bottom: 0; }
      .woocommerce .cart-collaterals .cart_totals table tr.shipping p a {
        text-decoration: none; }
    .woocommerce .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .shipping-calculator-button {
      color: #24c48a; }
      .woocommerce .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .shipping-calculator-button:hover {
        color: #24c48a; }
    .woocommerce .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button {
      background-color: #24c48a;
      border-radius: 0;
      color: #fff; }
      .woocommerce .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button:hover {
        background-color: #24c48a; }
      @media screen and (max-width: 768px) {
        .woocommerce .cart-collaterals .cart_totals table tr.shipping .shipping-calculator-form .button {
          width: 100% !important; } }

.woocommerce .cart-collaterals .wc-proceed-to-checkout {
  padding: 24px 0; }
  .woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
    float: right;
    font-size: 1em; }
    @media screen and (max-width: 768px) {
      .woocommerce .cart-collaterals .wc-proceed-to-checkout a.checkout-button {
        margin-bottom: 10px;
        width: 100%; } }

.main-navigation .shopping-cart {
  bottom: 15px;
  display: none;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative; }
  .header-design-4 .main-navigation .shopping-cart {
    bottom: 0; }
  .main-navigation .shopping-cart > li {
    padding: 0; }
    .main-navigation .shopping-cart > li:hover .shopping-cart-dropdown, .main-navigation .shopping-cart > li.focus .shopping-cart-dropdown {
      opacity: 1;
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      transform: scaleY(1);
      visibility: visible; }
  .main-navigation .shopping-cart .shopping-cart-dropdown {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    float: left;
    list-style: none;
    margin-left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    visibility: hidden;
    z-index: 99999; }
  .main-navigation .shopping-cart .widget_shopping_cart_content {
    padding: 20px 20px 30px; }
  .main-navigation .shopping-cart .shopping-cart-link {
    line-height: 1;
    position: relative;
    vertical-align: middle; }
    .main-navigation .shopping-cart .shopping-cart-link .shopping-cart-text {
      display: none; }
    .main-navigation .shopping-cart .shopping-cart-link .shopping-cart-count {
      background: #24c48a;
      border-radius: 50%;
      color: #fff;
      height: 20px;
      font-family: 'Lato', sans-serif;
      font-size: 11px;
      padding-top: 4px;
      position: absolute;
      right: -11px;
      text-align: center;
      top: -17px;
      width: 20px; }
    .main-navigation .shopping-cart .shopping-cart-link .svg-icon-cart path {
      fill: #626262; }
  .main-navigation .shopping-cart .shopping-cart-dropdown {
    top: 35px;
    width: 300px; }
    .main-navigation .shopping-cart .shopping-cart-dropdown .mini_cart_item a {
      white-space: normal; }

#mobile-navigation .shopping-cart-link {
  background: #f4f4f4;
  border-bottom: 1px solid #ebebeb;
  color: #626262;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  letter-spacing: .1em;
  line-height: 42px;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  width: 100%; }
  #mobile-navigation .shopping-cart-link svg {
    height: 20px;
    position: relative;
    top: 4px; }
  #mobile-navigation .shopping-cart-link .shopping-cart-count {
    background: #24c48a;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    height: 18px;
    line-height: normal;
    margin-left: 8px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 18px; }

.mega-menu-primary .main-navigation #mega-menu-wrap-primary {
  display: inline-block; }

.mega-menu-primary .main-navigation .shopping-cart {
  bottom: 0;
  top: 10px; }

.woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item {
  border-bottom: 1px solid #f4f4f4;
  box-sizing: border-box;
  margin: 0 0 13px 0;
  padding: 0 0 13px 0;
  position: relative; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item::after {
    clear: both;
    content: "";
    display: table; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a {
    margin: 0; }
    .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a.remove {
      background: transparent;
      color: #626262 !important;
      font-size: 14px;
      float: right;
      left: auto !important;
      right: 0;
      width: 30px !important; }
    .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item a:not(.remove) {
      color: #626262;
      display: block;
      font-weight: normal;
      line-height: 1.5em; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item img {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
    width: 64px; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .quantity {
    display: block;
    font-size: 14px;
    margin: 0;
    padding-top: 5px; }
    .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .quantity .amount {
      color: #24c48a; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item:last-child {
    margin-bottom: 0; }
  .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .variation {
    border: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-top: 5px; }
    .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .variation .variation-color {
      margin-bottom: 0;
      padding-bottom: 0; }
    .woocommerce .widget_shopping_cart_content .cart_list .mini_cart_item .variation dd {
      margin-left: 15px; }

.woocommerce .widget_shopping_cart_content .total {
  border-top: none !important;
  color: #626262;
  font-size: 14px;
  margin: 14px 0 0 0;
  padding: 5px 0 !important; }
  .woocommerce .widget_shopping_cart_content .total strong {
    font-weight: normal; }
  .woocommerce .widget_shopping_cart_content .total span {
    color: #2d2d2d;
    font-weight: 700; }

.woocommerce .widget_shopping_cart_content .buttons {
  margin: 14px 0 0 0;
  padding-top: 0;
  text-align: center;
  text-transform: uppercase; }
  .woocommerce .widget_shopping_cart_content .buttons a {
    padding: 12px 1.5em;
    width: 49%; }
    .woocommerce .widget_shopping_cart_content .buttons a:last-of-type {
      margin-right: 0; }
    .woocommerce .widget_shopping_cart_content .buttons a.wc-forward:first-of-type {
      background: transparent;
      border: 2px solid #dadada;
      color: #2d2d2d; }
      .woocommerce .widget_shopping_cart_content .buttons a.wc-forward:first-of-type:hover {
        background: #00a76a;
        border-color: #00a76a;
        color: #fff; }
    .woocommerce .widget_shopping_cart_content .buttons a.checkout {
      padding: 13px 1.5em; }
      .woocommerce .widget_shopping_cart_content .buttons a.checkout:hover {
        color: #fff; }

/*--------------------------------------------------------------
# WooCommerce Widgets
--------------------------------------------------------------*/
.woocommerce .widget-area#secondary .widget_price_filter .ui-slider {
  background-color: #f4f4f4;
  margin: 0 0 25px 0; }
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-range,
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #24c48a; }
  .woocommerce .widget-area#secondary .widget_price_filter .ui-slider .ui-slider-handle {
    border-radius: 0;
    height: 16px;
    margin: 0;
    top: -6px;
    width: 10px; }

.woocommerce .widget-area#secondary .widget_price_filter .ui-widget-content {
  border-radius: 0; }

.woocommerce .widget-area#secondary .widget_price_filter .ui-slider-horizontal {
  height: 3px; }

.woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount {
  text-align: left; }
  .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .price_label {
    font-weight: light; }
    .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .price_label span {
      font-weight: bold; }
  .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .button {
    background: transparent;
    border-radius: 0;
    border: 1px solid #f4f4f4;
    color: #626262;
    font-weight: normal;
    float: right; }
    .woocommerce .widget-area#secondary .widget_price_filter .price_slider_amount .button:hover {
      border-color: #00a76a;
      box-shadow: none;
      color: #00a76a; }

.woocommerce .widget-area#secondary .widget_product_tag_cloud a {
  border: 1px solid #f4f4f4;
  color: #626262;
  display: inline-block;
  font-size: 15px;
  line-height: normal;
  margin: 0 7px 10px 0;
  padding: 8px 10px;
  text-decoration: none; }
  .woocommerce .widget-area#secondary .widget_product_tag_cloud a:hover {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff !important; }

.woocommerce .widget-area#secondary .widget_products .product_list_widget li,
.woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li,
.woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li {
  padding-bottom: 25px;
  padding-top: 0;
  border-bottom: none; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li img,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li img,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    width: 70px; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li .product-title,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li .product-title,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li .product-title {
    display: inline-block;
    padding: 10px 0; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li .amount,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li .amount,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li .amount {
    color: #24c48a;
    display: inline; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li ins,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li ins,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li ins {
    background: transparent; }
  .woocommerce .widget-area#secondary .widget_products .product_list_widget li del,
  .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li del,
  .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li del {
    color: #adadad; }
    .woocommerce .widget-area#secondary .widget_products .product_list_widget li del .amount,
    .woocommerce .widget-area#secondary .widget_recent_reviews .product_list_widget li del .amount,
    .woocommerce .widget-area#secondary .widget_top_rated_products .product_list_widget li del .amount {
      color: #adadad;
      display: inline; }

.woocommerce .widget-area#secondary .widget_product_search .search-form {
  position: relative; }
  .woocommerce .widget-area#secondary .widget_product_search .search-form input[type="search"] {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%; }
  .woocommerce .widget-area#secondary .widget_product_search .search-form button[type="submit"] {
    border: none;
    padding: 7px;
    padding-left: 8px;
    position: absolute;
    right: 15px;
    top: 3px; }
    .woocommerce .widget-area#secondary .widget_product_search .search-form button[type="submit"] svg {
      fill: #626262;
      height: 16px;
      width: 16px; }

.woocommerce .widget-area#secondary .widget_shopping_cart li {
  border-bottom: none;
  padding-bottom: 25px;
  padding-top: 0; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li img {
    float: left;
    margin-left: 0;
    margin-right: 20px;
    width: 70px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .product-title {
    display: inline-block;
    padding: 10px 0; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .quantity .amount {
    color: #24c48a; }
  .woocommerce .widget-area#secondary .widget_shopping_cart li .remove {
    color: #adadad !important;
    left: auto;
    right: 0; }
    .woocommerce .widget-area#secondary .widget_shopping_cart li .remove:hover {
      background: transparent;
      color: #2d2d2d !important; }

.woocommerce .widget-area#secondary .widget_shopping_cart .total {
  border-top: 1px solid #f4f4f4;
  font-size: 13px;
  margin-bottom: 10px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart .total strong {
    font-weight: lighter; }

.woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button {
  background: transparent;
  border: 2px solid #ebebeb;
  border-radius: 0;
  display: inline;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 7px 13px; }
  .woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button.checkout {
    background: #24c48a;
    border-color: #24c48a;
    color: #fff; }
    .woocommerce .widget-area#secondary .widget_shopping_cart .buttons .button.checkout:hover {
      background: #00a76a;
      border-color: #00a76a; }

.woocommerce .widget-area#secondary .widget_layered_nav li a:before {
  background: transparent;
  color: #adadad !important; }

.woocommerce .widget-area#secondary .widget_layered_nav li a:hover:before {
  background: transparent;
  color: #2d2d2d !important; }

.woocommerce .widget-area#secondary .widget_layered_nav_filters li {
  border-bottom: none;
  padding: 0; }
  .woocommerce .widget-area#secondary .widget_layered_nav_filters li a:before {
    background: transparent;
    color: #adadad !important; }
  .woocommerce .widget-area#secondary .widget_layered_nav_filters li a:hover:before {
    background: transparent;
    color: #2d2d2d !important; }

/*--------------------------------------------------------------
# WooCommerce Quickview
--------------------------------------------------------------*/
.woocommerce a.product-quick-view-button {
  margin-right: 1px; }

.woocommerce #quick-view-container {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999; }
  .woocommerce #quick-view-container .quick-view {
    background: white;
    bottom: 0;
    display: inline-block;
    height: 500px;
    left: 0;
    margin: auto;
    max-width: 1040px;
    min-width: 300px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    width: 100%; }
    @media (max-width: 1100px) {
      .woocommerce #quick-view-container .quick-view {
        width: 85%; } }
  .woocommerce #quick-view-container .quickview-close-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 0.5;
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .woocommerce #quick-view-container .product-content-wrapper .product-image-wrapper {
    float: left;
    max-height: 500px;
    overflow-y: hidden;
    width: 50%; }
    @media (max-width: 600px) {
      .woocommerce #quick-view-container .product-content-wrapper .product-image-wrapper {
        float: none;
        max-height: auto;
        overflow-y: auto;
        width: 100%; } }
    .woocommerce #quick-view-container .product-content-wrapper .product-image-wrapper img {
      vertical-align: middle; }
  .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper {
    width: 50%;
    float: right;
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    position: relative; }
    @media (max-width: 600px) {
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper {
        float: none;
        max-height: auto;
        overflow-y: auto;
        width: 100%; } }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper a {
      text-decoration: none; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .product_title {
      text-align: left;
      margin-bottom: 10px; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price {
      margin: 15px 0;
      color: #24c48a;
      font-family: "Lato", sans-serif;
      font-size: 20px; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price del {
        opacity: 0.5; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price ins {
        background: none; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price {
      font-size: 20px;
      margin-bottom: 15px; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price del,
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price del .amount {
        color: #adadad; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price .amount,
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .price ins {
        color: #24c48a; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .star-rating {
      float: none; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .out-of-stock {
      color: #24c48a; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .cart {
      padding-bottom: 20px; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .cart .quantity {
        display: inline-block;
        float: left;
        margin: -1px 6px 0 0; }
        .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .cart .quantity input {
          padding: 5px 6px; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls::after {
      clear: both;
      content: "";
      display: table; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .qty {
      -moz-appearance: textfield;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      color: #626262;
      float: left;
      height: 40px;
      padding: 0;
      width: 40px; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .qty::-webkit-inner-spin-button, .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .qty::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .add,
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .subtract {
      background: #f9f9f9;
      border-color: #adadad;
      border-radius: 0;
      border-width: 1px;
      float: left;
      height: 40px;
      padding: 6px 10px;
      width: 40px; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .add:hover,
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .subtract:hover {
        background: #c6c6c6;
        color: #626262; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .subtract {
      border-right: none; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .quantity.button-controls .add {
      border-left: none; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper button {
      background-color: #24c48a;
      border: none;
      border-radius: 0;
      font-size: 14px;
      margin-left: 15px;
      outline: none;
      padding: 13px 20px;
      text-transform: uppercase; }
      .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper button:hover {
        background-color: #00a76a; }
    .woocommerce #quick-view-container .product-content-wrapper .product-info-wrapper .woocommerce-product-rating a {
      display: inline-block; }
  .woocommerce #quick-view-container .product-content-wrapper .variations {
    border: none;
    margin-bottom: 15px; }
    .woocommerce #quick-view-container .product-content-wrapper .variations td {
      padding-top: 0;
      padding-bottom: 0; }
      .woocommerce #quick-view-container .product-content-wrapper .variations td.label {
        font-family: "Merriweather", serif;
        font-weight: 700;
        padding: 0;
        vertical-align: top; }
      .woocommerce #quick-view-container .product-content-wrapper .variations td select {
        max-width: 100%;
        min-width: 75%; }
      .woocommerce #quick-view-container .product-content-wrapper .variations td .reset_variations {
        font-size: 12px;
        margin-left: 10px; }
  .woocommerce #quick-view-container .product-content-wrapper .single_variation_wrap .woocommerce-variation-price {
    margin: 15px 0; }
