body.tempo-not-has-header header div.tempo-topper {
  border-bottom: 1px solid #e9e9e9;
}
.wp-custom-header {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
.wp-custom-header img {
  width: 100%;
  height: 100%;
  margin: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tempo-header-mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
header.tempo-header {
  position: relative;
}
header.tempo-header div.tempo-topper {
  background-color: #f6f6f6;
  max-width: 100%;
  width: 100%;
  padding: 30px 0px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity {
  display: inline-block;
  float: left;
  padding-right: 15px;
  width: -webkit-calc( 0% + 250px );
  width: -moz-calc( 0% + 250px );
  width: -ms-calc( 0% + 250px );
  width: -o-calc( 0% + 250px );
  width: calc( 0% + 250px );
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity {
    width: 33.33333333%;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity {
    width: -webkit-calc( 100% - 47px );
    width: -moz-calc( 100% - 47px );
    width: -ms-calc( 100% - 47px );
    width: -o-calc( 100% - 47px );
    width: calc( 100% - 47px );
  }
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.custom-logo-link {
  border: 0px;
  max-width: 100% !important;
  max-height: 70px;
  display: block;
  margin-top: -16px;
  margin-bottom: -16px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.custom-logo-link img {
  max-width: 100% !important;
  max-height: 70px;
  margin: 0px;
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -ms-border-radius: initial;
  -o-border-radius: initial;
  border-radius: initial;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-icon-logo {
  border: 0px;
  display: inline;
  float: left;
  max-width: 70px;
  max-height: 70px;
  margin-right: 18px;
  margin-top: -11px;
  margin-bottom: -11px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-icon-logo img {
  max-width: 100%;
  margin: 0px;
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-icon-logo {
    max-width: 45% !important;
  }
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title {
  border: 0px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 3px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title:hover {
  color: #000000;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description {
  border: 0px;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding-bottom: 3px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description:hover {
  color: #000000;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper {
  display: inline-block;
  float: right;
  padding-left: 15px;
  width: -webkit-calc( 100% - 250px );
  width: -moz-calc( 100% - 250px );
  width: -ms-calc( 100% - 250px );
  width: -o-calc( 100% - 250px );
  width: calc( 100% - 250px );
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper {
    width: 66.66666667%;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper {
    width: 47px;
  }
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo {
    width: 33.33333333%;
  }
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo + div.tempo-navigation-wrapper {
    width: 66.66666667%;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo {
    width: -webkit-calc( 100% - 47px );
    width: -moz-calc( 100% - 47px );
    width: -ms-calc( 100% - 47px );
    width: -o-calc( 100% - 47px );
    width: calc( 100% - 47px );
  }
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo + div.tempo-navigation-wrapper {
    width: 47px;
  }
}
@media ( max-width: 480px ) {
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo a.tempo-site-title,
  header.tempo-header div.tempo-topper div.tempo-site-identity.tempo-icon-logo a.tempo-site-description {
    display: none;
  }
}
header.tempo-header div.tempo-header-partial {
  position: relative;
  background-position: center;
}
header.tempo-header div.tempo-header-partial .tempo-header-content {
  position: relative;
  padding-top: 213px;
  padding-bottom: 190px;
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 180px;
    padding-bottom: 161px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 140px;
    padding-bottom: 125px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 95px;
    padding-bottom: 84px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 87px;
    padding-bottom: 78px;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-text.left {
  text-align: left;
}
header.tempo-header div.tempo-header-partial .tempo-header-text.center {
  text-align: center;
}
header.tempo-header div.tempo-header-partial .tempo-header-text.right {
  text-align: right;
}
header.tempo-header div.tempo-header-partial .tempo-header-headline,
header.tempo-header div.tempo-header-partial .tempo-header-description {
  display: block;
  border: none;
}
header.tempo-header div.tempo-header-partial .tempo-header-headline {
  color: #ffffff;
  font-family: Serif;
  font-size: 40px;
  line-height: 56px;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
  margin: 0px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial .tempo-header-headline:hover {
  text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-headline {
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-headline {
    font-size: 28px;
    line-height: 40px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-headline {
    font-size: 22px;
    line-height: 32px;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 200;
  margin: 12px 0px 0px 0px;
  text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial .tempo-header-description:hover {
  color: #ffffff;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-description {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-description {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-description {
    font-size: 16px;
    line-height: 24px;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons.left {
  text-align: left;
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons.left {
    text-align: center;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons.center {
  text-align: center;
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons.right {
  text-align: right;
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons.right {
    text-align: center;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
  margin: 5px 10px;
  padding: 12px 30px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.18);
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn:hover {
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
    display: block;
    margin: 10px auto;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
  padding-top: 50px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 42px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 33px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 22px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 20px;
  }
}
header.tempo-header div.tempo-header-partial h1.tempo-headline {
  color: #ffffff;
  font-size: 40px;
  line-height: 56px;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial h1.tempo-headline:hover {
  text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial h1.tempo-headline {
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial h1.tempo-headline {
    font-size: 28px;
    line-height: 40px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial h1.tempo-headline {
    font-size: 22px;
    line-height: 32px;
  }
}
header.tempo-header div.tempo-header-partial img {
  margin: 0px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
header.tempo-header div.tempo-header-partial.tempo-sample-image {
  min-height: auto;
  height: auto;
}
header.tempo-header div.tempo-header-partial.tempo-sample-image img {
  max-width: 100%;
  width: 100%;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image h1.tempo-headline {
  margin: 30px 0px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image h1.tempo-headline {
    margin: 26px 0px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image h1.tempo-headline {
    margin: 20px 0px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image h1.tempo-headline {
    margin: 16px 0px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories {
  margin-bottom: 30px;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a {
    font-size: 16px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a {
    font-size: 14px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.9);
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories span {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 8px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories {
    margin-bottom: 26px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories {
    margin-bottom: 20px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories {
    margin-bottom: 15px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta {
  color: rgba(255, 255, 255, 0.85);
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta i.author-icon {
  font-size: 14px;
  margin-left: 8px;
  margin-right: 5px;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta i.clock-icon {
  margin-left: 8px;
  margin-right: 5px;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a {
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.55);
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image hr {
  background-color: rgba(255, 255, 255, 0.1);
  height: 2px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image hr {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation {
  text-align: initial;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li a {
  color: rgba(255, 255, 255, 0.55);
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li#home-text a {
  border: none;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li#home-text a i {
  margin-right: 4px;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li#home-text a span {
  border-bottom: 3px solid transparent;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li#home-text a:hover span {
  border-color: rgba(255, 255, 255, 0.2);
}
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li:after,
header.tempo-header div.tempo-header-partial.tempo-hero-image nav.tempo-navigation ul.tempo-menu-list li::after {
  color: rgba(255, 255, 255, 0.7);
  content: '\e867';
  margin: 0px 8px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.details {
  text-align: right;
}
@media ( max-width: 767px ) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.details {
    display: none;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.details span.counter-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  padding: 9px 26px;
  margin-top: -7px;
  margin-bottom: -7px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.details span.counter-wrapper span.counter {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 5px;
  font-size: 13px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio .tempo-header-content {
  text-align: initial;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories a {
  background-color: #2f3238;
  border: 0px;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 18px;
  margin: 0px 8px 5px 0px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories a:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories a {
    font-size: 13px;
    line-height: 15px;
    padding: 11px 16px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories a {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 14px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories a {
    font-size: 11px;
    line-height: 13px;
    padding: 7px 13px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-categories span {
  display: none;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline {
  position: relative;
  margin-top: 45px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  font-family: Serif;
  font-weight: normal;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline:before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  content: '';
  width: 80px;
  height: 2px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline:hover {
  color: #ffffff;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline:hover:before {
  width: 120px;
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline {
    margin-top: 38px;
    margin-bottom: 34px;
    padding-bottom: 34px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline {
    margin-top: 30px;
    margin-bottom: 26px;
    padding-bottom: 26px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline {
    margin-top: 20px;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a {
  border: 0px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  text-transform: uppercase;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a.author {
  margin-right: 20px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a i {
  margin-right: 8px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a:hover {
  border: 0px;
  color: #ffffff;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.tempo-meta a {
    font-size: 11px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation {
  text-align: initial;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li a {
  color: rgba(255, 255, 255, 0.55);
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li#home-text a {
  border: none;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li#home-text a i {
  margin-right: 4px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li#home-text a span {
  border-bottom: 3px solid transparent;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li#home-text a:hover span {
  border-color: rgba(255, 255, 255, 0.2);
}
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li:after,
header.tempo-header div.tempo-header-partial.tempo-portfolio nav.tempo-navigation ul.tempo-menu-list li::after {
  color: rgba(255, 255, 255, 0.7);
  content: '\e867';
  margin: 0px 8px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.details {
  text-align: right;
}
@media ( max-width: 767px ) {
  header.tempo-header div.tempo-header-partial.tempo-portfolio div.details {
    display: none;
  }
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.details span.counter-wrapper {
  background-color: #2f3238;
  color: rgba(255, 255, 255, 0.85);
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 18px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio div.details span.counter-wrapper span.counter {
  color: #ffffff;
  margin-right: 5px;
}
header.tempo-header div.tempo-header-partial.tempo-audio h1.tempo-headline {
  color: #ffffff;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-audio h1.tempo-headline:hover {
  text-shadow: 0px 8px 30px rgba(0, 0, 0, 0.35);
}
header.tempo-header div.tempo-header-partial.tempo-audio p.tempo-description {
  color: rgba(255, 255, 255, 0.75);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta span {
  color: rgba(255, 255, 255, 0.85);
  margin-left: 15px;
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta span {
    font-size: 13px;
    line-height: 17px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta span {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta span {
    font-size: 11px;
    line-height: 15px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta span i {
  margin-right: 5px;
  font-size: 14px;
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-meta {
    display: none;
  }
}
header.tempo-header div.tempo-header-partial.tempo-audio hr {
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 80px;
  width: 80px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-audio hr {
    margin-top: 68px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-audio hr {
    margin-top: 52px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-audio hr {
    margin-top: 36px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-audio:hover hr {
  background-color: rgba(255, 255, 255, 0.4);
  width: 310px;
  max-width: 80%;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player {
  margin-top: 60px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player {
    margin-top: 52px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player {
    margin-top: 40px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player {
    margin-top: 28px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player {
    margin-top: 10px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-embed,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-embed body,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls {
  background: transparent;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-total,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-total:hover,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total:hover {
  background: rgba(255, 255, 255, 0.3);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-loaded,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-current {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-loaded:hover,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current:hover,
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-current:hover {
  background: rgba(255, 255, 255, 0.3);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls .mejs-time-rail .mejs-time-current:hover {
  background: rgba(255, 255, 255, 0.4);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls div.mejs-button {
  background: rgba(0, 0, 0, 0);
  margin-right: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls div.mejs-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls div.mejs-button {
  margin-top: 0px;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls div.mejs-button button:before {
  color: rgba(255, 255, 255, 0.3);
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls div.mejs-button button:hover:before {
  color: rgba(255, 255, 255, 0.6);
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls div.mejs-time-rail {
  padding-top: 3px;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-container .mejs-controls .mejs-time {
  padding-top: 8px;
}
header.tempo-header div.tempo-header-partial.tempo-audio div.tempo-music-player .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: -2px;
}
header.tempo-header div.tempo-header-partial.tempo-google-map {
  min-height: 440px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-google-map {
    min-height: 375px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-google-map {
    min-height: 290px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-google-map {
    min-height: 250px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-google-map .tempo-shortcode.gmap,
header.tempo-header div.tempo-header-partial.tempo-google-map .tempo-canvas {
  height: 100%;
}
