@-webkit-keyframes tempo-mask-collapse-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-moz-keyframes tempo-mask-collapse-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-o-keyframes tempo-mask-collapse-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes tempo-mask-collapse-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@-webkit-keyframes tempo-menu-collapse-in {
  from {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
  to {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
}
@-moz-keyframes tempo-menu-collapse-in {
  from {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
  to {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
}
@-o-keyframes tempo-menu-collapse-in {
  from {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
  to {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
}
@keyframes tempo-menu-collapse-in {
  from {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
  to {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
}
@-webkit-keyframes tempo-mask-collapse-out {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-moz-keyframes tempo-mask-collapse-out {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-o-keyframes tempo-mask-collapse-out {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes tempo-mask-collapse-out {
  from {
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes tempo-menu-collapse-out {
  from {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
  to {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
}
@-moz-keyframes tempo-menu-collapse-out {
  from {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
  to {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
}
@-o-keyframes tempo-menu-collapse-out {
  from {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
  to {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
}
@keyframes tempo-menu-collapse-out {
  from {
    right: 0px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  }
  to {
    right: -240px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  }
}
body div.nav-collapse.tempo-navigation-wrapper {
  display: none;
  position: absolute;
  width: 100%;
}
body div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow {
  position: fixed;
  left: 0px;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 240px;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form {
  background-color: #f6f6f6;
  border-bottom: 1px solid #ededed;
  padding: 9px 15px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form fieldset {
  margin: 0px;
  background-color: #ffffff;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"] {
  background: transparent;
  width: -webkit-calc( 100% - 45px  );
  width: -moz-calc( 100% - 45px  );
  width: -ms-calc( 100% - 45px  );
  width: -o-calc( 100% - 45px  );
  width: calc( 100% - 45px  );
  border: none;
  border-color: transparent;
  padding: 8px 0px 8px 5px;
  line-height: 20px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form button[type="submit"] {
  float: right;
  width: 40px;
  line-height: 18px;
  padding: 8px;
  margin: 0px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li {
  display: block;
  text-transform: uppercase;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #999999;
  display: block;
  padding: 9px 15px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: #000000;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li.current-menu-item > a {
  background-color: #337ab7;
  color: #ffffff;
}
body div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-out {
  display: none;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-out div.tempo-navigation-shadow {
  background-color: rgba(0, 0, 0, 0);
  -webkit-animation: tempo-mask-collapse-out 0.2s ease-out 1;
  -moz-animation: tempo-mask-collapse-out 0.2s ease-out 1;
  -ms-animation: tempo-mask-collapse-out 0.2s ease-out 1;
  -o-animation: tempo-mask-collapse-out 0.2s ease-out 1;
  animation: tempo-mask-collapse-out 0.2s ease-out 1;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-out nav.tempo-navigation {
  right: -240px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0);
  -webkit-animation: tempo-menu-collapse-out 0.2s ease-out 1;
  -moz-animation: tempo-menu-collapse-out 0.2s ease-out 1;
  -ms-animation: tempo-menu-collapse-out 0.2s ease-out 1;
  -o-animation: tempo-menu-collapse-out 0.2s ease-out 1;
  animation: tempo-menu-collapse-out 0.2s ease-out 1;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-in {
  display: block;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-in div.tempo-navigation-shadow {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: tempo-mask-collapse-in 0.2s ease-out 1;
  -moz-animation: tempo-mask-collapse-in 0.2s ease-out 1;
  -ms-animation: tempo-mask-collapse-in 0.2s ease-out 1;
  -o-animation: tempo-mask-collapse-in 0.2s ease-out 1;
  animation: tempo-mask-collapse-in 0.2s ease-out 1;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-in nav.tempo-navigation {
  right: 0px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: tempo-menu-collapse-in 0.2s ease-out 1;
  -moz-animation: tempo-menu-collapse-in 0.2s ease-out 1;
  -ms-animation: tempo-menu-collapse-in 0.2s ease-out 1;
  -o-animation: tempo-menu-collapse-in 0.2s ease-out 1;
  animation: tempo-menu-collapse-in 0.2s ease-out 1;
}
body div.nav-collapse.tempo-navigation-wrapper,
body div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  top: 0px;
  height: 100vh;
}
body.admin-bar div.nav-collapse.tempo-navigation-wrapper,
body.admin-bar div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow,
body.admin-bar div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  top: 32px;
  height: -webkit-calc( 100vh - 32px );
  height: -moz-calc( 100vh - 32px );
  height: -ms-calc( 100vh - 32px );
  height: -o-calc( 100vh - 32px );
  height: calc( 100vh - 32px );
}
@media ( max-width: 782px ) {
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper,
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow,
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
    top: 46px;
    height: -webkit-calc( 100vh - 46px );
    height: -moz-calc( 100vh - 46px );
    height: -ms-calc( 100vh - 46px );
    height: -o-calc( 100vh - 46px );
    height: calc( 100vh - 46px );
  }
}
@media ( max-width: 600px ) {
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper,
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow,
  body.admin-bar div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
    top: 46px;
    height: -webkit-calc( 100vh - 46px );
    height: -moz-calc( 100vh - 46px );
    height: -ms-calc( 100vh - 46px );
    height: -o-calc( 100vh - 46px );
    height: calc( 100vh - 46px );
  }
  body.scrolled-46.admin-bar div.nav-collapse.tempo-navigation-wrapper,
  body.scrolled-46.admin-bar div.nav-collapse.tempo-navigation-wrapper div.tempo-navigation-shadow,
  body.scrolled-46.admin-bar div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
    top: 0px;
    height: -webkit-calc( 100vh - 0px );
    height: -moz-calc( 100vh - 0px );
    height: -ms-calc( 100vh - 0px );
    height: -o-calc( 100vh - 0px );
    height: calc( 100vh - 0px );
  }
}
header.tempo-header nav .tempo-search-key {
  background: none;
  border: 1px solid rgba(255, 240, 0, 0.5);
}
header.tempo-header nav ul li a {
  color: rgba(69, 69, 69, 0.8);
}
header.tempo-header nav ul li a:hover {
  color: #000000;
}
header.tempo-header nav ul li.current-menu-ancestor > a,
header.tempo-header nav ul li.current-menu-item > a,
header.tempo-header nav ul li:hover > a {
  color: #000000;
}
header.tempo-header nav button.tempo-btn-collapse {
  background-color: transparent;
  color: rgba(69, 69, 69, 0.8);
}
header.tempo-header nav button.tempo-btn-collapse:hover {
  color: #000000;
  cursor: pointer;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper button.tempo-btn-collapse {
  border: none;
  float: right;
  padding: 0px;
  margin-left: 15px;
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper button.tempo-btn-collapse {
    margin-left: 0px;
  }
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper button.tempo-btn-collapse i {
  font-size: 32px;
  line-height: 28px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper i.tempo-icon-menu-1:hover + div.tempo-menu-wrapper,
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content.tempo-menu-visible div.tempo-menu-wrapper {
  opacity: 1;
  filter: alpha(opacity=100);
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
  margin-right: 35px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list {
  text-align: right;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li {
  text-transform: uppercase;
  text-align: initial;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li a {
  border: none;
  display: block;
  padding: 7px 10px;
  margin: 0px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li.menu-item-has-children > a:after,
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li.menu-item-has-children > a::after {
  content: '\e865';
  margin-left: 9px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul {
  display: none;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul {
  background: #ffffff;
  position: absolute;
  font-weight: 400;
  width: 240px;
  padding: 2px;
  margin-top: -5px;
  margin-left: -12px;
  z-index: 100;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul ul {
  margin-left: 239px;
  margin-top: -50px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul li {
  display: block;
  margin: 0px;
  padding: 0px 5px 0px 0px;
  margin-right: -5px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul li a {
  font-size: 12px;
  font-weight: 400;
  padding: 12px 20px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul li.menu-item-has-children > a:after,
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul li.menu-item-has-children > a::after {
  content: '\e87a';
  float: right;
  margin-left: 15px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list ul > li:first-child > a {
  border-top: none;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list li:hover > ul {
  display: block;
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper:hover div.tempo-menu-wrapper {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    display: none;
  }
}
