/* Section - Upgrade Now */
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title:hover,
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title:focus {
	background-color: #fff !important;
}
[id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title .button {
	color: #fff;
	font-weight: 400;
	text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
	margin-top:  -4px;
	margin-left: 8px;
	background: #0085ba;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	-moz-box-shadow: 0 1px 0 #006799;
	-o-box-shadow: 0 1px 0 #006799;
	box-shadow: 0 1px 0 #006799;
}
.rtl [id*="thinkup_customizer_section_upgrade_top"] .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

/* Change "Save & Publish" button color to be grey */
.wp-core-ui #customize-header-actions .button-primary {
    color: #555 !important;
	text-shadow: none !important;
    border-color: #ccc !important;
    background: #f7f7f7 !important;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;
    vertical-align: top !important;	
}
.wp-core-ui #customize-header-actions .button-primary.focus,
.wp-core-ui #customize-header-actions .button-primary.hover,
.wp-core-ui #customize-header-actions .button-primary:focus,
.wp-core-ui #customize-header-actions .button-primary:hover {
    background: #fafafa !important;
    border-color: #999 !important;
    color: #23282d !important;
}
.wp-core-ui #customize-header-actions .button-primary.active,
.wp-core-ui #customize-header-actions .button-primary.active:focus,
.wp-core-ui #customize-header-actions .button-primary.active:hover,
.wp-core-ui #customize-header-actions .button-primary:active {
    background: #eee !important;
    border-color: #999 !important;
    color: #32373c !important;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5) !important;
    box-shadow: inset 0 2px 5px -3px rgba(0,0,0,.5) !important;
}
.wp-core-ui #customize-header-actions .button-primary-disabled,
.wp-core-ui #customize-header-actions .button-primary.disabled,
.wp-core-ui #customize-header-actions .button-primary:disabled,
.wp-core-ui #customize-header-actions .button-primary[disabled] {
    opacity: 0.6;
    color: #555 !important;
    border-color: #ccc !important;
    background: #f7f7f7 !important;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08) !important;
    vertical-align: top !important;	
}