/*=================================================
            Switch Option
=================================================*/
.switch_options{
    display: block;
}
.switch_options:before,
.switch_options:after{
    content:'.';
    display:block;
    overflow:hidden;
    visibility:hidden;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
.switch_options:after{
	clear:both;
}
.switch_options span{
    display: inline-block;
    float: left;
    padding: 4px 9px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    color: #555;
    border: 1px solid #aaa;
    text-transform: uppercase;
    line-height: 16px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.switch_options span:first-of-type{
    border-radius: 2px 0 0 2px;
    border-right: 0;
}
.switch_options span:last-of-type{
    border-radius: 0 2px 2px 0;
    border-left: 0;
}
.switch_options span:hover{
    background: #fafafa;
}
.switch_options span.selected{
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    border-color: #0082A3;
    color: #fff;
}

/*=================================================
            Font Awesome Icon Lists
=================================================*/
.ap-customize-icons .icons-list-wrapper{
    height: 200px;
    display: block;
    overflow-y: scroll;
    background: #fff;
    border: 1px solid #CCCCCC;
}

.ap-customize-icons .icons-list-wrapper li{
    display: block;
    float: left;
    padding: 14px;
    height: 19px;
    width: 19px;
    font-size: 19px;
    text-align: center;
    border-radius: 50%;
}
.ap-customize-icons .icons-list-wrapper li:hover,
.ap-customize-icons .icons-list-wrapper li.selected {
    background: #5A5A5A;
    color: #fff;
}
.selected-icon-preview {
    background: #b6b6b6;
    height: 25px;
    text-align: center;
    margin-bottom: 6px;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    color: #FFFFFF;
    padding-bottom: 3px;
}
.selected-icon-preview i {
    font-size: 18px;
    padding: 6px;
}

/*=================================================
            Radio Image Control
=================================================*/
.customize-control-radio-image .ui-button {
    margin:        0;
    border-radius: 0;
    border:        none;
    background:    transparent;
}

.customize-control-radio-image .ui-button-text { padding: 0; }

.customize-control-radio-image img {
    box-sizing: border-box;
    max-width:  100%;
    height:     auto;
    padding:    1px;
    border:     4px solid transparent;
}

.customize-control-radio-image img:hover,
.customize-control-radio-image img:focus {
    border-color: #ddd;
}

.customize-control-radio-image .ui-state-active img {
    border-color: #00a0d2;
}

/*===================================
    Customizer section separator
====================================*/

.ap-customize-section-wrap{
    background: #e0dfdf;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0px 1px 0px;
}

#customize-control-parallaxsome_theme_info a {
    background: #2e8ecb;
    color: #fff;
    display: block;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}
#customize-control-parallaxsome_theme_info a:hover{
    color: #fff;
    background: #2380BA;
}
#customize-control-parallaxsome_theme_info a.buynow {
    padding: 0;
}

.upgrade-pro{
   background-color: #e24545;
   color: #FFF !important;
   font-size: 12px;
   padding: 5px;
   line-height: 1;
   display: block;
   margin-top: 6px;
   text-align: center;
   text-decoration: none;
}

.sticky_info_row .button{
   width: 100%;
   margin: 2px 0;
   text-align: center;
}

#customize-control-theme_info_more_theme span,
#customize-control-theme_info_pro_theme span,
#customize-control-theme_info_useful_plugins span{
 width: 100%;
 display: block;
 text-align: center;
}

.admin-pro-feature-list li{
 
    border-bottom: 1px solid #DBDBDB;
    margin: 0;
    padding: 10px 0px;
    line-height: 1;
}
.admin-pro-feature-list li:before{
     content: "\f345";
    font: 400 20px/1 dashicons;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
 
 }
.admin-pro-feature-list span{
     display: inline-block;
    width: 90%;
    vertical-align: top;
    line-height: 1.5;
}
.admin-pro-feature-list{
    margin: 0 5px;
}
.buynow{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.buynow.theme-link{
    margin-bottom: 9px;
}