input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button,
.tempo-btn,
.btn {
  border: none;
  font-size: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #9e7dd3;
  border-color: #9e7dd3;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover,
.tempo-btn:hover,
.btn:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:focus,
.button:focus,
.tempo-btn:focus,
.btn:focus,
input[type="submit"].focus,
input[type="button"].focus,
input[type="reset"].focus,
button.focus,
.button.focus,
.tempo-btn.focus,
.btn.focus,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active,
.button:active,
.tempo-btn:active,
.btn:active,
input[type="submit"].active,
input[type="button"].active,
input[type="reset"].active,
button.active,
.button.active,
.tempo-btn.active,
.btn.active {
  background-color: #9476c4;
  border-color: #9476c4;
  color: #ffffff;
}
input[type="submit"]:hover:focus,
input[type="button"]:hover:focus,
input[type="reset"]:hover:focus,
button:hover:focus,
.button:hover:focus,
.tempo-btn:hover:focus,
.btn:hover:focus,
input[type="submit"]:hover.focus,
input[type="button"]:hover.focus,
input[type="reset"]:hover.focus,
button:hover.focus,
.button:hover.focus,
.tempo-btn:hover.focus,
.btn:hover.focus,
input[type="submit"]:hover:active,
input[type="button"]:hover:active,
input[type="reset"]:hover:active,
button:hover:active,
.button:hover:active,
.tempo-btn:hover:active,
.btn:hover:active,
input[type="submit"]:hover.active,
input[type="button"]:hover.active,
input[type="reset"]:hover.active,
button:hover.active,
.button:hover.active,
.tempo-btn:hover.active,
.btn:hover.active,
input[type="submit"]:focus:active,
input[type="button"]:focus:active,
input[type="reset"]:focus:active,
button:focus:active,
.button:focus:active,
.tempo-btn:focus:active,
.btn:focus:active,
input[type="submit"]:focus.active,
input[type="button"]:focus.active,
input[type="reset"]:focus.active,
button:focus.active,
.button:focus.active,
.tempo-btn:focus.active,
.btn:focus.active,
input[type="submit"].focus.active,
input[type="button"].focus.active,
input[type="reset"].focus.active,
button.focus.active,
.button.focus.active,
.tempo-btn.focus.active,
.btn.focus.active {
  background-color: #896db5;
  border-color: #896db5;
  color: #ffffff;
}
input[type="submit"].btn-empty,
input[type="button"].btn-empty,
input[type="reset"].btn-empty,
button.btn-empty,
.button.btn-empty,
.tempo-btn.btn-empty,
.btn.btn-empty {
  color: #9e7dd3;
}
input[type="submit"].btn-empty:hover,
input[type="button"].btn-empty:hover,
input[type="reset"].btn-empty:hover,
button.btn-empty:hover,
.button.btn-empty:hover,
.tempo-btn.btn-empty:hover,
.btn.btn-empty:hover,
input[type="submit"].btn-empty:focus,
input[type="button"].btn-empty:focus,
input[type="reset"].btn-empty:focus,
button.btn-empty:focus,
.button.btn-empty:focus,
.tempo-btn.btn-empty:focus,
.btn.btn-empty:focus,
input[type="submit"].btn-empty.focus,
input[type="button"].btn-empty.focus,
input[type="reset"].btn-empty.focus,
button.btn-empty.focus,
.button.btn-empty.focus,
.tempo-btn.btn-empty.focus,
.btn.btn-empty.focus,
input[type="submit"].btn-empty:active,
input[type="button"].btn-empty:active,
input[type="reset"].btn-empty:active,
button.btn-empty:active,
.button.btn-empty:active,
.tempo-btn.btn-empty:active,
.btn.btn-empty:active,
input[type="submit"].btn-empty.active,
input[type="button"].btn-empty.active,
input[type="reset"].btn-empty.active,
button.btn-empty.active,
.button.btn-empty.active,
.tempo-btn.btn-empty.active,
.btn.btn-empty.active {
  background-color: #9476c4;
  border-color: #9476c4;
  color: #ffffff;
}
input[type="submit"].btn-empty:hover:focus,
input[type="button"].btn-empty:hover:focus,
input[type="reset"].btn-empty:hover:focus,
button.btn-empty:hover:focus,
.button.btn-empty:hover:focus,
.tempo-btn.btn-empty:hover:focus,
.btn.btn-empty:hover:focus,
input[type="submit"].btn-empty:hover.focus,
input[type="button"].btn-empty:hover.focus,
input[type="reset"].btn-empty:hover.focus,
button.btn-empty:hover.focus,
.button.btn-empty:hover.focus,
.tempo-btn.btn-empty:hover.focus,
.btn.btn-empty:hover.focus,
input[type="submit"].btn-empty:hover:active,
input[type="button"].btn-empty:hover:active,
input[type="reset"].btn-empty:hover:active,
button.btn-empty:hover:active,
.button.btn-empty:hover:active,
.tempo-btn.btn-empty:hover:active,
.btn.btn-empty:hover:active,
input[type="submit"].btn-empty:hover.active,
input[type="button"].btn-empty:hover.active,
input[type="reset"].btn-empty:hover.active,
button.btn-empty:hover.active,
.button.btn-empty:hover.active,
.tempo-btn.btn-empty:hover.active,
.btn.btn-empty:hover.active,
input[type="submit"].btn-empty:focus:active,
input[type="button"].btn-empty:focus:active,
input[type="reset"].btn-empty:focus:active,
button.btn-empty:focus:active,
.button.btn-empty:focus:active,
.tempo-btn.btn-empty:focus:active,
.btn.btn-empty:focus:active,
input[type="submit"].btn-empty:focus.active,
input[type="button"].btn-empty:focus.active,
input[type="reset"].btn-empty:focus.active,
button.btn-empty:focus.active,
.button.btn-empty:focus.active,
.tempo-btn.btn-empty:focus.active,
.btn.btn-empty:focus.active,
input[type="submit"].btn-empty.focus.active,
input[type="button"].btn-empty.focus.active,
input[type="reset"].btn-empty.focus.active,
button.btn-empty.focus.active,
.button.btn-empty.focus.active,
.tempo-btn.btn-empty.focus.active,
.btn.btn-empty.focus.active {
  background-color: #896db5;
  border-color: #896db5;
  color: #ffffff;
}
input[type="submit"].btn-hover-empty:hover,
input[type="button"].btn-hover-empty:hover,
input[type="reset"].btn-hover-empty:hover,
button.btn-hover-empty:hover,
.button.btn-hover-empty:hover,
.tempo-btn.btn-hover-empty:hover,
.btn.btn-hover-empty:hover,
input[type="submit"].btn-hover-empty:focus,
input[type="button"].btn-hover-empty:focus,
input[type="reset"].btn-hover-empty:focus,
button.btn-hover-empty:focus,
.button.btn-hover-empty:focus,
.tempo-btn.btn-hover-empty:focus,
.btn.btn-hover-empty:focus,
input[type="submit"].btn-hover-empty.focus,
input[type="button"].btn-hover-empty.focus,
input[type="reset"].btn-hover-empty.focus,
button.btn-hover-empty.focus,
.button.btn-hover-empty.focus,
.tempo-btn.btn-hover-empty.focus,
.btn.btn-hover-empty.focus,
input[type="submit"].btn-hover-empty:active,
input[type="button"].btn-hover-empty:active,
input[type="reset"].btn-hover-empty:active,
button.btn-hover-empty:active,
.button.btn-hover-empty:active,
.tempo-btn.btn-hover-empty:active,
.btn.btn-hover-empty:active,
input[type="submit"].btn-hover-empty.active,
input[type="button"].btn-hover-empty.active,
input[type="reset"].btn-hover-empty.active,
button.btn-hover-empty.active,
.button.btn-hover-empty.active,
.tempo-btn.btn-hover-empty.active,
.btn.btn-hover-empty.active {
  background-color: transparent;
  border-color: #9476c4;
  color: #9476c4;
}
input[type="submit"].btn-hover-empty:hover:focus,
input[type="button"].btn-hover-empty:hover:focus,
input[type="reset"].btn-hover-empty:hover:focus,
button.btn-hover-empty:hover:focus,
.button.btn-hover-empty:hover:focus,
.tempo-btn.btn-hover-empty:hover:focus,
.btn.btn-hover-empty:hover:focus,
input[type="submit"].btn-hover-empty:hover.focus,
input[type="button"].btn-hover-empty:hover.focus,
input[type="reset"].btn-hover-empty:hover.focus,
button.btn-hover-empty:hover.focus,
.button.btn-hover-empty:hover.focus,
.tempo-btn.btn-hover-empty:hover.focus,
.btn.btn-hover-empty:hover.focus,
input[type="submit"].btn-hover-empty:hover:active,
input[type="button"].btn-hover-empty:hover:active,
input[type="reset"].btn-hover-empty:hover:active,
button.btn-hover-empty:hover:active,
.button.btn-hover-empty:hover:active,
.tempo-btn.btn-hover-empty:hover:active,
.btn.btn-hover-empty:hover:active,
input[type="submit"].btn-hover-empty:hover.active,
input[type="button"].btn-hover-empty:hover.active,
input[type="reset"].btn-hover-empty:hover.active,
button.btn-hover-empty:hover.active,
.button.btn-hover-empty:hover.active,
.tempo-btn.btn-hover-empty:hover.active,
.btn.btn-hover-empty:hover.active,
input[type="submit"].btn-hover-empty:focus:active,
input[type="button"].btn-hover-empty:focus:active,
input[type="reset"].btn-hover-empty:focus:active,
button.btn-hover-empty:focus:active,
.button.btn-hover-empty:focus:active,
.tempo-btn.btn-hover-empty:focus:active,
.btn.btn-hover-empty:focus:active,
input[type="submit"].btn-hover-empty:focus.active,
input[type="button"].btn-hover-empty:focus.active,
input[type="reset"].btn-hover-empty:focus.active,
button.btn-hover-empty:focus.active,
.button.btn-hover-empty:focus.active,
.tempo-btn.btn-hover-empty:focus.active,
.btn.btn-hover-empty:focus.active,
input[type="submit"].btn-hover-empty.focus.active,
input[type="button"].btn-hover-empty.focus.active,
input[type="reset"].btn-hover-empty.focus.active,
button.btn-hover-empty.focus.active,
.button.btn-hover-empty.focus.active,
.tempo-btn.btn-hover-empty.focus.active,
.btn.btn-hover-empty.focus.active {
  background-color: transparent;
  border-color: #896db5;
  color: #896db5;
}
input[type="submit"].btn-search,
input[type="button"].btn-search,
input[type="reset"].btn-search,
button.btn-search,
.button.btn-search,
.tempo-btn.btn-search,
.btn.btn-search,
input[type="submit"].btn-header,
input[type="button"].btn-header,
input[type="reset"].btn-header,
button.btn-header,
.button.btn-header,
.tempo-btn.btn-header,
.btn.btn-header {
  font-size: 13px;
  background-color: #9e7dd3;
  border-color: #9e7dd3;
  color: #ffffff;
}
input[type="submit"].btn-search:hover,
input[type="button"].btn-search:hover,
input[type="reset"].btn-search:hover,
button.btn-search:hover,
.button.btn-search:hover,
.tempo-btn.btn-search:hover,
.btn.btn-search:hover,
input[type="submit"].btn-header:hover,
input[type="button"].btn-header:hover,
input[type="reset"].btn-header:hover,
button.btn-header:hover,
.button.btn-header:hover,
.tempo-btn.btn-header:hover,
.btn.btn-header:hover,
input[type="submit"].btn-search:focus,
input[type="button"].btn-search:focus,
input[type="reset"].btn-search:focus,
button.btn-search:focus,
.button.btn-search:focus,
.tempo-btn.btn-search:focus,
.btn.btn-search:focus,
input[type="submit"].btn-header:focus,
input[type="button"].btn-header:focus,
input[type="reset"].btn-header:focus,
button.btn-header:focus,
.button.btn-header:focus,
.tempo-btn.btn-header:focus,
.btn.btn-header:focus,
input[type="submit"].btn-search.focus,
input[type="button"].btn-search.focus,
input[type="reset"].btn-search.focus,
button.btn-search.focus,
.button.btn-search.focus,
.tempo-btn.btn-search.focus,
.btn.btn-search.focus,
input[type="submit"].btn-header.focus,
input[type="button"].btn-header.focus,
input[type="reset"].btn-header.focus,
button.btn-header.focus,
.button.btn-header.focus,
.tempo-btn.btn-header.focus,
.btn.btn-header.focus,
input[type="submit"].btn-search:active,
input[type="button"].btn-search:active,
input[type="reset"].btn-search:active,
button.btn-search:active,
.button.btn-search:active,
.tempo-btn.btn-search:active,
.btn.btn-search:active,
input[type="submit"].btn-header:active,
input[type="button"].btn-header:active,
input[type="reset"].btn-header:active,
button.btn-header:active,
.button.btn-header:active,
.tempo-btn.btn-header:active,
.btn.btn-header:active,
input[type="submit"].btn-search.active,
input[type="button"].btn-search.active,
input[type="reset"].btn-search.active,
button.btn-search.active,
.button.btn-search.active,
.tempo-btn.btn-search.active,
.btn.btn-search.active,
input[type="submit"].btn-header.active,
input[type="button"].btn-header.active,
input[type="reset"].btn-header.active,
button.btn-header.active,
.button.btn-header.active,
.tempo-btn.btn-header.active,
.btn.btn-header.active {
  background-color: #9476c4;
  border-color: #9476c4;
  color: #ffffff;
}
input[type="submit"].btn-search:hover:focus,
input[type="button"].btn-search:hover:focus,
input[type="reset"].btn-search:hover:focus,
button.btn-search:hover:focus,
.button.btn-search:hover:focus,
.tempo-btn.btn-search:hover:focus,
.btn.btn-search:hover:focus,
input[type="submit"].btn-header:hover:focus,
input[type="button"].btn-header:hover:focus,
input[type="reset"].btn-header:hover:focus,
button.btn-header:hover:focus,
.button.btn-header:hover:focus,
.tempo-btn.btn-header:hover:focus,
.btn.btn-header:hover:focus,
input[type="submit"].btn-search:hover.focus,
input[type="button"].btn-search:hover.focus,
input[type="reset"].btn-search:hover.focus,
button.btn-search:hover.focus,
.button.btn-search:hover.focus,
.tempo-btn.btn-search:hover.focus,
.btn.btn-search:hover.focus,
input[type="submit"].btn-header:hover.focus,
input[type="button"].btn-header:hover.focus,
input[type="reset"].btn-header:hover.focus,
button.btn-header:hover.focus,
.button.btn-header:hover.focus,
.tempo-btn.btn-header:hover.focus,
.btn.btn-header:hover.focus,
input[type="submit"].btn-search:hover:active,
input[type="button"].btn-search:hover:active,
input[type="reset"].btn-search:hover:active,
button.btn-search:hover:active,
.button.btn-search:hover:active,
.tempo-btn.btn-search:hover:active,
.btn.btn-search:hover:active,
input[type="submit"].btn-header:hover:active,
input[type="button"].btn-header:hover:active,
input[type="reset"].btn-header:hover:active,
button.btn-header:hover:active,
.button.btn-header:hover:active,
.tempo-btn.btn-header:hover:active,
.btn.btn-header:hover:active,
input[type="submit"].btn-search:hover.active,
input[type="button"].btn-search:hover.active,
input[type="reset"].btn-search:hover.active,
button.btn-search:hover.active,
.button.btn-search:hover.active,
.tempo-btn.btn-search:hover.active,
.btn.btn-search:hover.active,
input[type="submit"].btn-header:hover.active,
input[type="button"].btn-header:hover.active,
input[type="reset"].btn-header:hover.active,
button.btn-header:hover.active,
.button.btn-header:hover.active,
.tempo-btn.btn-header:hover.active,
.btn.btn-header:hover.active,
input[type="submit"].btn-search:focus:active,
input[type="button"].btn-search:focus:active,
input[type="reset"].btn-search:focus:active,
button.btn-search:focus:active,
.button.btn-search:focus:active,
.tempo-btn.btn-search:focus:active,
.btn.btn-search:focus:active,
input[type="submit"].btn-header:focus:active,
input[type="button"].btn-header:focus:active,
input[type="reset"].btn-header:focus:active,
button.btn-header:focus:active,
.button.btn-header:focus:active,
.tempo-btn.btn-header:focus:active,
.btn.btn-header:focus:active,
input[type="submit"].btn-search:focus.active,
input[type="button"].btn-search:focus.active,
input[type="reset"].btn-search:focus.active,
button.btn-search:focus.active,
.button.btn-search:focus.active,
.tempo-btn.btn-search:focus.active,
.btn.btn-search:focus.active,
input[type="submit"].btn-header:focus.active,
input[type="button"].btn-header:focus.active,
input[type="reset"].btn-header:focus.active,
button.btn-header:focus.active,
.button.btn-header:focus.active,
.tempo-btn.btn-header:focus.active,
.btn.btn-header:focus.active,
input[type="submit"].btn-search.focus.active,
input[type="button"].btn-search.focus.active,
input[type="reset"].btn-search.focus.active,
button.btn-search.focus.active,
.button.btn-search.focus.active,
.tempo-btn.btn-search.focus.active,
.btn.btn-search.focus.active,
input[type="submit"].btn-header.focus.active,
input[type="button"].btn-header.focus.active,
input[type="reset"].btn-header.focus.active,
button.btn-header.focus.active,
.button.btn-header.focus.active,
.tempo-btn.btn-header.focus.active,
.btn.btn-header.focus.active {
  background-color: #896db5;
  border-color: #896db5;
  color: #ffffff;
}
input[type="submit"].btn-search.btn-empty,
input[type="button"].btn-search.btn-empty,
input[type="reset"].btn-search.btn-empty,
button.btn-search.btn-empty,
.button.btn-search.btn-empty,
.tempo-btn.btn-search.btn-empty,
.btn.btn-search.btn-empty,
input[type="submit"].btn-header.btn-empty,
input[type="button"].btn-header.btn-empty,
input[type="reset"].btn-header.btn-empty,
button.btn-header.btn-empty,
.button.btn-header.btn-empty,
.tempo-btn.btn-header.btn-empty,
.btn.btn-header.btn-empty {
  color: #9e7dd3;
}
input[type="submit"].btn-search.btn-empty:hover,
input[type="button"].btn-search.btn-empty:hover,
input[type="reset"].btn-search.btn-empty:hover,
button.btn-search.btn-empty:hover,
.button.btn-search.btn-empty:hover,
.tempo-btn.btn-search.btn-empty:hover,
.btn.btn-search.btn-empty:hover,
input[type="submit"].btn-header.btn-empty:hover,
input[type="button"].btn-header.btn-empty:hover,
input[type="reset"].btn-header.btn-empty:hover,
button.btn-header.btn-empty:hover,
.button.btn-header.btn-empty:hover,
.tempo-btn.btn-header.btn-empty:hover,
.btn.btn-header.btn-empty:hover,
input[type="submit"].btn-search.btn-empty:focus,
input[type="button"].btn-search.btn-empty:focus,
input[type="reset"].btn-search.btn-empty:focus,
button.btn-search.btn-empty:focus,
.button.btn-search.btn-empty:focus,
.tempo-btn.btn-search.btn-empty:focus,
.btn.btn-search.btn-empty:focus,
input[type="submit"].btn-header.btn-empty:focus,
input[type="button"].btn-header.btn-empty:focus,
input[type="reset"].btn-header.btn-empty:focus,
button.btn-header.btn-empty:focus,
.button.btn-header.btn-empty:focus,
.tempo-btn.btn-header.btn-empty:focus,
.btn.btn-header.btn-empty:focus,
input[type="submit"].btn-search.btn-empty.focus,
input[type="button"].btn-search.btn-empty.focus,
input[type="reset"].btn-search.btn-empty.focus,
button.btn-search.btn-empty.focus,
.button.btn-search.btn-empty.focus,
.tempo-btn.btn-search.btn-empty.focus,
.btn.btn-search.btn-empty.focus,
input[type="submit"].btn-header.btn-empty.focus,
input[type="button"].btn-header.btn-empty.focus,
input[type="reset"].btn-header.btn-empty.focus,
button.btn-header.btn-empty.focus,
.button.btn-header.btn-empty.focus,
.tempo-btn.btn-header.btn-empty.focus,
.btn.btn-header.btn-empty.focus,
input[type="submit"].btn-search.btn-empty:active,
input[type="button"].btn-search.btn-empty:active,
input[type="reset"].btn-search.btn-empty:active,
button.btn-search.btn-empty:active,
.button.btn-search.btn-empty:active,
.tempo-btn.btn-search.btn-empty:active,
.btn.btn-search.btn-empty:active,
input[type="submit"].btn-header.btn-empty:active,
input[type="button"].btn-header.btn-empty:active,
input[type="reset"].btn-header.btn-empty:active,
button.btn-header.btn-empty:active,
.button.btn-header.btn-empty:active,
.tempo-btn.btn-header.btn-empty:active,
.btn.btn-header.btn-empty:active,
input[type="submit"].btn-search.btn-empty.active,
input[type="button"].btn-search.btn-empty.active,
input[type="reset"].btn-search.btn-empty.active,
button.btn-search.btn-empty.active,
.button.btn-search.btn-empty.active,
.tempo-btn.btn-search.btn-empty.active,
.btn.btn-search.btn-empty.active,
input[type="submit"].btn-header.btn-empty.active,
input[type="button"].btn-header.btn-empty.active,
input[type="reset"].btn-header.btn-empty.active,
button.btn-header.btn-empty.active,
.button.btn-header.btn-empty.active,
.tempo-btn.btn-header.btn-empty.active,
.btn.btn-header.btn-empty.active {
  background-color: #9476c4;
  border-color: #9476c4;
  color: #ffffff;
}
input[type="submit"].btn-search.btn-empty:hover:focus,
input[type="button"].btn-search.btn-empty:hover:focus,
input[type="reset"].btn-search.btn-empty:hover:focus,
button.btn-search.btn-empty:hover:focus,
.button.btn-search.btn-empty:hover:focus,
.tempo-btn.btn-search.btn-empty:hover:focus,
.btn.btn-search.btn-empty:hover:focus,
input[type="submit"].btn-header.btn-empty:hover:focus,
input[type="button"].btn-header.btn-empty:hover:focus,
input[type="reset"].btn-header.btn-empty:hover:focus,
button.btn-header.btn-empty:hover:focus,
.button.btn-header.btn-empty:hover:focus,
.tempo-btn.btn-header.btn-empty:hover:focus,
.btn.btn-header.btn-empty:hover:focus,
input[type="submit"].btn-search.btn-empty:hover.focus,
input[type="button"].btn-search.btn-empty:hover.focus,
input[type="reset"].btn-search.btn-empty:hover.focus,
button.btn-search.btn-empty:hover.focus,
.button.btn-search.btn-empty:hover.focus,
.tempo-btn.btn-search.btn-empty:hover.focus,
.btn.btn-search.btn-empty:hover.focus,
input[type="submit"].btn-header.btn-empty:hover.focus,
input[type="button"].btn-header.btn-empty:hover.focus,
input[type="reset"].btn-header.btn-empty:hover.focus,
button.btn-header.btn-empty:hover.focus,
.button.btn-header.btn-empty:hover.focus,
.tempo-btn.btn-header.btn-empty:hover.focus,
.btn.btn-header.btn-empty:hover.focus,
input[type="submit"].btn-search.btn-empty:hover:active,
input[type="button"].btn-search.btn-empty:hover:active,
input[type="reset"].btn-search.btn-empty:hover:active,
button.btn-search.btn-empty:hover:active,
.button.btn-search.btn-empty:hover:active,
.tempo-btn.btn-search.btn-empty:hover:active,
.btn.btn-search.btn-empty:hover:active,
input[type="submit"].btn-header.btn-empty:hover:active,
input[type="button"].btn-header.btn-empty:hover:active,
input[type="reset"].btn-header.btn-empty:hover:active,
button.btn-header.btn-empty:hover:active,
.button.btn-header.btn-empty:hover:active,
.tempo-btn.btn-header.btn-empty:hover:active,
.btn.btn-header.btn-empty:hover:active,
input[type="submit"].btn-search.btn-empty:hover.active,
input[type="button"].btn-search.btn-empty:hover.active,
input[type="reset"].btn-search.btn-empty:hover.active,
button.btn-search.btn-empty:hover.active,
.button.btn-search.btn-empty:hover.active,
.tempo-btn.btn-search.btn-empty:hover.active,
.btn.btn-search.btn-empty:hover.active,
input[type="submit"].btn-header.btn-empty:hover.active,
input[type="button"].btn-header.btn-empty:hover.active,
input[type="reset"].btn-header.btn-empty:hover.active,
button.btn-header.btn-empty:hover.active,
.button.btn-header.btn-empty:hover.active,
.tempo-btn.btn-header.btn-empty:hover.active,
.btn.btn-header.btn-empty:hover.active,
input[type="submit"].btn-search.btn-empty:focus:active,
input[type="button"].btn-search.btn-empty:focus:active,
input[type="reset"].btn-search.btn-empty:focus:active,
button.btn-search.btn-empty:focus:active,
.button.btn-search.btn-empty:focus:active,
.tempo-btn.btn-search.btn-empty:focus:active,
.btn.btn-search.btn-empty:focus:active,
input[type="submit"].btn-header.btn-empty:focus:active,
input[type="button"].btn-header.btn-empty:focus:active,
input[type="reset"].btn-header.btn-empty:focus:active,
button.btn-header.btn-empty:focus:active,
.button.btn-header.btn-empty:focus:active,
.tempo-btn.btn-header.btn-empty:focus:active,
.btn.btn-header.btn-empty:focus:active,
input[type="submit"].btn-search.btn-empty:focus.active,
input[type="button"].btn-search.btn-empty:focus.active,
input[type="reset"].btn-search.btn-empty:focus.active,
button.btn-search.btn-empty:focus.active,
.button.btn-search.btn-empty:focus.active,
.tempo-btn.btn-search.btn-empty:focus.active,
.btn.btn-search.btn-empty:focus.active,
input[type="submit"].btn-header.btn-empty:focus.active,
input[type="button"].btn-header.btn-empty:focus.active,
input[type="reset"].btn-header.btn-empty:focus.active,
button.btn-header.btn-empty:focus.active,
.button.btn-header.btn-empty:focus.active,
.tempo-btn.btn-header.btn-empty:focus.active,
.btn.btn-header.btn-empty:focus.active,
input[type="submit"].btn-search.btn-empty.focus.active,
input[type="button"].btn-search.btn-empty.focus.active,
input[type="reset"].btn-search.btn-empty.focus.active,
button.btn-search.btn-empty.focus.active,
.button.btn-search.btn-empty.focus.active,
.tempo-btn.btn-search.btn-empty.focus.active,
.btn.btn-search.btn-empty.focus.active,
input[type="submit"].btn-header.btn-empty.focus.active,
input[type="button"].btn-header.btn-empty.focus.active,
input[type="reset"].btn-header.btn-empty.focus.active,
button.btn-header.btn-empty.focus.active,
.button.btn-header.btn-empty.focus.active,
.tempo-btn.btn-header.btn-empty.focus.active,
.btn.btn-header.btn-empty.focus.active {
  background-color: #896db5;
  border-color: #896db5;
  color: #ffffff;
}
input[type="submit"].btn-search.btn-hover-empty:hover,
input[type="button"].btn-search.btn-hover-empty:hover,
input[type="reset"].btn-search.btn-hover-empty:hover,
button.btn-search.btn-hover-empty:hover,
.button.btn-search.btn-hover-empty:hover,
.tempo-btn.btn-search.btn-hover-empty:hover,
.btn.btn-search.btn-hover-empty:hover,
input[type="submit"].btn-header.btn-hover-empty:hover,
input[type="button"].btn-header.btn-hover-empty:hover,
input[type="reset"].btn-header.btn-hover-empty:hover,
button.btn-header.btn-hover-empty:hover,
.button.btn-header.btn-hover-empty:hover,
.tempo-btn.btn-header.btn-hover-empty:hover,
.btn.btn-header.btn-hover-empty:hover,
input[type="submit"].btn-search.btn-hover-empty:focus,
input[type="button"].btn-search.btn-hover-empty:focus,
input[type="reset"].btn-search.btn-hover-empty:focus,
button.btn-search.btn-hover-empty:focus,
.button.btn-search.btn-hover-empty:focus,
.tempo-btn.btn-search.btn-hover-empty:focus,
.btn.btn-search.btn-hover-empty:focus,
input[type="submit"].btn-header.btn-hover-empty:focus,
input[type="button"].btn-header.btn-hover-empty:focus,
input[type="reset"].btn-header.btn-hover-empty:focus,
button.btn-header.btn-hover-empty:focus,
.button.btn-header.btn-hover-empty:focus,
.tempo-btn.btn-header.btn-hover-empty:focus,
.btn.btn-header.btn-hover-empty:focus,
input[type="submit"].btn-search.btn-hover-empty.focus,
input[type="button"].btn-search.btn-hover-empty.focus,
input[type="reset"].btn-search.btn-hover-empty.focus,
button.btn-search.btn-hover-empty.focus,
.button.btn-search.btn-hover-empty.focus,
.tempo-btn.btn-search.btn-hover-empty.focus,
.btn.btn-search.btn-hover-empty.focus,
input[type="submit"].btn-header.btn-hover-empty.focus,
input[type="button"].btn-header.btn-hover-empty.focus,
input[type="reset"].btn-header.btn-hover-empty.focus,
button.btn-header.btn-hover-empty.focus,
.button.btn-header.btn-hover-empty.focus,
.tempo-btn.btn-header.btn-hover-empty.focus,
.btn.btn-header.btn-hover-empty.focus,
input[type="submit"].btn-search.btn-hover-empty:active,
input[type="button"].btn-search.btn-hover-empty:active,
input[type="reset"].btn-search.btn-hover-empty:active,
button.btn-search.btn-hover-empty:active,
.button.btn-search.btn-hover-empty:active,
.tempo-btn.btn-search.btn-hover-empty:active,
.btn.btn-search.btn-hover-empty:active,
input[type="submit"].btn-header.btn-hover-empty:active,
input[type="button"].btn-header.btn-hover-empty:active,
input[type="reset"].btn-header.btn-hover-empty:active,
button.btn-header.btn-hover-empty:active,
.button.btn-header.btn-hover-empty:active,
.tempo-btn.btn-header.btn-hover-empty:active,
.btn.btn-header.btn-hover-empty:active,
input[type="submit"].btn-search.btn-hover-empty.active,
input[type="button"].btn-search.btn-hover-empty.active,
input[type="reset"].btn-search.btn-hover-empty.active,
button.btn-search.btn-hover-empty.active,
.button.btn-search.btn-hover-empty.active,
.tempo-btn.btn-search.btn-hover-empty.active,
.btn.btn-search.btn-hover-empty.active,
input[type="submit"].btn-header.btn-hover-empty.active,
input[type="button"].btn-header.btn-hover-empty.active,
input[type="reset"].btn-header.btn-hover-empty.active,
button.btn-header.btn-hover-empty.active,
.button.btn-header.btn-hover-empty.active,
.tempo-btn.btn-header.btn-hover-empty.active,
.btn.btn-header.btn-hover-empty.active {
  background-color: transparent;
  border-color: #9476c4;
  color: #9476c4;
}
input[type="submit"].btn-search.btn-hover-empty:hover:focus,
input[type="button"].btn-search.btn-hover-empty:hover:focus,
input[type="reset"].btn-search.btn-hover-empty:hover:focus,
button.btn-search.btn-hover-empty:hover:focus,
.button.btn-search.btn-hover-empty:hover:focus,
.tempo-btn.btn-search.btn-hover-empty:hover:focus,
.btn.btn-search.btn-hover-empty:hover:focus,
input[type="submit"].btn-header.btn-hover-empty:hover:focus,
input[type="button"].btn-header.btn-hover-empty:hover:focus,
input[type="reset"].btn-header.btn-hover-empty:hover:focus,
button.btn-header.btn-hover-empty:hover:focus,
.button.btn-header.btn-hover-empty:hover:focus,
.tempo-btn.btn-header.btn-hover-empty:hover:focus,
.btn.btn-header.btn-hover-empty:hover:focus,
input[type="submit"].btn-search.btn-hover-empty:hover.focus,
input[type="button"].btn-search.btn-hover-empty:hover.focus,
input[type="reset"].btn-search.btn-hover-empty:hover.focus,
button.btn-search.btn-hover-empty:hover.focus,
.button.btn-search.btn-hover-empty:hover.focus,
.tempo-btn.btn-search.btn-hover-empty:hover.focus,
.btn.btn-search.btn-hover-empty:hover.focus,
input[type="submit"].btn-header.btn-hover-empty:hover.focus,
input[type="button"].btn-header.btn-hover-empty:hover.focus,
input[type="reset"].btn-header.btn-hover-empty:hover.focus,
button.btn-header.btn-hover-empty:hover.focus,
.button.btn-header.btn-hover-empty:hover.focus,
.tempo-btn.btn-header.btn-hover-empty:hover.focus,
.btn.btn-header.btn-hover-empty:hover.focus,
input[type="submit"].btn-search.btn-hover-empty:hover:active,
input[type="button"].btn-search.btn-hover-empty:hover:active,
input[type="reset"].btn-search.btn-hover-empty:hover:active,
button.btn-search.btn-hover-empty:hover:active,
.button.btn-search.btn-hover-empty:hover:active,
.tempo-btn.btn-search.btn-hover-empty:hover:active,
.btn.btn-search.btn-hover-empty:hover:active,
input[type="submit"].btn-header.btn-hover-empty:hover:active,
input[type="button"].btn-header.btn-hover-empty:hover:active,
input[type="reset"].btn-header.btn-hover-empty:hover:active,
button.btn-header.btn-hover-empty:hover:active,
.button.btn-header.btn-hover-empty:hover:active,
.tempo-btn.btn-header.btn-hover-empty:hover:active,
.btn.btn-header.btn-hover-empty:hover:active,
input[type="submit"].btn-search.btn-hover-empty:hover.active,
input[type="button"].btn-search.btn-hover-empty:hover.active,
input[type="reset"].btn-search.btn-hover-empty:hover.active,
button.btn-search.btn-hover-empty:hover.active,
.button.btn-search.btn-hover-empty:hover.active,
.tempo-btn.btn-search.btn-hover-empty:hover.active,
.btn.btn-search.btn-hover-empty:hover.active,
input[type="submit"].btn-header.btn-hover-empty:hover.active,
input[type="button"].btn-header.btn-hover-empty:hover.active,
input[type="reset"].btn-header.btn-hover-empty:hover.active,
button.btn-header.btn-hover-empty:hover.active,
.button.btn-header.btn-hover-empty:hover.active,
.tempo-btn.btn-header.btn-hover-empty:hover.active,
.btn.btn-header.btn-hover-empty:hover.active,
input[type="submit"].btn-search.btn-hover-empty:focus:active,
input[type="button"].btn-search.btn-hover-empty:focus:active,
input[type="reset"].btn-search.btn-hover-empty:focus:active,
button.btn-search.btn-hover-empty:focus:active,
.button.btn-search.btn-hover-empty:focus:active,
.tempo-btn.btn-search.btn-hover-empty:focus:active,
.btn.btn-search.btn-hover-empty:focus:active,
input[type="submit"].btn-header.btn-hover-empty:focus:active,
input[type="button"].btn-header.btn-hover-empty:focus:active,
input[type="reset"].btn-header.btn-hover-empty:focus:active,
button.btn-header.btn-hover-empty:focus:active,
.button.btn-header.btn-hover-empty:focus:active,
.tempo-btn.btn-header.btn-hover-empty:focus:active,
.btn.btn-header.btn-hover-empty:focus:active,
input[type="submit"].btn-search.btn-hover-empty:focus.active,
input[type="button"].btn-search.btn-hover-empty:focus.active,
input[type="reset"].btn-search.btn-hover-empty:focus.active,
button.btn-search.btn-hover-empty:focus.active,
.button.btn-search.btn-hover-empty:focus.active,
.tempo-btn.btn-search.btn-hover-empty:focus.active,
.btn.btn-search.btn-hover-empty:focus.active,
input[type="submit"].btn-header.btn-hover-empty:focus.active,
input[type="button"].btn-header.btn-hover-empty:focus.active,
input[type="reset"].btn-header.btn-hover-empty:focus.active,
button.btn-header.btn-hover-empty:focus.active,
.button.btn-header.btn-hover-empty:focus.active,
.tempo-btn.btn-header.btn-hover-empty:focus.active,
.btn.btn-header.btn-hover-empty:focus.active,
input[type="submit"].btn-search.btn-hover-empty.focus.active,
input[type="button"].btn-search.btn-hover-empty.focus.active,
input[type="reset"].btn-search.btn-hover-empty.focus.active,
button.btn-search.btn-hover-empty.focus.active,
.button.btn-search.btn-hover-empty.focus.active,
.tempo-btn.btn-search.btn-hover-empty.focus.active,
.btn.btn-search.btn-hover-empty.focus.active,
input[type="submit"].btn-header.btn-hover-empty.focus.active,
input[type="button"].btn-header.btn-hover-empty.focus.active,
input[type="reset"].btn-header.btn-hover-empty.focus.active,
button.btn-header.btn-hover-empty.focus.active,
.button.btn-header.btn-hover-empty.focus.active,
.tempo-btn.btn-header.btn-hover-empty.focus.active,
.btn.btn-header.btn-hover-empty.focus.active {
  background-color: transparent;
  border-color: #896db5;
  color: #896db5;
}
input[type="submit"].btn-search.btn-empty,
input[type="button"].btn-search.btn-empty,
input[type="reset"].btn-search.btn-empty,
button.btn-search.btn-empty,
.button.btn-search.btn-empty,
.tempo-btn.btn-search.btn-empty,
.btn.btn-search.btn-empty,
input[type="submit"].btn-header.btn-empty,
input[type="button"].btn-header.btn-empty,
input[type="reset"].btn-header.btn-empty,
button.btn-header.btn-empty,
.button.btn-header.btn-empty,
.tempo-btn.btn-header.btn-empty,
.btn.btn-header.btn-empty {
  background-color: transparent;
}
input[type="submit"].btn-search:hover.btn-hover-empty,
input[type="button"].btn-search:hover.btn-hover-empty,
input[type="reset"].btn-search:hover.btn-hover-empty,
button.btn-search:hover.btn-hover-empty,
.button.btn-search:hover.btn-hover-empty,
.tempo-btn.btn-search:hover.btn-hover-empty,
.btn.btn-search:hover.btn-hover-empty,
input[type="submit"].btn-header:hover.btn-hover-empty,
input[type="button"].btn-header:hover.btn-hover-empty,
input[type="reset"].btn-header:hover.btn-hover-empty,
button.btn-header:hover.btn-hover-empty,
.button.btn-header:hover.btn-hover-empty,
.tempo-btn.btn-header:hover.btn-hover-empty,
.btn.btn-header:hover.btn-hover-empty {
  background-color: transparent;
}
input[type="submit"].btn-newsletter,
input[type="button"].btn-newsletter,
input[type="reset"].btn-newsletter,
button.btn-newsletter,
.button.btn-newsletter,
.tempo-btn.btn-newsletter,
.btn.btn-newsletter,
input[type="submit"].btn-header.btn-2,
input[type="button"].btn-header.btn-2,
input[type="reset"].btn-header.btn-2,
button.btn-header.btn-2,
.button.btn-header.btn-2,
.tempo-btn.btn-header.btn-2,
.btn.btn-header.btn-2 {
  background-color: #36d678;
  border-color: #36d678;
  color: #ffffff;
}
input[type="submit"].btn-newsletter:hover,
input[type="button"].btn-newsletter:hover,
input[type="reset"].btn-newsletter:hover,
button.btn-newsletter:hover,
.button.btn-newsletter:hover,
.tempo-btn.btn-newsletter:hover,
.btn.btn-newsletter:hover,
input[type="submit"].btn-header.btn-2:hover,
input[type="button"].btn-header.btn-2:hover,
input[type="reset"].btn-header.btn-2:hover,
button.btn-header.btn-2:hover,
.button.btn-header.btn-2:hover,
.tempo-btn.btn-header.btn-2:hover,
.btn.btn-header.btn-2:hover,
input[type="submit"].btn-newsletter:focus,
input[type="button"].btn-newsletter:focus,
input[type="reset"].btn-newsletter:focus,
button.btn-newsletter:focus,
.button.btn-newsletter:focus,
.tempo-btn.btn-newsletter:focus,
.btn.btn-newsletter:focus,
input[type="submit"].btn-header.btn-2:focus,
input[type="button"].btn-header.btn-2:focus,
input[type="reset"].btn-header.btn-2:focus,
button.btn-header.btn-2:focus,
.button.btn-header.btn-2:focus,
.tempo-btn.btn-header.btn-2:focus,
.btn.btn-header.btn-2:focus,
input[type="submit"].btn-newsletter.focus,
input[type="button"].btn-newsletter.focus,
input[type="reset"].btn-newsletter.focus,
button.btn-newsletter.focus,
.button.btn-newsletter.focus,
.tempo-btn.btn-newsletter.focus,
.btn.btn-newsletter.focus,
input[type="submit"].btn-header.btn-2.focus,
input[type="button"].btn-header.btn-2.focus,
input[type="reset"].btn-header.btn-2.focus,
button.btn-header.btn-2.focus,
.button.btn-header.btn-2.focus,
.tempo-btn.btn-header.btn-2.focus,
.btn.btn-header.btn-2.focus,
input[type="submit"].btn-newsletter:active,
input[type="button"].btn-newsletter:active,
input[type="reset"].btn-newsletter:active,
button.btn-newsletter:active,
.button.btn-newsletter:active,
.tempo-btn.btn-newsletter:active,
.btn.btn-newsletter:active,
input[type="submit"].btn-header.btn-2:active,
input[type="button"].btn-header.btn-2:active,
input[type="reset"].btn-header.btn-2:active,
button.btn-header.btn-2:active,
.button.btn-header.btn-2:active,
.tempo-btn.btn-header.btn-2:active,
.btn.btn-header.btn-2:active,
input[type="submit"].btn-newsletter.active,
input[type="button"].btn-newsletter.active,
input[type="reset"].btn-newsletter.active,
button.btn-newsletter.active,
.button.btn-newsletter.active,
.tempo-btn.btn-newsletter.active,
.btn.btn-newsletter.active,
input[type="submit"].btn-header.btn-2.active,
input[type="button"].btn-header.btn-2.active,
input[type="reset"].btn-header.btn-2.active,
button.btn-header.btn-2.active,
.button.btn-header.btn-2.active,
.tempo-btn.btn-header.btn-2.active,
.btn.btn-header.btn-2.active {
  background-color: #32c770;
  border-color: #32c770;
  color: #ffffff;
}
input[type="submit"].btn-newsletter:hover:focus,
input[type="button"].btn-newsletter:hover:focus,
input[type="reset"].btn-newsletter:hover:focus,
button.btn-newsletter:hover:focus,
.button.btn-newsletter:hover:focus,
.tempo-btn.btn-newsletter:hover:focus,
.btn.btn-newsletter:hover:focus,
input[type="submit"].btn-header.btn-2:hover:focus,
input[type="button"].btn-header.btn-2:hover:focus,
input[type="reset"].btn-header.btn-2:hover:focus,
button.btn-header.btn-2:hover:focus,
.button.btn-header.btn-2:hover:focus,
.tempo-btn.btn-header.btn-2:hover:focus,
.btn.btn-header.btn-2:hover:focus,
input[type="submit"].btn-newsletter:hover.focus,
input[type="button"].btn-newsletter:hover.focus,
input[type="reset"].btn-newsletter:hover.focus,
button.btn-newsletter:hover.focus,
.button.btn-newsletter:hover.focus,
.tempo-btn.btn-newsletter:hover.focus,
.btn.btn-newsletter:hover.focus,
input[type="submit"].btn-header.btn-2:hover.focus,
input[type="button"].btn-header.btn-2:hover.focus,
input[type="reset"].btn-header.btn-2:hover.focus,
button.btn-header.btn-2:hover.focus,
.button.btn-header.btn-2:hover.focus,
.tempo-btn.btn-header.btn-2:hover.focus,
.btn.btn-header.btn-2:hover.focus,
input[type="submit"].btn-newsletter:hover:active,
input[type="button"].btn-newsletter:hover:active,
input[type="reset"].btn-newsletter:hover:active,
button.btn-newsletter:hover:active,
.button.btn-newsletter:hover:active,
.tempo-btn.btn-newsletter:hover:active,
.btn.btn-newsletter:hover:active,
input[type="submit"].btn-header.btn-2:hover:active,
input[type="button"].btn-header.btn-2:hover:active,
input[type="reset"].btn-header.btn-2:hover:active,
button.btn-header.btn-2:hover:active,
.button.btn-header.btn-2:hover:active,
.tempo-btn.btn-header.btn-2:hover:active,
.btn.btn-header.btn-2:hover:active,
input[type="submit"].btn-newsletter:hover.active,
input[type="button"].btn-newsletter:hover.active,
input[type="reset"].btn-newsletter:hover.active,
button.btn-newsletter:hover.active,
.button.btn-newsletter:hover.active,
.tempo-btn.btn-newsletter:hover.active,
.btn.btn-newsletter:hover.active,
input[type="submit"].btn-header.btn-2:hover.active,
input[type="button"].btn-header.btn-2:hover.active,
input[type="reset"].btn-header.btn-2:hover.active,
button.btn-header.btn-2:hover.active,
.button.btn-header.btn-2:hover.active,
.tempo-btn.btn-header.btn-2:hover.active,
.btn.btn-header.btn-2:hover.active,
input[type="submit"].btn-newsletter:focus:active,
input[type="button"].btn-newsletter:focus:active,
input[type="reset"].btn-newsletter:focus:active,
button.btn-newsletter:focus:active,
.button.btn-newsletter:focus:active,
.tempo-btn.btn-newsletter:focus:active,
.btn.btn-newsletter:focus:active,
input[type="submit"].btn-header.btn-2:focus:active,
input[type="button"].btn-header.btn-2:focus:active,
input[type="reset"].btn-header.btn-2:focus:active,
button.btn-header.btn-2:focus:active,
.button.btn-header.btn-2:focus:active,
.tempo-btn.btn-header.btn-2:focus:active,
.btn.btn-header.btn-2:focus:active,
input[type="submit"].btn-newsletter:focus.active,
input[type="button"].btn-newsletter:focus.active,
input[type="reset"].btn-newsletter:focus.active,
button.btn-newsletter:focus.active,
.button.btn-newsletter:focus.active,
.tempo-btn.btn-newsletter:focus.active,
.btn.btn-newsletter:focus.active,
input[type="submit"].btn-header.btn-2:focus.active,
input[type="button"].btn-header.btn-2:focus.active,
input[type="reset"].btn-header.btn-2:focus.active,
button.btn-header.btn-2:focus.active,
.button.btn-header.btn-2:focus.active,
.tempo-btn.btn-header.btn-2:focus.active,
.btn.btn-header.btn-2:focus.active,
input[type="submit"].btn-newsletter.focus.active,
input[type="button"].btn-newsletter.focus.active,
input[type="reset"].btn-newsletter.focus.active,
button.btn-newsletter.focus.active,
.button.btn-newsletter.focus.active,
.tempo-btn.btn-newsletter.focus.active,
.btn.btn-newsletter.focus.active,
input[type="submit"].btn-header.btn-2.focus.active,
input[type="button"].btn-header.btn-2.focus.active,
input[type="reset"].btn-header.btn-2.focus.active,
button.btn-header.btn-2.focus.active,
.button.btn-header.btn-2.focus.active,
.tempo-btn.btn-header.btn-2.focus.active,
.btn.btn-header.btn-2.focus.active {
  background-color: #2fbb69;
  border-color: #2fbb69;
  color: #ffffff;
}
input[type="submit"].btn-newsletter.btn-empty,
input[type="button"].btn-newsletter.btn-empty,
input[type="reset"].btn-newsletter.btn-empty,
button.btn-newsletter.btn-empty,
.button.btn-newsletter.btn-empty,
.tempo-btn.btn-newsletter.btn-empty,
.btn.btn-newsletter.btn-empty,
input[type="submit"].btn-header.btn-2.btn-empty,
input[type="button"].btn-header.btn-2.btn-empty,
input[type="reset"].btn-header.btn-2.btn-empty,
button.btn-header.btn-2.btn-empty,
.button.btn-header.btn-2.btn-empty,
.tempo-btn.btn-header.btn-2.btn-empty,
.btn.btn-header.btn-2.btn-empty {
  color: #36d678;
}
input[type="submit"].btn-newsletter.btn-empty:hover,
input[type="button"].btn-newsletter.btn-empty:hover,
input[type="reset"].btn-newsletter.btn-empty:hover,
button.btn-newsletter.btn-empty:hover,
.button.btn-newsletter.btn-empty:hover,
.tempo-btn.btn-newsletter.btn-empty:hover,
.btn.btn-newsletter.btn-empty:hover,
input[type="submit"].btn-header.btn-2.btn-empty:hover,
input[type="button"].btn-header.btn-2.btn-empty:hover,
input[type="reset"].btn-header.btn-2.btn-empty:hover,
button.btn-header.btn-2.btn-empty:hover,
.button.btn-header.btn-2.btn-empty:hover,
.tempo-btn.btn-header.btn-2.btn-empty:hover,
.btn.btn-header.btn-2.btn-empty:hover,
input[type="submit"].btn-newsletter.btn-empty:focus,
input[type="button"].btn-newsletter.btn-empty:focus,
input[type="reset"].btn-newsletter.btn-empty:focus,
button.btn-newsletter.btn-empty:focus,
.button.btn-newsletter.btn-empty:focus,
.tempo-btn.btn-newsletter.btn-empty:focus,
.btn.btn-newsletter.btn-empty:focus,
input[type="submit"].btn-header.btn-2.btn-empty:focus,
input[type="button"].btn-header.btn-2.btn-empty:focus,
input[type="reset"].btn-header.btn-2.btn-empty:focus,
button.btn-header.btn-2.btn-empty:focus,
.button.btn-header.btn-2.btn-empty:focus,
.tempo-btn.btn-header.btn-2.btn-empty:focus,
.btn.btn-header.btn-2.btn-empty:focus,
input[type="submit"].btn-newsletter.btn-empty.focus,
input[type="button"].btn-newsletter.btn-empty.focus,
input[type="reset"].btn-newsletter.btn-empty.focus,
button.btn-newsletter.btn-empty.focus,
.button.btn-newsletter.btn-empty.focus,
.tempo-btn.btn-newsletter.btn-empty.focus,
.btn.btn-newsletter.btn-empty.focus,
input[type="submit"].btn-header.btn-2.btn-empty.focus,
input[type="button"].btn-header.btn-2.btn-empty.focus,
input[type="reset"].btn-header.btn-2.btn-empty.focus,
button.btn-header.btn-2.btn-empty.focus,
.button.btn-header.btn-2.btn-empty.focus,
.tempo-btn.btn-header.btn-2.btn-empty.focus,
.btn.btn-header.btn-2.btn-empty.focus,
input[type="submit"].btn-newsletter.btn-empty:active,
input[type="button"].btn-newsletter.btn-empty:active,
input[type="reset"].btn-newsletter.btn-empty:active,
button.btn-newsletter.btn-empty:active,
.button.btn-newsletter.btn-empty:active,
.tempo-btn.btn-newsletter.btn-empty:active,
.btn.btn-newsletter.btn-empty:active,
input[type="submit"].btn-header.btn-2.btn-empty:active,
input[type="button"].btn-header.btn-2.btn-empty:active,
input[type="reset"].btn-header.btn-2.btn-empty:active,
button.btn-header.btn-2.btn-empty:active,
.button.btn-header.btn-2.btn-empty:active,
.tempo-btn.btn-header.btn-2.btn-empty:active,
.btn.btn-header.btn-2.btn-empty:active,
input[type="submit"].btn-newsletter.btn-empty.active,
input[type="button"].btn-newsletter.btn-empty.active,
input[type="reset"].btn-newsletter.btn-empty.active,
button.btn-newsletter.btn-empty.active,
.button.btn-newsletter.btn-empty.active,
.tempo-btn.btn-newsletter.btn-empty.active,
.btn.btn-newsletter.btn-empty.active,
input[type="submit"].btn-header.btn-2.btn-empty.active,
input[type="button"].btn-header.btn-2.btn-empty.active,
input[type="reset"].btn-header.btn-2.btn-empty.active,
button.btn-header.btn-2.btn-empty.active,
.button.btn-header.btn-2.btn-empty.active,
.tempo-btn.btn-header.btn-2.btn-empty.active,
.btn.btn-header.btn-2.btn-empty.active {
  background-color: #32c770;
  border-color: #32c770;
  color: #ffffff;
}
input[type="submit"].btn-newsletter.btn-empty:hover:focus,
input[type="button"].btn-newsletter.btn-empty:hover:focus,
input[type="reset"].btn-newsletter.btn-empty:hover:focus,
button.btn-newsletter.btn-empty:hover:focus,
.button.btn-newsletter.btn-empty:hover:focus,
.tempo-btn.btn-newsletter.btn-empty:hover:focus,
.btn.btn-newsletter.btn-empty:hover:focus,
input[type="submit"].btn-header.btn-2.btn-empty:hover:focus,
input[type="button"].btn-header.btn-2.btn-empty:hover:focus,
input[type="reset"].btn-header.btn-2.btn-empty:hover:focus,
button.btn-header.btn-2.btn-empty:hover:focus,
.button.btn-header.btn-2.btn-empty:hover:focus,
.tempo-btn.btn-header.btn-2.btn-empty:hover:focus,
.btn.btn-header.btn-2.btn-empty:hover:focus,
input[type="submit"].btn-newsletter.btn-empty:hover.focus,
input[type="button"].btn-newsletter.btn-empty:hover.focus,
input[type="reset"].btn-newsletter.btn-empty:hover.focus,
button.btn-newsletter.btn-empty:hover.focus,
.button.btn-newsletter.btn-empty:hover.focus,
.tempo-btn.btn-newsletter.btn-empty:hover.focus,
.btn.btn-newsletter.btn-empty:hover.focus,
input[type="submit"].btn-header.btn-2.btn-empty:hover.focus,
input[type="button"].btn-header.btn-2.btn-empty:hover.focus,
input[type="reset"].btn-header.btn-2.btn-empty:hover.focus,
button.btn-header.btn-2.btn-empty:hover.focus,
.button.btn-header.btn-2.btn-empty:hover.focus,
.tempo-btn.btn-header.btn-2.btn-empty:hover.focus,
.btn.btn-header.btn-2.btn-empty:hover.focus,
input[type="submit"].btn-newsletter.btn-empty:hover:active,
input[type="button"].btn-newsletter.btn-empty:hover:active,
input[type="reset"].btn-newsletter.btn-empty:hover:active,
button.btn-newsletter.btn-empty:hover:active,
.button.btn-newsletter.btn-empty:hover:active,
.tempo-btn.btn-newsletter.btn-empty:hover:active,
.btn.btn-newsletter.btn-empty:hover:active,
input[type="submit"].btn-header.btn-2.btn-empty:hover:active,
input[type="button"].btn-header.btn-2.btn-empty:hover:active,
input[type="reset"].btn-header.btn-2.btn-empty:hover:active,
button.btn-header.btn-2.btn-empty:hover:active,
.button.btn-header.btn-2.btn-empty:hover:active,
.tempo-btn.btn-header.btn-2.btn-empty:hover:active,
.btn.btn-header.btn-2.btn-empty:hover:active,
input[type="submit"].btn-newsletter.btn-empty:hover.active,
input[type="button"].btn-newsletter.btn-empty:hover.active,
input[type="reset"].btn-newsletter.btn-empty:hover.active,
button.btn-newsletter.btn-empty:hover.active,
.button.btn-newsletter.btn-empty:hover.active,
.tempo-btn.btn-newsletter.btn-empty:hover.active,
.btn.btn-newsletter.btn-empty:hover.active,
input[type="submit"].btn-header.btn-2.btn-empty:hover.active,
input[type="button"].btn-header.btn-2.btn-empty:hover.active,
input[type="reset"].btn-header.btn-2.btn-empty:hover.active,
button.btn-header.btn-2.btn-empty:hover.active,
.button.btn-header.btn-2.btn-empty:hover.active,
.tempo-btn.btn-header.btn-2.btn-empty:hover.active,
.btn.btn-header.btn-2.btn-empty:hover.active,
input[type="submit"].btn-newsletter.btn-empty:focus:active,
input[type="button"].btn-newsletter.btn-empty:focus:active,
input[type="reset"].btn-newsletter.btn-empty:focus:active,
button.btn-newsletter.btn-empty:focus:active,
.button.btn-newsletter.btn-empty:focus:active,
.tempo-btn.btn-newsletter.btn-empty:focus:active,
.btn.btn-newsletter.btn-empty:focus:active,
input[type="submit"].btn-header.btn-2.btn-empty:focus:active,
input[type="button"].btn-header.btn-2.btn-empty:focus:active,
input[type="reset"].btn-header.btn-2.btn-empty:focus:active,
button.btn-header.btn-2.btn-empty:focus:active,
.button.btn-header.btn-2.btn-empty:focus:active,
.tempo-btn.btn-header.btn-2.btn-empty:focus:active,
.btn.btn-header.btn-2.btn-empty:focus:active,
input[type="submit"].btn-newsletter.btn-empty:focus.active,
input[type="button"].btn-newsletter.btn-empty:focus.active,
input[type="reset"].btn-newsletter.btn-empty:focus.active,
button.btn-newsletter.btn-empty:focus.active,
.button.btn-newsletter.btn-empty:focus.active,
.tempo-btn.btn-newsletter.btn-empty:focus.active,
.btn.btn-newsletter.btn-empty:focus.active,
input[type="submit"].btn-header.btn-2.btn-empty:focus.active,
input[type="button"].btn-header.btn-2.btn-empty:focus.active,
input[type="reset"].btn-header.btn-2.btn-empty:focus.active,
button.btn-header.btn-2.btn-empty:focus.active,
.button.btn-header.btn-2.btn-empty:focus.active,
.tempo-btn.btn-header.btn-2.btn-empty:focus.active,
.btn.btn-header.btn-2.btn-empty:focus.active,
input[type="submit"].btn-newsletter.btn-empty.focus.active,
input[type="button"].btn-newsletter.btn-empty.focus.active,
input[type="reset"].btn-newsletter.btn-empty.focus.active,
button.btn-newsletter.btn-empty.focus.active,
.button.btn-newsletter.btn-empty.focus.active,
.tempo-btn.btn-newsletter.btn-empty.focus.active,
.btn.btn-newsletter.btn-empty.focus.active,
input[type="submit"].btn-header.btn-2.btn-empty.focus.active,
input[type="button"].btn-header.btn-2.btn-empty.focus.active,
input[type="reset"].btn-header.btn-2.btn-empty.focus.active,
button.btn-header.btn-2.btn-empty.focus.active,
.button.btn-header.btn-2.btn-empty.focus.active,
.tempo-btn.btn-header.btn-2.btn-empty.focus.active,
.btn.btn-header.btn-2.btn-empty.focus.active {
  background-color: #2fbb69;
  border-color: #2fbb69;
  color: #ffffff;
}
input[type="submit"].btn-newsletter.btn-hover-empty:hover,
input[type="button"].btn-newsletter.btn-hover-empty:hover,
input[type="reset"].btn-newsletter.btn-hover-empty:hover,
button.btn-newsletter.btn-hover-empty:hover,
.button.btn-newsletter.btn-hover-empty:hover,
.tempo-btn.btn-newsletter.btn-hover-empty:hover,
.btn.btn-newsletter.btn-hover-empty:hover,
input[type="submit"].btn-header.btn-2.btn-hover-empty:hover,
input[type="button"].btn-header.btn-2.btn-hover-empty:hover,
input[type="reset"].btn-header.btn-2.btn-hover-empty:hover,
button.btn-header.btn-2.btn-hover-empty:hover,
.button.btn-header.btn-2.btn-hover-empty:hover,
.tempo-btn.btn-header.btn-2.btn-hover-empty:hover,
.btn.btn-header.btn-2.btn-hover-empty:hover,
input[type="submit"].btn-newsletter.btn-hover-empty:focus,
input[type="button"].btn-newsletter.btn-hover-empty:focus,
input[type="reset"].btn-newsletter.btn-hover-empty:focus,
button.btn-newsletter.btn-hover-empty:focus,
.button.btn-newsletter.btn-hover-empty:focus,
.tempo-btn.btn-newsletter.btn-hover-empty:focus,
.btn.btn-newsletter.btn-hover-empty:focus,
input[type="submit"].btn-header.btn-2.btn-hover-empty:focus,
input[type="button"].btn-header.btn-2.btn-hover-empty:focus,
input[type="reset"].btn-header.btn-2.btn-hover-empty:focus,
button.btn-header.btn-2.btn-hover-empty:focus,
.button.btn-header.btn-2.btn-hover-empty:focus,
.tempo-btn.btn-header.btn-2.btn-hover-empty:focus,
.btn.btn-header.btn-2.btn-hover-empty:focus,
input[type="submit"].btn-newsletter.btn-hover-empty.focus,
input[type="button"].btn-newsletter.btn-hover-empty.focus,
input[type="reset"].btn-newsletter.btn-hover-empty.focus,
button.btn-newsletter.btn-hover-empty.focus,
.button.btn-newsletter.btn-hover-empty.focus,
.tempo-btn.btn-newsletter.btn-hover-empty.focus,
.btn.btn-newsletter.btn-hover-empty.focus,
input[type="submit"].btn-header.btn-2.btn-hover-empty.focus,
input[type="button"].btn-header.btn-2.btn-hover-empty.focus,
input[type="reset"].btn-header.btn-2.btn-hover-empty.focus,
button.btn-header.btn-2.btn-hover-empty.focus,
.button.btn-header.btn-2.btn-hover-empty.focus,
.tempo-btn.btn-header.btn-2.btn-hover-empty.focus,
.btn.btn-header.btn-2.btn-hover-empty.focus,
input[type="submit"].btn-newsletter.btn-hover-empty:active,
input[type="button"].btn-newsletter.btn-hover-empty:active,
input[type="reset"].btn-newsletter.btn-hover-empty:active,
button.btn-newsletter.btn-hover-empty:active,
.button.btn-newsletter.btn-hover-empty:active,
.tempo-btn.btn-newsletter.btn-hover-empty:active,
.btn.btn-newsletter.btn-hover-empty:active,
input[type="submit"].btn-header.btn-2.btn-hover-empty:active,
input[type="button"].btn-header.btn-2.btn-hover-empty:active,
input[type="reset"].btn-header.btn-2.btn-hover-empty:active,
button.btn-header.btn-2.btn-hover-empty:active,
.button.btn-header.btn-2.btn-hover-empty:active,
.tempo-btn.btn-header.btn-2.btn-hover-empty:active,
.btn.btn-header.btn-2.btn-hover-empty:active,
input[type="submit"].btn-newsletter.btn-hover-empty.active,
input[type="button"].btn-newsletter.btn-hover-empty.active,
input[type="reset"].btn-newsletter.btn-hover-empty.active,
button.btn-newsletter.btn-hover-empty.active,
.button.btn-newsletter.btn-hover-empty.active,
.tempo-btn.btn-newsletter.btn-hover-empty.active,
.btn.btn-newsletter.btn-hover-empty.active,
input[type="submit"].btn-header.btn-2.btn-hover-empty.active,
input[type="button"].btn-header.btn-2.btn-hover-empty.active,
input[type="reset"].btn-header.btn-2.btn-hover-empty.active,
button.btn-header.btn-2.btn-hover-empty.active,
.button.btn-header.btn-2.btn-hover-empty.active,
.tempo-btn.btn-header.btn-2.btn-hover-empty.active,
.btn.btn-header.btn-2.btn-hover-empty.active {
  background-color: transparent;
  border-color: #32c770;
  color: #32c770;
}
input[type="submit"].btn-newsletter.btn-hover-empty:hover:focus,
input[type="button"].btn-newsletter.btn-hover-empty:hover:focus,
input[type="reset"].btn-newsletter.btn-hover-empty:hover:focus,
button.btn-newsletter.btn-hover-empty:hover:focus,
.button.btn-newsletter.btn-hover-empty:hover:focus,
.tempo-btn.btn-newsletter.btn-hover-empty:hover:focus,
.btn.btn-newsletter.btn-hover-empty:hover:focus,
input[type="submit"].btn-header.btn-2.btn-hover-empty:hover:focus,
input[type="button"].btn-header.btn-2.btn-hover-empty:hover:focus,
input[type="reset"].btn-header.btn-2.btn-hover-empty:hover:focus,
button.btn-header.btn-2.btn-hover-empty:hover:focus,
.button.btn-header.btn-2.btn-hover-empty:hover:focus,
.tempo-btn.btn-header.btn-2.btn-hover-empty:hover:focus,
.btn.btn-header.btn-2.btn-hover-empty:hover:focus,
input[type="submit"].btn-newsletter.btn-hover-empty:hover.focus,
input[type="button"].btn-newsletter.btn-hover-empty:hover.focus,
input[type="reset"].btn-newsletter.btn-hover-empty:hover.focus,
button.btn-newsletter.btn-hover-empty:hover.focus,
.button.btn-newsletter.btn-hover-empty:hover.focus,
.tempo-btn.btn-newsletter.btn-hover-empty:hover.focus,
.btn.btn-newsletter.btn-hover-empty:hover.focus,
input[type="submit"].btn-header.btn-2.btn-hover-empty:hover.focus,
input[type="button"].btn-header.btn-2.btn-hover-empty:hover.focus,
input[type="reset"].btn-header.btn-2.btn-hover-empty:hover.focus,
button.btn-header.btn-2.btn-hover-empty:hover.focus,
.button.btn-header.btn-2.btn-hover-empty:hover.focus,
.tempo-btn.btn-header.btn-2.btn-hover-empty:hover.focus,
.btn.btn-header.btn-2.btn-hover-empty:hover.focus,
input[type="submit"].btn-newsletter.btn-hover-empty:hover:active,
input[type="button"].btn-newsletter.btn-hover-empty:hover:active,
input[type="reset"].btn-newsletter.btn-hover-empty:hover:active,
button.btn-newsletter.btn-hover-empty:hover:active,
.button.btn-newsletter.btn-hover-empty:hover:active,
.tempo-btn.btn-newsletter.btn-hover-empty:hover:active,
.btn.btn-newsletter.btn-hover-empty:hover:active,
input[type="submit"].btn-header.btn-2.btn-hover-empty:hover:active,
input[type="button"].btn-header.btn-2.btn-hover-empty:hover:active,
input[type="reset"].btn-header.btn-2.btn-hover-empty:hover:active,
button.btn-header.btn-2.btn-hover-empty:hover:active,
.button.btn-header.btn-2.btn-hover-empty:hover:active,
.tempo-btn.btn-header.btn-2.btn-hover-empty:hover:active,
.btn.btn-header.btn-2.btn-hover-empty:hover:active,
input[type="submit"].btn-newsletter.btn-hover-empty:hover.active,
input[type="button"].btn-newsletter.btn-hover-empty:hover.active,
input[type="reset"].btn-newsletter.btn-hover-empty:hover.active,
button.btn-newsletter.btn-hover-empty:hover.active,
.button.btn-newsletter.btn-hover-empty:hover.active,
.tempo-btn.btn-newsletter.btn-hover-empty:hover.active,
.btn.btn-newsletter.btn-hover-empty:hover.active,
input[type="submit"].btn-header.btn-2.btn-hover-empty:hover.active,
input[type="button"].btn-header.btn-2.btn-hover-empty:hover.active,
input[type="reset"].btn-header.btn-2.btn-hover-empty:hover.active,
button.btn-header.btn-2.btn-hover-empty:hover.active,
.button.btn-header.btn-2.btn-hover-empty:hover.active,
.tempo-btn.btn-header.btn-2.btn-hover-empty:hover.active,
.btn.btn-header.btn-2.btn-hover-empty:hover.active,
input[type="submit"].btn-newsletter.btn-hover-empty:focus:active,
input[type="button"].btn-newsletter.btn-hover-empty:focus:active,
input[type="reset"].btn-newsletter.btn-hover-empty:focus:active,
button.btn-newsletter.btn-hover-empty:focus:active,
.button.btn-newsletter.btn-hover-empty:focus:active,
.tempo-btn.btn-newsletter.btn-hover-empty:focus:active,
.btn.btn-newsletter.btn-hover-empty:focus:active,
input[type="submit"].btn-header.btn-2.btn-hover-empty:focus:active,
input[type="button"].btn-header.btn-2.btn-hover-empty:focus:active,
input[type="reset"].btn-header.btn-2.btn-hover-empty:focus:active,
button.btn-header.btn-2.btn-hover-empty:focus:active,
.button.btn-header.btn-2.btn-hover-empty:focus:active,
.tempo-btn.btn-header.btn-2.btn-hover-empty:focus:active,
.btn.btn-header.btn-2.btn-hover-empty:focus:active,
input[type="submit"].btn-newsletter.btn-hover-empty:focus.active,
input[type="button"].btn-newsletter.btn-hover-empty:focus.active,
input[type="reset"].btn-newsletter.btn-hover-empty:focus.active,
button.btn-newsletter.btn-hover-empty:focus.active,
.button.btn-newsletter.btn-hover-empty:focus.active,
.tempo-btn.btn-newsletter.btn-hover-empty:focus.active,
.btn.btn-newsletter.btn-hover-empty:focus.active,
input[type="submit"].btn-header.btn-2.btn-hover-empty:focus.active,
input[type="button"].btn-header.btn-2.btn-hover-empty:focus.active,
input[type="reset"].btn-header.btn-2.btn-hover-empty:focus.active,
button.btn-header.btn-2.btn-hover-empty:focus.active,
.button.btn-header.btn-2.btn-hover-empty:focus.active,
.tempo-btn.btn-header.btn-2.btn-hover-empty:focus.active,
.btn.btn-header.btn-2.btn-hover-empty:focus.active,
input[type="submit"].btn-newsletter.btn-hover-empty.focus.active,
input[type="button"].btn-newsletter.btn-hover-empty.focus.active,
input[type="reset"].btn-newsletter.btn-hover-empty.focus.active,
button.btn-newsletter.btn-hover-empty.focus.active,
.button.btn-newsletter.btn-hover-empty.focus.active,
.tempo-btn.btn-newsletter.btn-hover-empty.focus.active,
.btn.btn-newsletter.btn-hover-empty.focus.active,
input[type="submit"].btn-header.btn-2.btn-hover-empty.focus.active,
input[type="button"].btn-header.btn-2.btn-hover-empty.focus.active,
input[type="reset"].btn-header.btn-2.btn-hover-empty.focus.active,
button.btn-header.btn-2.btn-hover-empty.focus.active,
.button.btn-header.btn-2.btn-hover-empty.focus.active,
.tempo-btn.btn-header.btn-2.btn-hover-empty.focus.active,
.btn.btn-header.btn-2.btn-hover-empty.focus.active {
  background-color: transparent;
  border-color: #2fbb69;
  color: #2fbb69;
}
input[type="submit"].btn-newsletter.btn-empty,
input[type="button"].btn-newsletter.btn-empty,
input[type="reset"].btn-newsletter.btn-empty,
button.btn-newsletter.btn-empty,
.button.btn-newsletter.btn-empty,
.tempo-btn.btn-newsletter.btn-empty,
.btn.btn-newsletter.btn-empty,
input[type="submit"].btn-header.btn-2.btn-empty,
input[type="button"].btn-header.btn-2.btn-empty,
input[type="reset"].btn-header.btn-2.btn-empty,
button.btn-header.btn-2.btn-empty,
.button.btn-header.btn-2.btn-empty,
.tempo-btn.btn-header.btn-2.btn-empty,
.btn.btn-header.btn-2.btn-empty {
  background-color: transparent;
}
input[type="submit"].btn-newsletter:hover.btn-hover-empty,
input[type="button"].btn-newsletter:hover.btn-hover-empty,
input[type="reset"].btn-newsletter:hover.btn-hover-empty,
button.btn-newsletter:hover.btn-hover-empty,
.button.btn-newsletter:hover.btn-hover-empty,
.tempo-btn.btn-newsletter:hover.btn-hover-empty,
.btn.btn-newsletter:hover.btn-hover-empty,
input[type="submit"].btn-header.btn-2:hover.btn-hover-empty,
input[type="button"].btn-header.btn-2:hover.btn-hover-empty,
input[type="reset"].btn-header.btn-2:hover.btn-hover-empty,
button.btn-header.btn-2:hover.btn-hover-empty,
.button.btn-header.btn-2:hover.btn-hover-empty,
.tempo-btn.btn-header.btn-2:hover.btn-hover-empty,
.btn.btn-header.btn-2:hover.btn-hover-empty {
  background-color: transparent;
}
input[type="submit"].btn-empty,
input[type="button"].btn-empty,
input[type="reset"].btn-empty,
button.btn-empty,
.button.btn-empty,
.tempo-btn.btn-empty,
.btn.btn-empty,
input[type="submit"].btn-hover-empty,
input[type="button"].btn-hover-empty,
input[type="reset"].btn-hover-empty,
button.btn-hover-empty,
.button.btn-hover-empty,
.tempo-btn.btn-hover-empty,
.btn.btn-hover-empty {
  border-width: 2px;
  border-style: solid;
  padding-top: 9px;
  padding-bottom: 9px;
}
input[type="submit"] i,
input[type="button"] i,
input[type="reset"] i,
button i,
.button i,
.tempo-btn i,
.btn i {
  line-height: 23px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"] {
  border-width: 2px;
  border-style: solid;
}
select,
textarea,
input:not([type=submit]):not([type=file]):not([type=button]):not([type=reset]),
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="password"] {
  border-color: #8a95a6;
  color: #666666;
}
select:focus,
textarea:focus,
input:not([type=submit]):not([type=file]):not([type=button]):not([type=reset]):focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:active,
textarea:active,
input:not([type=submit]):not([type=file]):not([type=button]):not([type=reset]):active,
input[type="tel"]:active,
input[type="url"]:active,
input[type="text"]:active,
input[type="email"]:active,
input[type="phone"]:active,
input[type="number"]:active,
input[type="password"]:active {
  border: 2px solid #1c2633;
  color: #454545;
}
