.wp-custom-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wp-custom-header img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  max-width: none;
  min-height: 130%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
header.tempo-header div.tempo-topper div.tempo-site-identity {
  padding-top: 33px;
  padding-bottom: 25px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title {
  color: #233141;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description {
  color: #233141;
}
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title:hover,
header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description:hover {
  color: #233141;
}
header.tempo-header div.tempo-header-partial .tempo-header-mask {
  background-color: rgba(28, 38, 51, 0.6);
}
header.tempo-header div.tempo-header-partial .tempo-header-content {
  position: relative;
  padding-top: 310px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 262px;
    padding-bottom: 170px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 203px;
    padding-bottom: 131px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 138px;
    padding-bottom: 89px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-content {
    padding-top: 127px;
    padding-bottom: 82px;
  }
}
header.tempo-header div.tempo-header-partial .tempo-headline,
header.tempo-header div.tempo-header-partial .tempo-header-headline {
  letter-spacing: -0.65px;
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn.btn-1 {
  background-color: #a483d6;
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn.btn-1:hover {
  background-color: #9073bc;
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn.btn-2 {
  background-color: #36d678;
}
header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn.btn-2:hover {
  background-color: #32c770;
}
@media ( max-width: 480px ) {
  header.tempo-header div.tempo-header-partial .tempo-header-buttons .tempo-btn {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}
header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
  padding-top: 80px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 68px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 52px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 36px;
  }
}
@media (max-width: 480px) {
  header.tempo-header div.tempo-header-partial .tempo-header-text + .tempo-header-buttons {
    padding-top: 32px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-audio:hover hr {
  background-color: #32c770;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-categories a {
  font-weight: 400;
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta {
  text-transform: uppercase;
  font-size: 15px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta {
    font-size: 13px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta {
    font-size: 12px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a {
  font-size: 15px;
}
@media (max-width: 991px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a {
    font-size: 13px;
  }
}
@media (max-width: 520px) {
  header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a {
    font-size: 12px;
  }
}
header.tempo-header div.tempo-header-partial.tempo-hero-image div.tempo-meta a.author {
  margin-right: 10px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline {
  font-weight: bold;
  letter-spacing: -0.65px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio h1.tempo-headline:hover:before {
  background-color: #32c770;
}
body.tempo-has-header header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title {
  color: #ffffff;
}
body.tempo-has-header header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description {
  color: #ffffff;
}
body.tempo-has-header header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-title:hover,
body.tempo-has-header header.tempo-header div.tempo-topper div.tempo-site-identity a.tempo-site-description:hover {
  color: #ffffff;
}
body.tempo-has-header header.tempo-header div.tempo-header-partial .tempo-header-content {
  margin-top: 115px;
}
@media (max-width: 1024px) {
  body.tempo-has-header header.tempo-header div.tempo-header-partial .tempo-header-content {
    margin-top: 106px;
  }
}
